@*Copyright (2016) Meridian Worldwide Transportation Group
    All Rights Reserved Worldwide
    ====================================================================================================================================================
    Program Title:                                Meridian 4th Party Logistics(M4PL)
    Programmer:                                   Deepika
    Date Programmed:                              15/4/2016
    Program Name:                                 _MenuDriverIconsFormPartial
    Purpose:                                      Provides view for Menu Driver Icons round panel

    ====================================================================================================================================================*@ 

@model M4PL.Entities.Menus
@{
    var srcIconVerySmall = M4PL_API_CommonUtils.M4PL_Constants.M4PL_EmptyImageUrl;
    if (Model.MnuIconVerySmall != null && Model.MnuIconVerySmall.Length > 0)
    {
        srcIconVerySmall = "data:image/jpeg;base64," + Convert.ToBase64String(Model.MnuIconVerySmall);
    }
    var srcIconSmall = M4PL_API_CommonUtils.M4PL_Constants.M4PL_EmptyImageUrl;
    if (Model.MnuIconSmall != null && Model.MnuIconSmall.Length > 0)
    {
        srcIconSmall = "data:image/jpeg;base64," + Convert.ToBase64String(Model.MnuIconSmall);
    }
    var srcIconMedium = M4PL_API_CommonUtils.M4PL_Constants.M4PL_EmptyImageUrl;
    if (Model.MnuIconMedium != null && Model.MnuIconMedium.Length > 0)
    {
        srcIconMedium = "data:image/jpeg;base64," + Convert.ToBase64String(Model.MnuIconMedium);
    }
    var srcIconLarge = M4PL_API_CommonUtils.M4PL_Constants.M4PL_EmptyImageUrl;
    if (Model.MnuIconLarge != null && Model.MnuIconLarge.Length > 0)
    {
        srcIconLarge = "data:image/jpeg;base64," + Convert.ToBase64String(Model.MnuIconLarge);
    }
}

@*Menu Driver Icons*@

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
        <label>Very Small Icon</label><br />
        <label for="fuIconVerySmall" class="icon_Border">
            <img id="imgPreviewIconVerySmall" src=@srcIconVerySmall class="img_CursHeiWid" />
        </label>
        <input id="fuIconVerySmall" name="fuIconVerySmall" type="file" class="dis_None" />
        <br /><small>(16X16)</small>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <label>Small Icon</label><br />
        <label for="fuIconSmall" class="icon_Border">
            <img id="imgPreviewIconSmall" src=@srcIconSmall class="img_CursHeiWid" />
        </label>
        <input class="dis_None" id="fuIconSmall" name="fuIconSmall" type="file" />
        <br /><small>(24X24)</small>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <label>Medium Icon</label><br />
        <label for="fuIconMedium" class="icon_Border">
            <img id="imgPreviewIconMedium" src=@srcIconMedium class="img_CursHeiWid" />
        </label>
        <input class="dis_None" id="fuIconMedium" name="fuIconMedium" type="file" />
        <br /><small>(36X36)</small>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <label>Large Icon</label><br />
        <label for="fuIconLarge" class="icon_Border">
            <img id="imgPreviewIconLarge" src=@srcIconLarge class="img_CursHeiWid" />
        </label>
        <input class="dis_None" id="fuIconLarge" name="fuIconLarge" type="file" />
        <br /><small>(48X48)</small>
    </div>
</div>

@*Menu Driver Icons*@