@*Copyright (2016) Meridian Worldwide Transportation Group
    All Rights Reserved Worldwide
    ====================================================================================================================================================
    Program Title:                                Meridian 4th Party Logistics(M4PL)
    Programmer:                                   Deepika
    Date Programmed:                              15/4/2016
    Program Name:                                 _MenusGridPartial
    Purpose:                                      Provides view for Menu Driver Grid

    ====================================================================================================================================================*@ 

@using System.Drawing;
@using System.Web.UI.WebControls;

@*Menu Driver Grid*@

@Html.DevExpress().GridView(settings =>
{
    settings.Name = "grid";
    settings.CallbackRouteValues = new { Controller = "MenuDriver", Action = "MenusGridPartial" };
    settings.CustomActionRouteValues = new { Controller = "MenuDriver", Action = "MenusGridPartial" };
    settings.Width = Unit.Percentage(100);
    settings.KeyFieldName = "MenuID";

    settings.SettingsBehavior.AllowFocusedRow = true;

    settings.Settings.ShowGroupPanel = true;
    settings.SettingsBehavior.AllowGroup = true;
    settings.SettingsBehavior.AllowSort = true;
    
    settings.SettingsPager.Visible = true;
    settings.SettingsPager.PageSize = 10;
    settings.SettingsPager.Position = PagerPosition.TopAndBottom;
    settings.SettingsPager.FirstPageButton.Visible = true;
    settings.SettingsPager.LastPageButton.Visible = true;
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "5", "10", "20", "50" };
    settings.Columns.Add(column =>
    {
        column.SetDataItemTemplateContent(c =>
        {
            ViewContext.Writer.Write(
                "<a href=\"" + Url.Action("Edit", "MenuDriver", new { Id = DataBinder.Eval(c.DataItem, "MenuID") }) + "\"><img title=\"Edit\" alt=\"Edit\" src=\"" + Url.Content("~/Images/phpQCqtZ2AM.jpg") + "\" /></a>"
            );
        });
        column.Settings.AllowDragDrop = DefaultBoolean.False;
        column.Settings.AllowSort = DefaultBoolean.False;
        column.Width = 20;
    });
    settings.Columns.Add(column =>
    {
        column.SetDataItemTemplateContent(c =>
        {
            ViewContext.Writer.Write(
                "<a href=\"" + Url.Action("Delete", "MenuDriver", new { Id = DataBinder.Eval(c.DataItem, "MenuID") }) + "\"><img title=\"Delete\" alt=\"Delete\" src=\"" + Url.Content("~/Images/phpY5HbjYAM.jpg") + "\" onclick=\"return confirm('Do you really want to delete this record?')\" /></a>"
            );
        });
        column.Settings.AllowDragDrop = DefaultBoolean.False;
        column.Settings.AllowSort = DefaultBoolean.False;
        column.Width = 20;
    });

    settings.Columns.Add("ModuleName", "Module Name").GroupIndex = 0;
    foreach (var item in M4PL.APIClient.API_ChooseColumns.GetAllColumns("MenuDriver").Data.LstDisplayColumnName)
    {
        if (item.ColColumnName != settings.KeyFieldName)
        {
            settings.Columns.Add(column =>
            {
                column.FieldName = item.ColColumnName;
                column.Caption = item.ColAliasName;
                column.ToolTip = item.ColCaption;
            });
        }
    }
    settings.Columns.Add("Permission");

    settings.PreRender = (s, e) =>
    {
        M4PL_Apln.Models.Settings.SetFilterRowVisibility(s as MVCxGridView, Convert.ToBoolean(Model.ShowFilterRow));
    };
    settings.BeforeGetCallbackResult = (s, e) =>
    {
        M4PL_Apln.Models.Settings.SetFilterRowVisibility(s as MVCxGridView, Convert.ToBoolean(Model.ShowFilterRow));
    };
    //contact Saving Layout - Ramkumar on May 17 16
    settings.ClientLayout = (sender, e) =>
    {
        if (e.LayoutMode == ClientLayoutMode.Saving)
        {
            Session[M4PL_API_CommonUtils.SessionNames.MenuLayout] = e.LayoutData;
        }
        else
        {
            e.LayoutData = (string)Session[M4PL_API_CommonUtils.SessionNames.MenuLayout];
        }
    };
    //End saving layout
    settings.Settings.ShowFilterRowMenu = true;
    settings.Settings.ShowFilterBar = GridViewStatusBarMode.Auto;
}).Bind(Model.DataList).GetHtml()

@*Menu Driver Grid*@