@*Copyright (2016) Meridian Worldwide Transportation Group
    All Rights Reserved Worldwide
    ====================================================================================================================================================
    Program Title:                                Meridian 4th Party Logistics(M4PL)
    Programmer:                                   Deepika
    Date Programmed:                              15/4/2016
    Program Name:                                 Index
    Purpose:                                      Provides view for Menu Driver Panel,Messages partial view and Buttons

    ====================================================================================================================================================*@ 

@using System.Web.UI.WebControls
@model M4PL_API_CommonUtils.Response<M4PL.Entities.Menus>
@{
    ViewBag.Title = "Settings";
}

<div class="container-fluid">
    @Html.DevExpress().Menu(settings =>
        {
            settings.Name = "MenuDriver";
            settings.Width = Unit.Percentage(100);

            settings.Items.Add(item =>
            {
                item.Text = "System Menu Driver Master";
                item.Image.IconID = DevExpress.Web.ASPxThemes.IconID.Chart3dclusteredcolumn16x16;
            });
        }).GetHtml()
    <div class="form-group"></div>
    @Html.Partial("_Messages", Model)
    <div class="row">
        <div class="col-md-3 form-group">
            @Html.DevExpress().Button(settings =>
            {
                settings.Name = "btnAddNew";
                settings.Text = "Add New Menu";
                settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsAddfile16x16office2013;
                settings.UseSubmitBehavior = false;
                settings.ControlStyle.CssClass = "btn btn-group";
                settings.RouteValues = Url.Action("Create", "MenuDriver");
            }).GetHtml()
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Action("MenusGridPartial")
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/App/MenuDriver.js"></script>
}