@model M4PL.Entities.Contact

@{
    ViewBag.Title = "Settings";
}

<div class="container-fluid">
    <h2>Settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3 form-group">
            <input id="btnAddRoles" type="button" value="Add Roles" class="btn btn-group" onclick="@("window.location.href='" + @Url.Action("CreateRole", "MenuDriver") + "'");" />
            <input id="btnAddMenu" type="button" value="Add Menus" class="btn btn-group" onclick="@("window.location.href='" + @Url.Action("CreateMenu", "MenuDriver") + "'");" />
        </div>
    </div>
</div>