

@using System.Collections
@using M4PL.Web.Providers
@using M4PL.Utilities;
@using M4PL.Entities.Support;
@using DevExpress.Data.Filtering.Helpers;
@using M4PL.Entities
@using M4PL.Web.Models;
@using M4PL.APIClient.ViewModels.Job;
@model CardViewResult<JobCardViewView>
@{
    ViewBag.Title = Model.PageName;
}
<div class='col-lg-12 col-md-12 col-sm-12 form-group' style='padding-bottom: 0px;height:30px;background-color:#808080;color:#ffffff;line-height:30px;font-weight:bold;text-align:center;'>
  Dash board
</div>
@Html.Partial(MvcConstants.ViewJobCardViewPartial, Model)