@*Copyright (2018) Meridian Worldwide Transportation Group
    //All Rights Reserved Worldwide
    //====================================================================================================================================================
    //Program Title:                                Job Map Route
    //Programmer:                                   Akhil
    //Date Programmed:                              25/01/2018
    //Program Name:                                 Job Map Route Form View
    //Purpose:                                      Provides view for Job Map Route
    //====================================================================================================================================================*@

@using System.Web.UI.WebControls

@model  M4PL.Web.Models.FormResult<M4PL.Entities.Job.JobMapRoute>
@{
    ViewBag.Title = Model.PageName;
    ViewBag.ModelData = Model.Record;
}

<div class="col-sm-12 col-md-12 col-lg-12 no-padding">
    @Html.DevExpress().RoundPanel(settings =>
   {
       settings.Name = "pnlJobMapRouteDetail";
       settings.Width = Unit.Percentage(100);
       settings.AllowCollapsingByHeaderClick = true;
       settings.ShowCollapseButton = true;
       settings.HeaderText = "Map Route";
       settings.Collapsed = false;
       settings.ControlStyle.CssClass = "form-layout";

       settings.SetContent(() =>
       {
           ViewContext.Writer.Write(Html.HiddenFor(m => m.Record.Id, new { Name = "Id" }).ToHtmlString());
           ViewContext.Writer.Write("<div class='col-sm-12 col-md-12 col-lg-12 no-padding'>");
           ViewContext.Writer.Write("<div class='form-row-group job-latitude'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobLatitude).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group job-latitude'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobLongitude).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("</div>");

       });
   }).GetHtml()
</div>
