<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.2.1.min.js"></script>
    @{
        <script>
            var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["API_URL"].ToString()';
        </script>
    }
</head>
<body>
    @RenderBody()
</body>
</html>
