@*<div id="Selection1" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <form id="frmbtnDelumns" name="frmbtnDelumns" method="post">
            <div id="btnDel">
                <h3>Do you really want to delete this record?</h3>
                <div class="form-group"></div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Prevent this page from creating additional dialogues.</label>
                </div>

            </div>
            <div class="modal-footer">
                @Html.DevExpress().Button(settings =>
                                {
                                    settings.Name = "btnSaveChosen";
                                    settings.Text = "Save";
                                    settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsRight16x16;
                                    settings.UseSubmitBehavior = false;

                                    settings.ClientSideEvents.Click = "SaveChosenColumns";
                                }).GetHtml()

                @Html.DevExpress().Button(settings =>
                                {
                                    settings.Name = "btncancelItem";
                                    settings.Text = "Cancel";
                                    settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsCancel16x16;
                                    settings.UseSubmitBehavior = false;

                                    settings.ClientSideEvents.Click = "function(s, e) { popupchooseCols.Hide(); }";
                                }).GetHtml()


            </div>
        </form>
    </div>
</div>*@





@*<div id="btnDel">
    <h3>Do you really want to delete this record?</h3>
    <div class="form-group"></div>
    <div class="col-md-6 col-md-offset-6 pull-right">
        <div class="row">
            <div class="col-md-4">
                @Html.DevExpress().Button(settings =>
                {
                    settings.Name = "btnOk";
                    settings.Text = "OK";
                    settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsRight16x16;
                    //settings.UseSubmitBehavior = false;
                    settings.Styles.Style.CssClass = "pull-right";
                    settings.ClientSideEvents.Click = "deleteRecord";
                }).GetHtml()
            </div>
  
            <div class="col-md-6">
                @Html.DevExpress().Button(settings =>
                {                                    
                    settings.Name = "btncancel";
                    settings.Text = "Cancel";
                    settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsCancel16x16;
                    settings.UseSubmitBehavior = false;
                    settings.Styles.Style.CssClass = "pull-right";
                    settings.ClientSideEvents.Click = "function(s, e) { popupdelete.Hide(); }";
                }).GetHtml()


            </div>
        </div>
    </div>

</div>*@

@*Start Delete Popup*@
<!-- Trigger the modal with a button -->
@*<button type="button" id="btnDel" class="btn btn-primary btn-md dis_None" data-toggle="modal" data-target="#myModal"></button>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <p><span class="glyphicon glyphicon-globe glyphiconGlobe"></span>&nbsp;Update Successful</p>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><a href="#" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-question-sign"></span></a>&nbsp;Delete</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2 alignCenter" for="email">Message:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control-static textareaWidth" rows="5" id="comment">Do you really want to delete this record?</textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                
                <button type="button" id="btnPopDelclose" class="btn btn-default center-block popBtnWidth" data-dismiss="modal">OK</button>
                <button type="button" class="btn btn-default  center-block popBtnWidth" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>*@

@*End Delete Popup*@