<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="M4PBusinessConfiguration" type="M4PL.Business.M4PBusinessConfiguration, M4PL.Business"/>
  </configSections>
  <!--"https://nav.meridianww.com:7048/DEV/ODataV4/Company"-->
  <M4PBusinessConfiguration
    NavAPIUrl=""
		NavAPIUserName="DSrivastava"
	  NavAPIPassword = "Dream@1234"
    GetVOCJobURL="http://bizmobl1.meridianww.com/VOCWS/Service1.asmx/GetVOCJob"
    NavRateReadFromItem = "True"
    ElectroluxProgramId ="20100"
    ElectroluxCustomerId ="20047"
    AWCCustomerId ="10007"
    IsElectroluxDeliveryUpdateProduction ="False"
    ElectroluxDeliveryUpdateProductionAPIUrl ="https://wsqa.electrolux-na.com:7083/integrations/edc/orderstatus"
    ElectroluxDeliveryUpdateTestAPIUrl ="https://wsqa.electrolux-na.com:7083/integrations/edc/orderstatus"
    ElectroluxDeliveryUpdateTestAPIUsername ="SVC-NA-IIB-U-MERDIAN"
    ElectroluxDeliveryUpdateTestAPIPassword ="*jXyDEPvh["
    ElectroluxDeliveryUpdateProductionAPIUsername="SVC-NA-IIB-P-MERDIAN"
    ElectroluxDeliveryUpdateProductionAPIPassword="TqUgurCI'!"
    XCBLEDTType ="2265"
    ServiceProvider="Meridian"
    M4PLApplicationURL ="https://m4pl.meridianww.com:1010/"
    M4PLApplicationLocalURL ="https://m4pl.meridianww.com:1010/"
    CompletedTransitionStatusId ="3295,3297"
    JobStatusUpdateValidationHours ="48"
  />
</configuration>