@using System.Web.UI.WebControls
@model M4PL_API_CommonUtils.Response<M4PL.Entities.Organization>
@{
    ViewBag.Title = "Organization";
}

<div class="container-fluid">
 
    @Html.DevExpress().Menu(settings =>
        {
            settings.Name = "Organizations";
            settings.Width = Unit.Percentage(100);

            settings.Items.Add(item =>
            {
                item.Text = "Organizations";
                item.Image.IconID = DevExpress.Web.ASPxThemes.IconID.BusinessobjectsBodepartment16x16;
                
            });
        }).GetHtml()
    <div class="form-group"></div>
    @Html.Partial("_Messages", Model)
    <div class="row">
        <div class="col-md-3 form-group">

            @Html.DevExpress().Button(settings =>
                {
                    settings.Name = "btnAddNew";
                    settings.Text = "Add Organisation";
                    settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsAddfile16x16office2013;
                    settings.UseSubmitBehavior = false;
                    settings.ControlStyle.CssClass = "btn btn-default";
                    settings.RouteValues = Url.Action("Create", "Organization");
                }).GetHtml()



           
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Action("OrganizationGridPartial")
        </div>
    </div>
</div>
