@{
    ViewBag.Title = "Organization";
}

<div class="container-fluid">
    <h2>Organizations</h2>
    <hr />
    <div class="row">
        <div class="col-md-3 form-group">
            <input id="btnAddNew" type="button" value="Add Organization" class="btn btn-group" onclick="@("window.location.href='" + @Url.Action("Create", "Organization") + "'");" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            @Html.Action("OrganizationGridPartial")
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/App/Organization.js"></script>
}