#nbOverview{
    width:103%;
}
@media (min-width:950px) and (max-width:1336px) {
    .ribbonCollapse3 {
        margin-top: 60px !important;
    }
}
.ribbonCollapse{
    margin-top:6px !important;
    min-height: 115%;
}
.ribbonCollapse1{
        margin-top:100px !important;
}
/*@media (min-width:1283px) and (max-width:1383px){
    .ribbonCollapse2{
     margin-top:50px !important;
}
}*/

/*@media (min-width:1224px) and (max-width:1282px){
    .ribbonCollapse4 {
        margin-top: 50px !important;
    }
}*/
/*@media (min-width:1240px) and (max-width:1249px) {
    .ribbonCollapse5 {
        margin-top: 50px !important;
    }
}*/

.myMenuCollapse{
    height:97px !important;
}
#splOverview_1{
    height:1900px !important;
}
/*Login*/
body {
    overflow-y: scroll;
    height: 89% !important;
}

html {
    overflow-y: hidden;
}

.top-nav-collapse {
    background-color: #3F729B !important;
}

a:focus, a:hover {
    text-decoration: underline;
}

.panel {
    background-color: #f6f6f6;
}

.top-nav-collapse {
    background-color: #5bc0de !important;
}

.dxr-tabContent {
    display: block;
    width: 1645px;
    position: static;
    margin-left: -13px;
    border-top-width: 1px;
}

@media (min-width:1280px) and (max-width: 1366px) {
    .myMenuStyle {
        height: 29% !important;
    }

    /*#splOverview {
            margin-top: 5px  !important;
    }*/

}

@media (min-width : 960px) and (max-width : 1024px) {
    #splOverview {
        margin-top: 42px !important;
    }
}



@media only screen and (min-width : 1224px) {
    .myMenuStyle {
        height: 20% !important;
    }
}

@media (min-width: 1023px) and (max-width:1279px) {

    #splOverview {
        margin-top: 54px !important;
    }
}


@media (min-width: 1250px) and (max-width:1264px) and (min-height:700px) and (max-height:800px) {

    #splOverview {
        margin-top: 54px !important;
    }
}

@media (min-width: 1250px) and (max-width:1264px) and (max-height:1024px) and (min-height:800px) {

    #splOverview {
        margin-top: 10px !important;
    }
}


@media (min-width: 1280px) and (max-width:1366px), @media (min-width: 1250px) and (max-width:1264px) and (min-height:700px) and (max-height:800px) {
    #splOverview {
        margin-top: 53px !important;
    }
}





@media (min-width: 768px) and (min-width: 1024px) {
    .navbar-collapse.collapse {
        width: 105%;
    }

    .navbar .navbar-form {
        margin-left: -45px;
        margin-right: -35px;
    }
}


@media (min-width: 1024px) {
    .forLapy {
        margin-left: -13%;
    }
}

@media (maxin-width: 1024px) {
    .navbar .navbar-form {
        margin-right: 0px;
    }
}

.mask:not(.nohover):hover {
    border: 1px solid red;
    pointer-events: none !important;
}

.overlay .mask.opacity {
    display: none;
}

.footer-nav {
    padding: 0;
    margin: -1px 0 65px;
    list-style: none;
    display: table;
    width: 100%;
}

.carousel {
    position: inherit;
}

    .carousel .contact {
        width: 40px;
        position: fixed;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        padding: 21px 14px 18px;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        background: #5bc0de !important;
        top: 50%;
        right: 0;
        margin: -89px 0 0;
        z-index: 2;
        text-decoration: none;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

#footer {
    background: #252525;
    padding: 36px 0 19px;
    color: #5b5b5b;
}

.footer-nav > li {
    display: table-cell;
}

#footer a {
    color: #fff;
}

.footer-nav > li > a {
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}

a {
    text-decoration: none;
    color: #104E8B;
    /*font-weight: bold;*/
}

h1 {
    font-size: 3.2rem;
}

#footer h3 {
    color: #fff;
}

.footer-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

    .footer-nav ul li {
        padding: 0 0 0 15px;
        position: relative;
    }

        .footer-nav ul li:before {
            content: '';
            position: absolute;
            background: #fff;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            top: 10px;
            left: 0;
        }

.social-networks {
    padding: 0;
    margin: 0 0 19px;
    list-style: none;
    text-align: center;
}

    .social-networks li {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 5px;
    }

    .social-networks a {
        display: block;
        background: #5b5b5b;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-size: 20px;
        text-align: center;
        white-space: nowrap;
        color: #252525;
    }

header, footer, article, section, nav, figure, aside {
    display: block;
}

.meridian_width {
    height: 45px;
}

.bckgrndImg_width {
    width: 100%;
}

.hr {
    color: #000;
}

.mfpl_HeiWid {
    width: 45%;
    height: 20%;
}

.meri_Font {
    font-weight: bold;
    margin-top: -6%;
    font-size: 21px;
}

.tag_color {
    color: cornflowerblue;
}

.regis_ColorFont {
    color: #104E8B;
    font-size: 17px;
}

.remem_ColorFont {
    color: #000000;
    font-size: 14px;
}

.forgot_ColorMartop {
    color: #ff0000;
    margin-top: 8px;
}

.copyryt_MarLeft {
    margin-left: 15%;
}

.set_color {
    color: #5b5b5b;
}

.copyryt_Img {
    padding-right: 4px;
    padding-left: 4px;
}
/* Small Devices, Tablets */
/*Login*/

/*Layout*/
.table-scrollable {
    margin: 0;
    padding: 0;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(158, 158, 158, 0.15);
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    text-align: center;
}

.table-responsive {
    overflow-y: scroll;
}

.tableChkbox {
    text-align: center;
    vertical-align: middle;
}

.tableTxtbox {
    width: 70%;
}

input.form-control {
    width: auto;
}

.forum-post-contents {
    border-left: 1px solid silver;
    padding: 15px;
}

.modalWidth {
    width: 150%;
    margin-left: -23%;
}

.table-responsive {
    height: 324px;
}

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    width: 12%;
}
/*Layout*/


/*_ContactAddressFormPartial*/

.setBorder_Right {
    border-right: 1px solid #A0A0A0;
}

/*_ContactAddressFormPartial*/

/*_ContactNotesFormPartial*/

.attach_MarTop {
    margin-top: 20px;
    margin-left: -15px;
}

/*_ContactNotesFormPartial*/


/*_ContactPhoneFormPartial*/

.set_MargLeft {
    margin-left: -15px;
}

.fileinput_border {
    border: 1px solid #ccc;
}

.img_CursHeiWid {
    cursor: pointer;
    width: 100%;
    height: 185px !important;
}

.inp_File {
    display: none;
}

/*_ContactPhoneFormPartial*/

/*Grid*/

.grid_Class {
    background: url("https://cdn4.iconfinder.com/data/icons/simplicio/128x128/file_edit.png") no-repeat center right;
    display: block;
    height: 15px;
    width: 20px;
}

.Grid1_Class {
    display: block;
    height: 15px;
    width: 33px;
}

/*Grid*/

/*HomePartial*/

.set_Scheduler {
    float: left;
}

/*HomePartial*/

/*Report*/

.set_Scheduler {
    float: left;
}

.set_FloatMarLftBorder {
    float: left;
    margin-left: 10px;
    border: 1px solid;
}

/*Report*/

/*Login Index*/

.top-nav-collapse {
    background-color: #3F729B !important;
}

a:focus, a:hover {
    text-decoration: underline;
}

.panel {
    background-color: #f6f6f6;
}

.top-nav-collapse {
    background-color: #5bc0de !important;
}
/*body {
        background: url("http://meridianww.com/wp-content/uploads/meridian_assets_headerimages_services_01.jpg") no-repeat top center fixed;
       background-size: 100% 40%;
        font-size: 16px;
        font-family: Arial;

    }*/
@media (min-width: 768px) and (min-width: 1024px) {
    .navbar-collapse.collapse {
        width: 105%;
    }

    .navbar .navbar-form {
        margin-left: -45px;
        margin-right: -35px;
    }
}

@media (min-width: 1024px) {
    .forLapy {
        margin-left: -13%;
    }
}

@media (maxin-width: 1024px) {
    .navbar .navbar-form {
        margin-right: 0px;
    }
}

.mask:not(.nohover):hover {
    border: 1px solid red;
    pointer-events: none !important;
}

.overlay .mask.opacity {
    display: none;
}

.footer-nav {
    padding: 0;
    margin: -1px 0 65px;
    list-style: none;
    display: table;
    width: 100%;
}

.carousel {
    position: inherit;
}

    .carousel .contact {
        width: 40px;
        position: fixed;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        padding: 21px 14px 18px;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        background: #5bc0de !important;
        top: 50%;
        right: 0;
        margin: -89px 0 0;
        z-index: 2;
        text-decoration: none;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

#footer {
    background: #252525;
    padding: 36px 0 19px;
    color: #5b5b5b;
}

.footer-nav > li {
    display: table-cell;
}

#footer a {
    color: #fff;
}

.footer-nav > li > a {
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}

a {
    text-decoration: none;
    color: #104E8B;
}

h1 {
    font-size: 3.2rem;
}

#footer h3 {
    color: #fff;
}

.footer-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

    .footer-nav ul li {
        padding: 0 0 0 15px;
        position: relative;
    }

        .footer-nav ul li:before {
            content: '';
            position: absolute;
            background: #fff;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            top: 10px;
            left: 0;
        }

.social-networks {
    padding: 0;
    margin: 0 0 19px;
    list-style: none;
    text-align: center;
}

    .social-networks li {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 5px;
    }

    .social-networks a {
        display: block;
        background: #5b5b5b;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-size: 20px;
        text-align: center;
        white-space: nowrap;
        color: #252525;
    }

header, footer, article, section, nav, figure, aside {
    display: block;
}

.meridian_width {
    height: 45px;
}

.bckgrndImg_width {
    width: 100%;
}

.hr {
    color: #000;
}

.mfpl_HeiWid {
    width: 45%;
    height: 20%;
}

.meri_Font {
    font-weight: bold;
    margin-top: -6%;
    font-size: 21px;
}

.tag_color {
    color: cornflowerblue;
}

.regis_ColorFont {
    color: #104E8B;
    font-size: 17px;
}

.remem_ColorFont {
    color: #000000;
    font-size: 14px;
}

.forgot_ColorMartop {
    color: #ff0000;
    margin-top: 8px;
}

.copyryt_MarLeft {
    margin-left: 15%;
}

.set_color {
    color: #5b5b5b;
}

.copyryt_Img {
    padding-right: 4px;
    padding-left: 4px;
}

/*Login Index*/

/*_MenuDriverIconsFormPartial*/

.icon_Border {
    border: 1px solid #ccc;
}

#imgPreviewIconVerySmall {
    cursor: pointer;
    width: 16px;
    height: 16px !important;
}

#imgPreviewIconSmall {
    cursor: pointer;
    width: 24px;
    height: 24px !important;
}

#imgPreviewIconMedium {
    cursor: pointer;
    width: 36px;
    height: 36px !important;
}

#imgPreviewIconLarge {
    cursor: pointer;
    width: 48px;
    height: 48px !important;
}

.dis_None {
    display: none;
}

/*_MenuDriverIconsFormPartial*/


/*_OrganizationPocNDescFormPartial*/

.dis_None {
    display: none;
}

/*_OrganizationPocNDescFormPartial*/

/*Organisation Create*/

.dxrpAW {
    overflow-x: hidden;
}

/*Organisation Create*/

/*Shared Layout*/

.error {
    color: red;
}

.gly-rotate-270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}


.dxrpAW {
    overflow-x: hidden;
}

.dxm-main .dxm-horizontal .dxm-hovered {
    background: none;
    border: none;
}

.dxrpCollapsed .dxrpcontent > .dxrpCW, .dxrpAW {
    overflow-x: hidden;
}

.custom_colFont {
    font-size: 20px;
}

.dis_None {
    display: none;
}

.okbtn_Padding {
    padding-left: 26px;
    padding-right: 26px;
}

.quick_EntryFont {
    font-weight: normal;
}



/*.add_FrzPadding {
    padding-left: 11px;
    padding-right: 11px;
}

    .quick_EntryFont {
    font-weight: normal;
}

.quick_Entrychkbox {
    margin-left: -16px;
    padding-left: 88px;
    margin-top: -25px;
}

 .moveup {
        padding-right: 47px;
    }
      .movedown {
        padding-right: 45px;
    }
    .AddItem {
            padding-right: 25px;
    }
.popupchooseCols {
    width:107%;
}

 
.mov_DownPadding {
    padding-left: 12px;
    padding-right: 39px;
}

.mov_UpPadding {
    padding-left: 12px;
    padding-right: 52px;
}
 .mov_UpMarlft {
    margin-left: -33px;
}

.set_ChooseCol {
    color: #42C0FB;
    font-size: 18px;
    margin-left: -30px;
}

.set_ShowCol {
    margin-right: 15px;
}

.set_MarginLeft {
    margin-left: -45px;
}

.set_ListMarLft {
    margin-left: -30px;
}*/

#LstColumnName {
    height: 100%;
    width: 160px;
}

#LstDisplayColumnName {
    height: 100%;
    width: 86%;
}

.set_AddEle {
    padding-left: 21px;
    padding-right: 21px;
    margin-left: 4px;
}

.set_Remove {
    margin-left: 4px;
}

/*.set_AddSel {
    margin-left: -10px;
}*/

.set_RemSel {
    margin-left: 42px;
}

/*Shared Layout*/

/*Shared Messages*/

.set_AlertFont {
    font-size: 15px;
}

/*Shared Messages*/

/*Shared Ribbon*/

#Menu {
    width: 101%;
    margin-left: -9px;
}

ul .dx, .dxm-content .dxm-hasText span .dx-vam {
    display: none !important;
    font-weight: normal;
}

.set_ClrBoth {
    clear: both;
}

.dxm-main ul.dx .dxm-item, .dxm-popup ul.dx .dxm-item, .dxm-main ul.dxm-t .dxm-item span, .dxm-popup ul.dxm-t .dxm-item span, .dxm-main ul.dxm-ti .dxm-item span, .dxm-popup ul.dxm-ti .dxm-item span, .dxm-main ul.dxm-ti .dxm-item img, .dxm-popup ul.dxm-ti .dxm-item img, .dxm-main ul.dxm-t .dxm-item.dxm-subMenu, .dxm-popup ul.dxm-t .dxm-item.dxm-subMenu, .dxm-main ul.dxm-ti .dxm-item.dxm-subMenu, .dxm-popup ul.dxm-ti .dxm-item.dxm-subMenu {
    cursor: default !important;
}

.dxmLite_Office2010Black .dxm-main .dxm-hovered {
    background: none;
    border: none;
}
/*Shared Ribbon*/

/*Toaster Messages*/
.glyphiconGlobe {
    color: #00BCD4;
}

.textareaWidth {
    width: 85%;
}

.popBtnWidth {
    width: 20%;
}

.msgRefMargintop {
    margin-top: -10px;
}

.msgRefMargintop1 {
    margin-top: 20px;
}

.listheight {
    height: 100%;
    margin-left: -15px;
}

.list2height {
    height: 100%;
}
/*Toaster Messages*/
