 .dxmLite_Office2010Black .dxm-main .dxm-hovered {
        background: none;
        border: none;
    }

    .dxmLite_Office2010Blue .dxm-main .dxm-hovered {
        background: none;
        border: none;
    }

    .dxmLite_Office2010Black .dxm-main .dxm-hovered {
        background: none;
        border: none;
    }

    .dxmLite_Office2010Silver .dxm-main .dxm-hovered {
        background: none;
        border: none;
    }

    .dxmLite_Office2003Blue .dxm-main .dxm-hovered {
        background: none;
        border: none;
    }

    .dxmLite_Office2003Olive .dxm-main .dxm-hovered {
        background: none;
        border: none;
    }

    .dxmLite_Office2003Silver .dxm-main .dxm-hovered {
        background: none;
        border: none;
    }

    .dxmLite_Default .dxm-main .dxm-hovered {
        background: none;
        border: none;
    }

    .dxmLite_Metropolis .dxm-main .dxm-hovered {
        background: none;
        border: none;
    }

    .dxmLite_Moderno .dxm-main .dxm-hovered {
        background: none;
        border: none;
    }

    .dxmLite_Aqua .dxm-main .dxm-hovered {
        background: none;
        border: none;
    }

    .dxmLite_Glass .dxm-main .dxm-hovered {
        background: none;
        border: none;
    }

    .dxmLite_Mulberry .dxm-main .dxm-hovered {
        background: none;
        border: none;
    }

    .dxmLite_Youthful .dxm-main .dxm-hovered {
        background: none;
        border: none;
    }

    .dxmLite_DevEx .dxm-main .dxm-hovered {
        background: none;
        border: none;
    }

    .dxmLite_MetropolisBlue .dxm-main .dxm-hovered {
        background: none;
        border: none;
    }

    .dxmLite_RedWine .dxm-main .dxm-hovered {
        background: none;
        border: none;
    }

    .dxmLite_BlackGlass .dxm-main .dxm-hovered {
        background: none;
        border: none;
    }

    .dxmLite_PlasticBlue .dxm-main .dxm-hovered {
        background: none;
        border: none;
    }

    .dxmLite_SoftOrange .dxm-main .dxm-hovered {
        background: none;
        border: none;
    }

    .dxmLite_iOS .dxm-main .dxm-hovered {
        background: none;
        border: none;
    }