
/*Toaster Messages*/
.glyphiconGlobe {
    color: #00BCD4;
}

.textareaWidth {
    width: 100% !important;
    height: 100% !important;
}

.popBtnWidth {
    width: 20%;
}

.msgRefMargintop {
    margin-top: -10px;
}

.msgRefMargintop1 {
    margin-top: 20px;
}

.listheight {
    height: 100%;
    margin-left: -15px;
}

.list2height {
    height: 100%;
}
.alignCenter{
    text-align:center !important;
}
/*Toaster Messages*/