
/*Toaster Messages*/
.glyphiconGlobe {
    color: #00BCD4;
}

.textareaWidth {
    width: 100% !important;
    height: 100% !important;
}

.popBtnWidth {
    width: 20%;
}

.msgRefMargintop {
    margin-top: -10px;
}
.msgdelMargintop{
     margin-top: 38px;
}
.msgRefMargintop1 {
    margin-top: 20px;
}

.listheight {
    height: 100%;
    margin-left: -15px;
}

.list2height {
    height: 100%;
}

.alignCenter {
    text-align: center !important;
}

.btn-default {
    border-color: royalblue;
}

    .btn-default:hover {
        border-color: royalblue;
    }
    .mainBtnBorCol{
        border-color: #CCC;
    }
    .mainBtnBorCol:hover {
          border-color: #CCC;
    }
/*Toaster Messages*/
