################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QA/M4PL/M4PL.API/bin
/QA/M4PL/M4PL.API.Tests/bin/Debug
/QA/M4PL/packages/WebGrease.1.6.0/lib
/QA/M4PL/packages/WebGrease.1.6.0/tools
/QA/M4PL/M4PL.API.Tests/obj/Debug
/QA/M4PL/M4PL.APIClient/bin/Debug
/QA/M4PL/M4PL.APIClient/obj/Debug
/QA/M4PL/M4PL.Business/bin/Debug
/QA/M4PL/M4PL.DataAccess/bin/Debug
/QA/M4PL/M4PL.DataAccess/obj/Debug
/QA/M4PL/M4PL.EF/obj/Debug/edmxResourcesToEmbed
/QA/M4PL/M4PL.EF/obj/Debug
/QA/M4PL/M4PL.Entities/bin/Debug
/QA/M4PL/M4PL.Entities/obj/Debug
/QA/M4PL/M4PL.Utilities/bin/Debug
/QA/M4PL/M4PL.Utilities/obj/Debug
/QA/M4PL/M4PL.Web/bin/de
/QA/M4PL/M4PL.Web/bin/es
/QA/M4PL/M4PL.Web/bin/ja
/QA/M4PL/M4PL.Web/bin/ru
/QA/M4PL/M4PL.Web.Tests/bin
/QA/M4PL/M4PL.Web.Tests/obj/Debug
/QA/M4PL/packages/Antlr.3.5.0.2/lib
/QA/M4PL/packages/Antlr.3.5.0.2
/QA/M4PL/packages/Autofac.4.6.2/lib
/QA/M4PL/packages/Autofac.4.6.2
/QA/M4PL/packages
/QA/M4PL/.vs/M4PL/v14/.suo
/QA/M4PL/M4PL.API/obj/Debug/M4PL.API.csproj.FileListAbsolute.txt
/QA/M4PL/M4PL.API/obj/Debug/M4PL.API.csprojResolveAssemblyReference.cache
/QA/M4PL/M4PL.API/obj/Debug/M4PL.API.pdb
/QA/M4PL/M4PL.API/obj/Debug/M4PL.API.dll
/QA/M4PL/M4PL.Business/obj/Debug/M4PL.Business.pdb
/QA/M4PL/M4PL.Business/obj/Debug/M4PL.Business.dll
/QA/M4PL/M4PL.Business/obj/Debug/M4PL.Business.csprojResolveAssemblyReference.cache
/QA/M4PL/M4PL.Business/obj/Debug/M4PL.Business.csproj.FileListAbsolute.txt
/QA/M4PL/M4PL.Web/bin
/QA/M4PL/M4PL.Web/obj/Debug
/QA/M4PL/M4PL.API/obj/Debug
/QA/M4PL/.vs/M4PL/v15
/M4PL/M4PL.API/bin
/M4PL/M4PL.API/obj/Debug
/M4PL/M4PL.API.CommonUtils/obj/Debug
/M4PL
/QA/M4PL/M4PL.EF/M4PL.EF.csproj.user
/QA/M4PL/M4PL.Utilities/M4PL.Utilities.csproj.user
/QA/M4PL/.vs/*
/M4PL/M4PL.API/bin/*
/QA/M4PL/M4PL.API/obj/*
/QA/M4PL/M4PL.API.Tests/bin/*
/QA/M4PL/M4PL.API.Tests/obj/*
/QA/M4PL/M4PL.APIClient/bin/*
/QA/M4PL/M4PL.APIClient/obj/*
/QA/M4PL/M4PL.Business/bin/*
/QA/M4PL/M4PL.Business/obj/*
/QA/M4PL/M4PL.DataAccess/bin/*
/QA/M4PL/M4PL.DataAccess/obj/*
/QA/M4PL/M4PL.EF/obj/*
/QA/M4PL/M4PL.Entities/bin/*
/QA/M4PL/M4PL.Entities/obj/*
/QA/M4PL/M4PL.Utilities/bin/*
/QA/M4PL/M4PL.Utilities/obj/*
/QA/M4PL/M4PL.Web/bin/*
/QA/M4PL/M4PL.Web/obj/*
/QA/M4PL/M4PL.Web.Tests/bin/*
/QA/M4PL/M4PL.Web.Tests/obj/*
/QA/M4PL/packages/*
/QA/M4PL/M4PL.Web/Properties/PublishProfiles
/QA/M4PL/M4PL.Web/App_Data/UploadTemp/dxbiupload_940dd5cfa9948023cfac454ef380f30e.tmp
/.vs/M4PL2/v15/.suo
/.vs/VSWorkspaceState.json
/Encrypt/Encrypt/obj
/M4PL.XCBL.WebService/XCBL.WebService/PBSTesting_ConsoleApp/PBSTesting_ConsoleApp/obj
/M4PL.XCBL.WebService/XCBL.WebService/XCBL.SoapWebService.Phase2/xCBLSoapWebService/obj
/M4PL.XCBL.WebService/XCBL.WebService/XCBL.WebService/obj
/M4PL.XCBL.WebService/XCBL.WebService/xCBLSoapWebService/obj
/QA/M4PL/DOSample/obj
/QA/M4PL/M4PL_Windows_Service/OutLookTestConsoleApp/OutLookTestConsoleApp/obj
/QA/M4PL/M4PL_Windows_Service/TestM4PLApplication/TestM4PLApplication/obj
/QA/M4PL/M4PL.Web/App_Data/UploadTemp
