<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>

    <add key="CreateLocalFiles" value="1"/> <!--For creating local file. Make it 0 to disable -->
    <add key="UserName" value="MerAwcXcblUser1"/><!--For calling sysGetAuthenticationByUsernameAndPassword() -->
    <add key="Password" value="AwcMer$xC8L"/><!--For calling sysGetAuthenticationByUsernameAndPassword() -->
    <add key="AWCEndpoint" value="https://biztalkprod.woodmark.com/Maestro/WcfService_Maestro.svc "/> <!-- AWC Address to send Shipping Schedule Response Request-->
    <add key="AWCAction" value="ShippingScheduleResponseProcess"/> <!-- AWC Action to send Shipping Schedule Response Request-->
    
    <add key="PBSWebServiceUserName" value="vocnew"/>
    <add key="PBSWebServicePassword" value="vocnf"/>  
    
    <add key="TimerInterval" value="900000"/> <!-- Timer Interval to check the PBS OUT folder -->
    <add key ="PBSQueryFrequency" value="60"/> <!-- PBS Query Frequency In MINUTES -->
    <add key ="PBSQueryStartTime" value="00:45"/> <!-- PBS Query START TIME In HH:MM Format -->
    <add key ="PBSQueryEndTime" value=""/> <!-- PBS Query END TIME In HH:MM Format -->
    
  </appSettings>
  <connectionStrings>
    <remove name="XcblService"/>
    <add name="XcblService" connectionString="Server=edge.meridianww.com; DataBase = SYST010MeridianXCBLServiceP2; User Id = dev_connection; Password = Password88; connection timeout = 0"/>
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime executionTimeout="600" targetFramework="4.5" maxRequestLength="51200"/>
  </system.web>
  <system.serviceModel>
    <client />
    <services>
      <service name="xCBLSoapWebService.MeridianService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="NewBinding0" contract="xCBLSoapWebService.IMeridianService"/>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="NewBinding0" closeTimeout="04:01:00" openTimeout="04:01:00"
          receiveTimeout="04:10:00" sendTimeout="04:01:00" bypassProxyOnLocal="false"
          hostNameComparisonMode="StrongWildcard" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IMeridianService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="true"/>
          <dataContractSerializer maxItemsInObjectGraph="52428800"/>
        </behavior>
      </serviceBehaviors>
      <!--<endpointBehaviors>
        <behavior name="AjaxBehavior">
          <enableWebScript    />
        <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>-->
    </behaviors>
    <protocolMapping>
      <add binding="wsHttpBinding" scheme="https" bindingConfiguration="NewBinding0"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>