@*Copyright (2018) Meridian Worldwide Transportation Group
    //All Rights Reserved Worldwide
    //====================================================================================================================================================
    //Program Title:                                Job Destination
    //Programmer:                                   Akhil
    //Date Programmed:                              25/01/2018
    //Program Name:                                 Job Destination Form View
    //Purpose:                                      Provides view for Job Destination
    //====================================================================================================================================================*@

@using M4PL.Entities
@using System.Web.UI.WebControls
@using M4PL.Web.Providers
@model  M4PL.Web.Models.FormResult<M4PL.Entities.Job.JobDestination>
@{
    ViewBag.Title = Model.PageName;
    var originStateDropDownViewModel = Model.Record.JobOriginState.GetStringDropDown(EntitiesAlias.State, "StateAbbr", "JobOriginState", Model.ColumnSettings.FirstOrDefault("JobOriginState").ColAliasName, Model.ColumnSettings.FirstOrDefault("JobOriginState").IsRequired, Model.IsPopUp, string.Empty, Model.Permission, Model.Record.Id);
    var deliveryStateDropDownViewModel = Model.Record.JobDeliveryState.GetStringDropDown(EntitiesAlias.State, "StateAbbr", "JobDeliveryState", Model.ColumnSettings.FirstOrDefault("JobDeliveryState").ColAliasName, Model.ColumnSettings.FirstOrDefault("JobDeliveryState").IsRequired, Model.IsPopUp, string.Empty, Model.Permission, Model.Record.Id);
    var changeEvent = "function(s,e,extnNameOrSuffix,tabNames){ M4PLJob.FormView.SetJobOriginDestinationCtrlValues(s,e,'" + Model.ControlNameSuffix + "','" + WebApplicationConstants.JobTabNames + "');}";
    originStateDropDownViewModel.ValueChangedEvent = changeEvent;
    deliveryStateDropDownViewModel.ValueChangedEvent = changeEvent;
}

<div class="col-sm-12 col-md-12 col-lg-12 overflow-visible no-padding">
    <div class="col-sm-8 col-md-6 col-lg-6 no-padding-left">
        @Html.DevExpress().RoundPanel(settings =>
   {
       settings.Name = "pnlJobSellerOriginDetail";
       settings.Width = Unit.Percentage(100);
       settings.AllowCollapsingByHeaderClick = true;
       settings.ShowCollapseButton = true;
       settings.HeaderText = "Origin";
       settings.Collapsed = false;
       settings.ControlStyle.CssClass = "form-layout";
       settings.SetContent(() =>
       {

           ViewContext.Writer.Write("<div class='col-sm-12 col-md-12 col-lg-10 job-origin-destination no-padding'>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobOriginSiteName, new { onTextChange = changeEvent }).ToHtmlString());
           ViewContext.Writer.Write("</div>");

           ViewContext.Writer.Write("<div class='form-row-group col-fixed-30 state-privance'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobOriginSitePOC).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group col-fixed-16 state-privance remove-margin-right'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobOriginSitePOCPhone, new { MakeSkypeCall = true }).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobOriginSitePOCEmail).ToHtmlString());
           ViewContext.Writer.Write("</div>");

           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobOriginStreetAddress, new { onTextChange = changeEvent }).ToHtmlString());
           ViewContext.Writer.Write("</div>");

           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobOriginStreetAddress2, new { onTextChange = changeEvent }).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobOriginStreetAddress3, new { onTextChange = changeEvent }).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobOriginStreetAddress4, new { onTextChange = changeEvent }).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group col-fixed-20'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobOriginCity, new { onTextChange = changeEvent }).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group col-fixed-25 state-privance remove-margin-right'>" + Html.Action(MvcConstants.ActionDropDownViewTemplate, EntitiesAlias.Common.ToString(), new { Area = string.Empty, strDropDownViewModel = Newtonsoft.Json.JsonConvert.SerializeObject(originStateDropDownViewModel) }) + "</div>");
           ViewContext.Writer.Write("<div class='form-row-group col-fixed-20'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobOriginPostalCode, new { onTextChange = changeEvent }).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group col-fixed-25 state-privance remove-margin-right'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobOriginCountry, new { onTextChange = changeEvent }).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("</div>");
       });
   }).GetHtml()

        @Html.DevExpress().RoundPanel(settings =>
            {
                settings.Name = "pnlJobSecondPOC";
                settings.Width = Unit.Percentage(100);
                settings.AllowCollapsingByHeaderClick = true;
                settings.ShowCollapseButton = true;
                settings.HeaderText = "2nd POC";
                settings.Collapsed = false;
                settings.ControlStyle.CssClass = "form-layout";
                settings.SetContent(() =>
                {
                    ViewContext.Writer.Write("<div class='col-md-12 col-lg-12  no-padding'>");
                    ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
                    ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobOriginSitePOC2).ToHtmlString());
                    ViewContext.Writer.Write("</div>");
                    ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
                    ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobOriginSitePOCPhone2, new { MakeSkypeCall = true }).ToHtmlString());
                    ViewContext.Writer.Write("</div>");
                    ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
                    ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobOriginSitePOCEmail2).ToHtmlString());
                    ViewContext.Writer.Write("</div>");
                    ViewContext.Writer.Write("</div>");

                });
            }).GetHtml()
    </div>
    <div class="col-sm-8 col-md-6 col-lg-6 dest-div" style="padding-right: 0px !important">
        @Html.DevExpress().RoundPanel(settings =>
   {
       settings.Name = "pnlJobSellerDeliveryDetail";
       settings.Width = Unit.Percentage(100);
       settings.AllowCollapsingByHeaderClick = true;
       settings.ShowCollapseButton = true;
       settings.HeaderText = "Destination";
       settings.Collapsed = false;
       settings.ControlStyle.CssClass = "form-layout";
       settings.SetContent(() =>
       {
           ViewContext.Writer.Write("<div class='col-md-12 col-lg-10 job-origin-destination no-padding width-100' >");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobDeliverySiteName, new { onTextChange = changeEvent }).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group col-fixed-30 state-privance'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobDeliverySitePOC).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group col-fixed-16 state-privance remove-margin-right'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobDeliverySitePOCPhone, new { MakeSkypeCall = true }).ToHtmlString());
           ViewContext.Writer.Write("</div>");

           
         
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobDeliverySitePOCEmail).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobDeliveryStreetAddress, new { onTextChange = changeEvent }).ToHtmlString());
           ViewContext.Writer.Write("</div>");

           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobDeliveryStreetAddress2, new { onTextChange = changeEvent }).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobDeliveryStreetAddress3, new { onTextChange = changeEvent }).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name mr-45-large'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobDeliveryStreetAddress4, new { onTextChange = changeEvent }).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group col-fixed-20'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobDeliveryCity, new { onTextChange = changeEvent }).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group col-fixed-25 state-privance remove-margin-right'>" + Html.Action(MvcConstants.ActionDropDownViewTemplate, EntitiesAlias.Common.ToString(), new { Area = string.Empty, strDropDownViewModel = Newtonsoft.Json.JsonConvert.SerializeObject(deliveryStateDropDownViewModel) }) + "</div>");


           ViewContext.Writer.Write("<div class='form-row-group col-fixed-20'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobDeliveryPostalCode, new { onTextChange = changeEvent }).ToHtmlString());
           ViewContext.Writer.Write("</div>");


           ViewContext.Writer.Write("<div class='form-row-group col-fixed-25 state-privance remove-margin-right'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobDeliveryCountry, new { onTextChange = changeEvent }).ToHtmlString());
           ViewContext.Writer.Write("</div>");

           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='col-md-12 col-lg-12  no-padding'>");
           ViewContext.Writer.Write("<div class='form-row-group col-fixed-20'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobSignText).ToHtmlString());
           ViewContext.Writer.Write("</div>");

           ViewContext.Writer.Write("<div class='form-row-group col-fixed-25 state-privance remove-margin-right' >");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobSignLatitude).ToHtmlString());
           ViewContext.Writer.Write("</div>");

           ViewContext.Writer.Write("<div class='form-row-group col-fixed-20 remove-margin-right' style='float: none !important'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobSignLongitude).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("</div>");
       });
   }).GetHtml()
        @Html.DevExpress().RoundPanel(settings =>
   {
       settings.Name = "pnlJobShipFromSecondPOC";
       settings.Width = Unit.Percentage(100);
       settings.AllowCollapsingByHeaderClick = true;
       settings.ShowCollapseButton = true;
       settings.HeaderText = "OnSite POC";
       settings.Collapsed = false;
       settings.ControlStyle.CssClass = "form-layout";
       settings.SetContent(() =>
       {
           ViewContext.Writer.Write("<div class='col-md-12 col-lg-12  no-padding'>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name' >");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobDeliverySitePOC2).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobPreferredMethod, new { JobPreferredMethod = Model.Record.JobPreferredMethod }).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobDeliverySitePOCPhone2, new { MakeSkypeCall = true }).ToHtmlString());
           ViewContext.Writer.Write("</div>");


           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobDeliverySitePOCEmail2).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("</div>");

       });
   }).GetHtml()
    </div>
</div>