@*Copyright (2018) Meridian Worldwide Transportation Group
    //All Rights Reserved Worldwide
    //====================================================================================================================================================
    //Program Title:                                Job Pod
    //Programmer:                                   Akhil
    //Date Programmed:                              25/01/2018
    //Program Name:                                 Job Pod Form View
    //Purpose:                                      Provides view for Job Pod
    //====================================================================================================================================================*@

@using M4PL.Entities
@using System.Web.UI.WebControls
@using M4PL.Web.Providers
@model  M4PL.Web.Models.FormResult< M4PL.Entities.Job.JobPod>
@{
    ViewBag.Title = Model.PageName;

}
<div>@Model.Record.ControlNamePrefix</div>