@*Copyright (2018) Meridian Worldwide Transportation Group
    //All Rights Reserved Worldwide
    //====================================================================================================================================================
    //Program Title:                                Job seller
    //Programmer:                                   Akhil
    //Date Programmed:                              25/01/2018
    //Program Name:                                 Job Seller Form View
    //Purpose:                                      Provides view for Job Seller
    //====================================================================================================================================================*@

@using M4PL.Entities
@using System.Web.UI.WebControls
@using M4PL.Web.Providers
@model  M4PL.Web.Models.FormResult<M4PL.Entities.Job.JobSeller>
@{
    ViewBag.Title = Model.PageName;
    var nameSuffix = string.Format("{0}Seller", Model.ControlNameSuffix);
    var sellerStateDropDownViewModel = Model.Record.JobSellerState.GetStringDropDown(EntitiesAlias.State, "StateAbbr", "JobSellerState", Model.ColumnSettings.FirstOrDefault("JobSellerState").ColAliasName, Model.ColumnSettings.FirstOrDefault("JobSellerState").IsRequired, Model.IsPopUp, string.Empty, Model.Permission, Model.Record.Id);
    var shipFromStateDropDownViewModel = Model.Record.JobShipFromState.GetStringDropDown(EntitiesAlias.State, "StateAbbr", "JobShipFromState", Model.ColumnSettings.FirstOrDefault("JobShipFromState").ColAliasName, Model.ColumnSettings.FirstOrDefault("JobShipFromState").IsRequired, Model.IsPopUp, string.Empty, Model.Permission, Model.Record.Id);
    var changeEvent = "function(s,e,extnNameOrSuffix,tabNames){ M4PLJob.FormView.SetJobOriginDestinationCtrlValues(s,e,'" + Model.ControlNameSuffix + "','" + WebApplicationConstants.JobTabNames + "');}";
    var changeEventWithCheckDateValid = "M4PLJob.FormView.SetJobOriginDestinationCtrlValues(s,e,'" + Model.ControlNameSuffix + "','" + WebApplicationConstants.JobTabNames + "'); DevExCtrl.DateEdit.OnChangeCheckIsPreviousDate(s,e);";

    sellerStateDropDownViewModel.ValueChangedEvent = changeEvent;
    shipFromStateDropDownViewModel.ValueChangedEvent = changeEvent;
}

<div class="col-sm-12 col-md-12 col-lg-12 overflow-visible no-padding">
    <div class="col-sm-8 col-md-8 col-lg-6 no-padding-left">
        @Html.DevExpress().RoundPanel(settings =>
   {
       settings.Name = "pnlJobSellerDetail";
       settings.Width = Unit.Percentage(100);
       settings.AllowCollapsingByHeaderClick = true;
       settings.ShowCollapseButton = true;
       settings.HeaderText = "Seller";
       settings.Collapsed = false;
       settings.ControlStyle.CssClass = "form-layout";
       settings.SetContent(() =>
       {

           ViewContext.Writer.Write("<div class='col-md-12 col-lg-12 job-origin-destination  no-padding'>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobSellerSiteName).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group col-fixed-30 state-privance'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobSellerSitePOC).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group state-privance col-fixed-16 remove-margin-right'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobSellerSitePOCPhone, new { MakeSkypeCall = true }).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobSellerSitePOCEmail).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobSellerStreetAddress).ToHtmlString());
           ViewContext.Writer.Write("</div>");

           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobSellerStreetAddress2).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobSellerStreetAddress3).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobSellerStreetAddress4).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group col-fixed-20'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobSellerCity).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group col-fixed-25 state-privance remove-margin-right'>" + Html.Action(MvcConstants.ActionDropDownViewTemplate, EntitiesAlias.Common.ToString(), new { Area = string.Empty, strDropDownViewModel = Newtonsoft.Json.JsonConvert.SerializeObject(sellerStateDropDownViewModel) }) + "</div>");

           ViewContext.Writer.Write("<div class='form-row-group col-fixed-20'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobSellerPostalCode).ToHtmlString());
           ViewContext.Writer.Write("</div>");

           ViewContext.Writer.Write("<div class='form-row-group col-fixed-25  state-privance remove-margin-right'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobSellerCountry).ToHtmlString());
           ViewContext.Writer.Write("</div>");

           ViewContext.Writer.Write("</div>");

       });
   }).GetHtml()

        @Html.DevExpress().RoundPanel(settings =>
   {
       settings.Name = "pnlJobSecondPOC";
       settings.Width = Unit.Percentage(100);
       settings.AllowCollapsingByHeaderClick = true;
       settings.ShowCollapseButton = true;
       settings.HeaderText = "2nd POC";
       settings.Collapsed = false;
       settings.ControlStyle.CssClass = "form-layout";
       settings.SetContent(() =>
       {
           ViewContext.Writer.Write("<div class='col-md-12 col-lg-12  no-padding'>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobSellerSitePOC2).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobSellerSitePOCPhone2, new { MakeSkypeCall = true }).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobSellerSitePOCEmail2).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("</div>");

       });
   }).GetHtml()
    </div>

    <div class="col-sm-8 col-md-8 col-lg-6 dest-div">
        @Html.DevExpress().RoundPanel(settings =>
   {
       settings.Name = "pnlJobDeliveryDetail";
       settings.Width = Unit.Percentage(100);
       settings.AllowCollapsingByHeaderClick = true;
       settings.ShowCollapseButton = true;
       settings.HeaderText = "Ship From";
       settings.Collapsed = false;

       settings.ControlStyle.CssClass = "form-layout";
       settings.SetContent(() =>
       {
           ViewContext.Writer.Write("<div class='col-md-12 col-lg-10 job-origin-destination no-padding'>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobShipFromSiteName).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group col-fixed-30 state-privance'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobShipFromSitePOC).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group state-privance col-fixed-16 remove-margin-right'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobShipFromSitePOCPhone, new { MakeSkypeCall = true }).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobShipFromSitePOCEmail).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobShipFromStreetAddress).ToHtmlString());
           ViewContext.Writer.Write("</div>");

           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobShipFromStreetAddress2).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobShipFromStreetAddress3).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobShipFromStreetAddress4).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group col-fixed-20'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobShipFromCity).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group col-fixed-25 state-privance remove-margin-right'>" + Html.Action(MvcConstants.ActionDropDownViewTemplate, EntitiesAlias.Common.ToString(), new { Area = string.Empty, strDropDownViewModel = Newtonsoft.Json.JsonConvert.SerializeObject(shipFromStateDropDownViewModel) }) + "</div>");

           ViewContext.Writer.Write("<div class='form-row-group col-fixed-20 '>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobShipFromPostalCode).ToHtmlString());
           ViewContext.Writer.Write("</div>");

           ViewContext.Writer.Write("<div class='form-row-group col-fixed-25 state-privance remove-margin-right' >");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobShipFromCountry).ToHtmlString());
           ViewContext.Writer.Write("</div>");


           ViewContext.Writer.Write("</div>");
       });
   }).GetHtml()
        @Html.DevExpress().RoundPanel(settings =>
   {
       settings.Name = "pnlJobShipFromSecondPOC";
       settings.Width = Unit.Percentage(100);
       settings.AllowCollapsingByHeaderClick = true;
       settings.ShowCollapseButton = true;
       settings.HeaderText = "2nd POC";
       settings.Collapsed = false;
       settings.ControlStyle.CssClass = "form-layout";
       settings.SetContent(() =>
       {
           ViewContext.Writer.Write("<div class='col-md-12 col-lg-12  no-padding'>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobShipFromSitePOC2).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobShipFromSitePOCPhone2, new { MakeSkypeCall = true }).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("<div class='form-row-group job-site-name'>");
           ViewContext.Writer.Write(Html.EditorFor(m => m.Record.JobShipFromSitePOCEmail2).ToHtmlString());
           ViewContext.Writer.Write("</div>");
           ViewContext.Writer.Write("</div>");

       });
   }).GetHtml()

    </div>
</div>