@*Copyright (2018) Meridian Worldwide Transportation Group
    //All Rights Reserved Worldwide
    //====================================================================================================================================================
    //Program Title:                                Meridian 4th Party Logistics(M4PL)
    //Programmer:                                   Akhil
    //Date Programmed:                              05/11/2018
    //Program Name:                                 _Blank Partial
    //Purpose:                                      Provides view for rendering display message for blank results
    //====================================================================================================================================================*@
@model M4PL.Entities.Support.DisplayMessage

@if (Model != null)
{
    <div>@Model.Description</div>
}