@*Copyright (2020) Meridian Worldwide Transportation Group
    All Rights Reserved Worldwide
    ====================================================================================================================================================
    Program Title:                                Permission denied page
    Programmer:                                   Kirty
    Date Programmed:                              29/04/202020
    Program Name:
    Purpose:                                      Desplay to user has no permission for page

    ====================================================================================================================================================*@
<div style="text-align:center">
    @*<h2><strong>Access Denied, please contact system administrator.</strong></h2>*@
    <h3><strong>The job you are trying to search does not exist, please contact system administrator.</strong></h3>
</div>