@*Copyright (2018) Meridian Worldwide Transportation Group
    
    //====================================================================================================================================================
    //Program Title:                                Not Found page
    //Programmer:                                   Kirty Anurag
    //Date Programmed:                              19/02/2018
    //Program Name:                                 Not Found
    //Purpose:                                      Provides view for Not found action or controller for the entire system
    //====================================================================================================================================================*@

@model M4PL.Entities.ErrorLog
@{
    var backToPageRoute = Model.ErrAdditionalMessage;
}
<section class="setAlign_textCenter text-center">
    <div class="page-constop">
        <img src="~/Content/Images/under-construction-300x300.jpg" class="imgIuc" />
        @*@Html.ActionLink("Back to Page", "Index", "ActRole") should be last route of application*@
        <h2 class="page-construction">@Model.ErrMessage</h2>
    </div>
</section>