@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Toaster Messages";
}

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<div class="container-fluid">
    @Html.DevExpress().Menu(settings =>
        {
            settings.Name = "Settings";
            settings.Width = Unit.Percentage(100);

            settings.Items.Add(item =>
            {
                item.Text = "Settings";
            });
        }).GetHtml()
    <hr />
    <div class="alert alert-success" style="font-size: 15px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <strong>Success!</strong> Indicates a successful or positive action.
    </div>

    <div class="alert alert-info" style="font-size: 15px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <strong>Info!</strong> Indicates a neutral informative change or action.
    </div>

    <div class="alert alert-warning" style="font-size: 15px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <strong>Warning!</strong> Indicates a warning that might need attention.
    </div>

    <div class="alert alert-danger" style="font-size: 15px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
    </div>
</div>
