@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Toaster Messages";
}

<div class="container-fluid">
    @Html.DevExpress().Menu(settings =>
        {
            settings.Name = "Settings";
            settings.Width = Unit.Percentage(100);

            settings.Items.Add(item =>
            {
                item.Text = "Settings";
                item.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ContactsMessage16x16devav;
            });
        }).GetHtml()
    <div class="form-group"></div>
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="col-md-2">
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#myModal">Success</button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog" data-backdrop="false">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <p><span class="glyphicon glyphicon-globe" style="color: #00BCD4;"></span>&nbsp;Update Successful</p>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"><a href="#" class="btn btn-success btn-md"><span class="glyphicon glyphicon-ok"></span></a>&nbsp;Success - The record was updated</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="email">Success:</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control-static" rows="5" id="comment" style="width:85%;"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default center-block" data-dismiss="modal" style="width:20%;">OK</button>
                                <p class="pull-left" style="margin-top:-10px;">Message reference #:5.0</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*2nd popup*@
            <div class="col-md-2">
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal1">Information</button>
                <!-- Modal -->
                <div class="modal fade" id="myModal1" role="dialog" data-backdrop="false">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <p><span class="glyphicon glyphicon-globe" style="color: #00BCD4;"></span>&nbsp;No default Gateways</p>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"><a href="#" class="btn btn-info btn-md"><span class="glyphicon glyphicon-info-sign"></span></a><strong>&nbsp;No default Gateways Found</strong></h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="email">Issue:</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control-static" rows="5" id="comment" style="width:85%;">
                                                There are no default gateways found.

                                                Would you like to continue?
                                            </textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" style="width:20%;">Yes</button>
                                <button type="button" class="btn btn-primary active" data-dismiss="modal" style="width:20%;">No</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" style="width:20%;">Cancel</button>
                                <p class="pull-left" style="margin-top:20px;">Message reference #:5.1</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*3rd Popup*@
            <div class="col-md-2">
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-warning btn-md" data-toggle="modal" data-target="#myModal2">Warning</button>
                <!-- Modal -->
                <div class="modal fade" id="myModal2" role="dialog" data-backdrop="false">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <p><span class="glyphicon glyphicon-globe" style="color: #00BCD4;"></span>&nbsp;Origin information</p>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"><a href="#" class="btn btn-warning btn-md"><span class="glyphicon glyphicon-alert"></span></a>&nbsp;Warning - Origin Information</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="email">Issue:</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control-static" rows="5" id="comment" style="width:85%;">
                                                The Origin Address does not match the default information.

                                                Would you still like to update the address?
                                                Add Additional Text To Issue Field Text
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="email">Solution:</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control-static" rows="5" id="comment" style="width:85%;">Verify the Origin Address is  correct.</textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" style="width:20%;">Yes</button>
                                <button type="button" class="btn btn-primary active" data-dismiss="modal" style="width:20%;">No</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" style="width:20%;">Cancel</button>
                                <p class="pull-left" style="margin-top:20px;">Message reference #:1.26</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*4th Popup*@
            <div class="col-md-2">
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-danger btn-md" data-toggle="modal" data-target="#myModal3">Error</button>
                <!-- Modal -->
                <div class="modal fade" id="myModal3" role="dialog" data-backdrop="false">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <p><span class="glyphicon glyphicon-globe" style="color: #00BCD4;"></span>&nbsp;Meridian Systems Error</p>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"><a href="#" class="btn btn-danger btn-md"><span class="glyphicon glyphicon-ban-circle"></span></a>&nbsp;Meridian Systems EDGE Error</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="email">Issue:</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control-static" rows="5" id="comment" style="width:85%;">Meridian EDGE encountered a system error.</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="email">Solution:</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control-static" rows="5" id="comment" style="width:85%;">Please contact system administrator for Meridian EDGE.</textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default center-block" data-dismiss="modal" style="width:20%;">OK</button>
                                <p class="pull-left" style="margin-top:-10px;">Message reference #:0</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*5th Pop-up*@
            <div class="col-md-2">
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#Selection">ContactList</button>
                <!-- Modal -->
                <div class="modal fade" id="Selection" role="dialog" data-backdrop="false">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                             
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"><strong>Customize Contact List</strong></h4>
                            </div>
                            <div class="modal-body">
                                <div class="col-md-12 form-group">
                                    <div class="col-md-3 ">
                                        <select name="cars" multiple size=10 style='height: 100%;margin-left:-15px;'>
                                            <option value="volvo">Company Name</option>
                                            <option value="saab">Country/Region Code</option>
                                            <option value="opel">Currency Code</option>
                                            <option value="audi">Fax Number</option>
                                            <option value="volvo">Language Code</option>
                                            <option value="saab">Mobile Number</option>
                                            <option value="opel">Zip Code</option>

                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-md-3 form-group">
                                                <button type="button" class="btn btn-primary btn-sm">
                                                    Add <span class="glyphicon glyphicon-menu-right"></span><span class="glyphicon glyphicon-menu-right"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-primary btn-sm">
                                                    <span class="glyphicon glyphicon-menu-left"></span><span class="glyphicon glyphicon-menu-left"></span>Remove
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <select name="cars" multiple size=10 style='height: 100%;'>
                                            <option value="volvo">No.</option>
                                            <option value="saab">Name</option>
                                            <option value="opel">Phone No.</option>
                                            <option value="audi">SalesPerson Code</option>
                                            <option value="volvo">Territory Code</option>
                                            <option value="saab">Search Name</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-md-3 form-group">
                                                <button type="button" class="btn btn-primary btn-sm">
                                                    <span class="glyphicon glyphicon-circle-arrow-up"></span>&nbsp; Move Up
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-primary btn-sm">
                                                    <span class="glyphicon glyphicon-circle-arrow-down"></span>&nbsp;Move Down
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>
                                    </div>
                                </div>


                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" >OK</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <style>
    </style>
