@using System.Web.UI.WebControls
@model M4PL_API_CommonUtils.Response<M4PL.Entities.disMessages>
    
 @{
    ViewBag.Title = "Messages Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    @Html.DevExpress().Menu(settings =>
        {
            settings.Name = "messagestypes";
            settings.Width = Unit.Percentage(100);

            settings.Items.Add(item =>
            {
                item.Text = "Master Types";
                item.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ContactsMessage16x16devav;
            });
        }).GetHtml()
    <div class="form-group"></div>

    <div class="row">
        <div class="col-md-3 form-group">
            @Html.DevExpress().Button(settings =>
            {
                settings.Name = "btnAddNew";
                settings.Text = "Add Messages Types";
                settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsAddfile16x16office2013;
                settings.UseSubmitBehavior = false;
                settings.ControlStyle.CssClass = "btn btn-group";
                settings.RouteValues = Url.Action("Create", "MessageTypes");
            }).GetHtml()
        </div>
    </div>

</div>  