@using System.Web.UI.WebControls
@model M4PL_API_CommonUtils.Response<M4PL.Entities.Contact>
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    @Html.DevExpress().Menu(settings =>
        {
            settings.Name = "Contact";
            settings.Width = Unit.Percentage(100);

            settings.Items.Add(item =>
            {
                item.Text = "Contact";
            });
        }).GetHtml()
    <hr />
    @Html.Partial("_Messages", Model)
    <div class="row">
        <div class="col-md-3 form-group">
            @Html.DevExpress().Button(settings =>
            {
                settings.Name = "btnAddNew";
                settings.Text = "Add Contact";
                settings.UseSubmitBehavior = false;
                settings.ControlStyle.CssClass = "btn btn-group";
                settings.RouteValues = Url.Action("Create", "Contact");
            }).GetHtml()
        </div>
    </div>
   
        @Html.Action("ContactsGridPartial")
  
</div>
