@using System.Web.UI.WebControls
@model M4PL.Entities.Contact
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <h2>Contact</h2>
    <hr />
    <div class="row">
        <div class="col-md-3 form-group">
            @Html.DevExpress().Button(settings =>
            {
                settings.Name = "btnAddNew";
                settings.Text = "Add Contact";
                settings.UseSubmitBehavior = false;
                settings.ControlStyle.CssClass = "btn btn-group";
                settings.RouteValues = Url.Action("Create", "Contact");
            }).GetHtml()
        </div>
    </div>
    <div class="row">
        @Html.Action("ContactsGridPartial")
    </div>
</div>
