@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Custom.css" rel="stylesheet" />


<div class="container-fluid">
    <h2>Contact</h2>
    <hr />
    <form id="frmContact" enctype="multipart/form-data" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2 form-group">
                        <input id="hdnContactID" type="hidden" />
                        <label>Title</label>
                        <select id="cmbTitle" class="form-control" name="Title">
                            <option>Mr.</option>
                            <option>Ms.</option>
                            <option>Mrs.</option>
                            <option>Dr.</option>
                        </select>
                    </div>
                    <div class="col-md-4 form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" id="txtFirstName" name="FirstName" name="LastName" placeholder="First Name" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" id="txtLastName" name="LastName" placeholder="Last Name" required>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6 form-group">
                        <label>Company</label>
                        <input type="text" class="form-control" id="txtCompany" name="Company" placeholder="Company">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Job Title</label>
                        <input type="text" class="form-control" id="txtJobTitle" name="JobTitle" placeholder="Job Title">
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12 form-group">
                        <label>Address</label>
                        <textarea id="txtAddress" class="form-control" rows="4" name="Address" placeholder="Address"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>City</label>
                        <input type="text" class="form-control" id="txtCity" name="City" placeholder="City">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>State/Province</label>
                        <input type="text" class="form-control" id="txtState" name="State" placeholder="State/Province">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Country</label>
                        <input type="text" class="form-control" id="txtCountry" name="Country" placeholder="Country">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Postal Code</label>
                        <input type="text" class="form-control" id="txtPostalCode" name="PostalCode" placeholder="Postal Code">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2">
                        <label for="file-input" style="border: 1px solid #ccc; margin-top: 8pt;">
                            <img src="http://www.intelligentmedia.com/Press/notavailable.gif" style="cursor: pointer; width: 100%; height: 100%;" />
                        </label>
                        <input id="file-input" type="file" style="display: none;" />
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Business Phone</label>
                                <input type="text" class="form-control setWidth" id="txtBusinessPhone" name="BusinessPhone" placeholder="Business Phone">
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="marginLft">Mobile Phone</label>
                                <input type="text" class="form-control setTxtbox" id="txtMobilePhone" name="MobilePhone" placeholder="Mobile Phone">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Home Phone</label>
                                <input type="text" class="form-control setWidth" id="txtHomePhone" name="HomePhone" placeholder="Home Phone">
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="marginLft">Fax Number</label>
                                <input type="text" class="form-control setTxtbox" id="txtFax" name="Fax" placeholder="Fax Number">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Email Address 1</label>
                        <input type="email" class="form-control" id="txtEmail" name="Email" placeholder="Email Address">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Email Address 2</label>
                        <input type="email" class="form-control" id="txtEmail2" name="Email2" placeholder="Email Address">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label>Notes</label>
                        <textarea id="txtNotes" class="form-control" rows="7" name="Notes" placeholder="Notes"></textarea>
                    </div>
                </div>
            </div>

        </div>
        <hr />
        <div class="row">
            <div class="text-center">
                <input id="btnSave" type="submit" value="Save" class="btn btn-primary" />
                <input id="Reset1" type="reset" value="Clear" class="btn btn-default" />
                <input name="Export" id="btnExport" type="button" value="Export to Outlook" class="btn btn-group" />
                <input name="Import" id="btnImport" type="button" value="Import from Outlook" class="btn btn-group" />
            </div>
        </div>
    </form>
    <br />
    <br />
    <div class="row">
        @Html.Action("ContactsGridPartial")
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/App/Contact.js"></script>
    <script type="text/javascript">
        webUrl = '@Url.Action("Index", "Contact")';
    </script>

}
