@*Copyright (2016) Meridian Worldwide Transportation Group
    All Rights Reserved Worldwide
    ====================================================================================================================================================
    Program Title:                                Meridian 4th Party Logistics(M4PL)
    Programmer:                                   Deepika
    Date Programmed:                              11/4/2016
    Program Name:                                 Index
    Purpose:                                      Provides view for Contact Panel,Messages partial view and Buttons

    ====================================================================================================================================================*@ 

@using System.Web.UI.WebControls
@model M4PL_API_CommonUtils.Response<M4PL.Entities.Contact>

@*Contact Header Panel Button , Action for Grid*@

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/App/Contact.js"></script>
<div class="container-fluid">
    @Html.DevExpress().Menu(settings =>
        {
            settings.Name = "Contact";
            settings.Width = Unit.Percentage(100);

            settings.Items.Add(item =>
            {
                item.Text = "Contact";
                item.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ContactsPhone16x16devav;
            });
        }).GetHtml()
    <div class="form-group"></div>
    @Html.Partial("_Messages", Model)
    <div class="row">
        <div class="col-md-3 form-group">
            @Html.DevExpress().Button(settings =>
            {
                settings.Name = "btnAddNew";
                settings.Text = "Add Contact";
                settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsAddfile16x16office2013;
                settings.UseSubmitBehavior = false;
                settings.ControlStyle.CssClass = "btn btn-group";
                settings.RouteValues = Url.Action("Create", "Contact");
            }).GetHtml()
        </div>
    </div>
    @Html.Action("ContactsGridPartial")
</div>

@*Contact Header Panel Button , Action for Grid*@