@*Copyright (2016) Meridian Worldwide Transportation Group
    //All Rights Reserved Worldwide
    //====================================================================================================================================================
    //Program Title:                                Meridian 4th Party Logistics(M4PL)
    //Programmer:                                   KIRTY
    //Date Programmed:                              10/29/2019
    //Program Name:                                 JobVoewReportView
    //Purpose:                                      Provides view for the JobVocReport
    //====================================================================================================================================================*@
@using M4PL.Web.Providers
@using M4PL.Entities
@using M4PL.Entities.Support;
@using System.Web.UI.WebControls
@model  M4PL.Web.Models.ReportResult<M4PL.APIClient.ViewModels.Job.JobReportView>
@{

    Model.ReportRoute.OwnerCbPanel = string.Concat(Model.ReportRoute.Controller, Model.ReportRoute.Action, "CbPanel");
    var customerDropdown = Model.Record.CompanyId.GetCustomerCompanyDropDown("Customer", Model, (Model.Record.ParentId > 0) ? Model.Record.ParentId : Model.SessionProvider.ActiveUser.OrganizationId);

    customerDropdown.ValueChangedEvent = string.Format("function(s, e) {{DevExCtrl.ComboBox.CustomerLocationCbPanelChange(s, e)}}");
    Model.Record.Id = 0;
    Model.ReportRoute.Location = Model.Record.Location;
    Model.ReportRoute.StartDate = Model.Record.StartDate;
    Model.ReportRoute.EndDate = Model.Record.EndDate;
}
@Html.DevExpress().RoundPanel(settings =>
{
    settings.Name = "pnlReportSurveyAction";
    settings.Width = Unit.Percentage(100);
    settings.AllowCollapsingByHeaderClick = true;
    settings.ShowCollapseButton = true;
    settings.HeaderText = "Job Report Survey";
    settings.Collapsed = false;
    settings.ControlStyle.CssClass = "form-layout";
    settings.SetContent(() =>
    {
        ViewContext.Writer.Write("<div class='col-lg-12 col-md-12 col-sm-12 form-group'>");
        ViewContext.Writer.Write("<div class='col-lg-4 col-md-4 col-sm-4 form-group'>");
        ViewContext.Writer.Write(Html.Action(MvcConstants.ActionDropDownViewTemplate, M4PL.Entities.EntitiesAlias.Common.ToString(), new { Area = string.Empty, strDropDownViewModel = Newtonsoft.Json.JsonConvert.SerializeObject(customerDropdown) }));
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("<div class='col-lg-4 col-md-4 col-sm-4 form-group'>");
        ViewContext.Writer.Write(Html.Partial("CustomerLocation", Model));
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("</div>");

        ViewContext.Writer.Write("<div class='col-lg-12 col-md-12 col-sm-12 form-group'>");
        ViewContext.Writer.Write("<div class='col-lg-4 col-md-4 col-sm-4 form-group'>");
        ViewContext.Writer.Write(Html.EditorFor(t => t.Record.StartDate));
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("<div class='col-lg-4 col-md-4 col-sm-4 form-group'>");
        ViewContext.Writer.Write(Html.EditorFor(t => t.Record.EndDate));
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("</div>");

        ViewContext.Writer.Write("<div class='col-lg-12 col-md-12 col-sm-12 form-group'>");
        ViewContext.Writer.Write("<div class='col-lg-8 col-md-8 col-sm-8 form-group'>");
        ViewContext.Writer.Write(Html.DevExpress().Button(set =>
        {
            set.Name = "btn" + Model.CallBackRoute.Controller + "GetVocReport";
            set.EnableTheming = true;
            set.Text = "VOC Report";
            set.AllowFocus = false;
            set.ControlStyle.CssClass = "form-btn";
            set.ClientSideEvents.Click = string.Format("function(s, e, rprtVwrCtrl, rprtVwrRoute) {{M4PLCommon.VocReport.GetVocReportByFilter(s, e, {0}, {1}); }}", Model.ReportRoute.OwnerCbPanel, Newtonsoft.Json.JsonConvert.SerializeObject(Model.ReportRoute));
        }).GetHtml());
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("</div>");
    });
}).GetHtml()
@if (Model.Record != null)
{
    Html.RenderAction(MvcConstants.ActionInnerCallBackPanel, new { strRoute = Newtonsoft.Json.JsonConvert.SerializeObject(Model.ReportRoute) });
}
