@*Copyright (2016) Meridian Worldwide Transportation Group
    //All Rights Reserved Worldwide
    //====================================================================================================================================================
    //Program Title:                                Meridian 4th Party Logistics(M4PL)
    //Programmer:                                   KIRTY
    //Date Programmed:                              23/01/2020
    //Program Name:                                 JobAdvanceReportView
    //Purpose:                                      Provides view for the JobReport with advance search and filter
    //====================================================================================================================================================*@

@using System.Collections
@using M4PL.Entities
@using M4PL.Web.Providers
@using M4PL.Utilities;
@using M4PL.Entities.Support;
@using DevExpress.Data.Filtering.Helpers;

@model dynamic
@{
    string strRoute = string.Empty;
    try
    {

        strRoute = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
    }
    catch {
        strRoute = string.Empty;
    }
}
@Html.DevExpress().CallbackPanel(settings =>
{
    settings.Name = "JobAdvanceReportCbPanel";
    settings.CallbackRouteValues = new
    {
        Controller = "JobAdvanceReport",
        Action = "GetjobAdvanceReport",
        Area = "Job",
        OwnerCbPanel = "JobAdvanceReportCbPanel"
    };
    settings.Height = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.SetContent(() =>
    {
        ViewContext.Writer.Write("<div id='divadvancegrid'>");      
            Html.RenderAction(MvcConstants.ActionDataView, "JobAdvanceReport", new { Area = "Job" });
        //if ((Boolean)ViewData["ShowGrid"])
        //    Html.RenderAction(MvcConstants.ActionDataView, "JobAdvanceReport", new { Area = "Job" });
        //else
        //    ViewContext.Writer.Write("<strong>Push the button</strong>");
        ViewContext.Writer.Write("</div>");
        //Html.RenderPartial(MvcConstants.ActionDataView, "JobAdvanceReport", new { Area = "Job"});
    });
    if (!string.IsNullOrEmpty(strRoute))
    {
        settings.ClientSideEvents.BeginCallback = "M4PLWindow.CallBackPanel.OnBeginCallback";
        settings.ClientSideEvents.EndCallback = "M4PLWindow.CallBackPanel.OnEndCallBack";
        settings.ClientSideEvents.CallbackError = "M4PLWindow.CallBackPanel.OnCallbackError";
        settings.ClientSideEvents.Init = "function(s, e){ M4PLWindow.CallBackPanel.Init(s, e, " + strRoute + ") }";
    }

}).GetHtml()