@*Copyright (2016) Meridian Worldwide Transportation Group

    //====================================================================================================================================================
    //Program Title:                                Meridian 4th Party Logistics(M4PL)
    //Programmer:                                   KIRTY
    //Date Programmed:                              12/12/2019
    //Program Name:                                 JobAdvanceReportView
    //Purpose:                                      Provides view for the JobReport with advance search and filter
    //====================================================================================================================================================*@
@using M4PL.Web.Providers
@using M4PL.Entities
@using M4PL.Entities.Support;
@using System.Web.UI.WebControls
@using M4PL.Web.Models;
@using M4PL.APIClient.ViewModels.Job;
@using M4PL.Web.Providers;
@using M4PL.Utilities;
@model  M4PL.Web.Models.ReportResult<M4PL.APIClient.ViewModels.Job.JobReportView>
@{
    Model.ReportRoute.OwnerCbPanel = string.Concat(Model.ReportRoute.Controller, Model.ReportRoute.Action, "CbPanel");
    var reportTypeChangeEvent = string.Format("function(s, e, rprtVwrCtrl, rprtVwrRoute) {{M4PLCommon.AdvancedReport.ReportTypeChangeEvent(s, e, {0}, {1}); }}", "JobAdvanceReportGridView", Newtonsoft.Json.JsonConvert.SerializeObject(Model.ReportRoute));
    var customerDropdown = Model.Record.CompanyId.GetCustomerCompanyDropDown("Customer", Model, (Model.Record.ParentId > 0) ? Model.Record.ParentId : Model.SessionProvider.ActiveUser.OrganizationId, true);
    customerDropdown.OnInit = "M4PLCommon.AdvancedReport.DefaultSelectedCustomer(s,e);";
    customerDropdown.ValueChangedEvent = string.Format("function(s, e) {{DevExCtrl.ComboBox.ProgramByCustomerCbPanelChange(s, e)}}");
    Model.ReportRoute.StartDate = Model.Record.StartDate;
    Model.ReportRoute.EndDate = Model.Record.EndDate;
    var crgoDropDownViewModel = new M4PL.APIClient.ViewModels.DropDownViewModel();
    crgoDropDownViewModel = Model.Record.CargoId.GetCargoDropDown("CargoId", Model, Model.Record.ProgramId);
}

<div class="col-lg-6 col-md-6 col-sm-6 form-group">
    @Html.EditorFor(m => m.Record.ReportType, new { ReportType = Model.Record.ReportType, OnChange = reportTypeChangeEvent })
</div>

@Html.DevExpress().RoundPanel(settings =>
{
    settings.Name = "pnlJobAdvanceReport";
    settings.Width = Unit.Percentage(100);
    settings.AllowCollapsingByHeaderClick = true;
    settings.ShowCollapseButton = true;
    settings.HeaderText = "Job Advance Report";
    settings.Collapsed = false;
    settings.ControlStyle.CssClass = "form-layout custom-job-report-advance-panel form-layout-pnlJobAdvanceReport";
    settings.ClientSideEvents.Init = "M4PLCommon.AdvancedReport.Init";
    settings.SetContent(() =>
    {
        //ViewContext.Writer.Write("<div class='form-row-group ordertype-margin'>" + Html.EditorFor(m => m.Record.ReportType, new { StatusId = Model.Record.StatusId }).ToHtmlString() + "</div>");
        ViewContext.Writer.Write("<div class='col-lg-12 col-md-12 col-sm-12 job-advance-report-form-row'>");
        ViewContext.Writer.Write("<div class='col-lg-2 col-md-2 col-sm-2 form-group style='padding-bottom: 0px;'>");
        ViewContext.Writer.Write(Html.Action(MvcConstants.ActionDropDownViewTemplate, M4PL.Entities.EntitiesAlias.Common.ToString(), new { Area = string.Empty, strDropDownViewModel = Newtonsoft.Json.JsonConvert.SerializeObject(customerDropdown) }));
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("<div class='col-lg-2 col-md-2 col-sm-2 custom-panel-ctrl-label form-group style='padding-bottom: 0px;'>");
        ViewContext.Writer.Write(Html.Partial("ProgramByCustomer", Model));
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("<div class='col-lg-2 col-md-2 col-sm-2 custom-panel-ctrl-label form-group style='padding-bottom: 0px;'>");
        ViewContext.Writer.Write(Html.Partial("OrginByCustomer", Model));
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("<div class='col-lg-2 col-md-2 col-sm-2 custom-panel-ctrl-label form-group style='padding-bottom: 0px;'>");
        ViewContext.Writer.Write(Html.Partial("DestinationByProgramCustomer", Model));
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("<div class='col-lg-2 col-md-2 col-sm-2 custom-panel-ctrl-label form-group style='padding-bottom: 0px;'>");
        ViewContext.Writer.Write(Html.Partial("BrandByProgramCustomer", Model));
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("<div class='col-lg-2 col-md-2 col-sm-2 custom-panel-ctrl-label form-group style='padding-bottom: 0px;'>");
        ViewContext.Writer.Write(Html.Partial("GatewayStatusByProgramCustomer", Model));
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("<div class='col-lg-12 col-md-12 col-sm-12 job-advance-report-form-row'>");
        ViewContext.Writer.Write("<div class='col-lg-2 col-md-2 col-sm-2 custom-panel-ctrl-label form-group style='padding-bottom: 0px;'>");
        ViewContext.Writer.Write(Html.Partial("ServiceModeByCustomer", Model));
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("<div class='col-lg-2 col-md-2 col-sm-2 custom-panel-ctrl-label form-group style='padding-bottom: 0px;'>");
        ViewContext.Writer.Write(Html.Partial("ProductTypeByCustomer", Model));
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("<div class='col-lg-2 col-md-2 col-sm-2 form-group style='padding-bottom: 0px;'>");
        ViewContext.Writer.Write(Html.Partial("ScheduleByCustomer", Model));
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("<div class='col-lg-2 col-md-2 col-sm-2 form-group style='padding-bottom: 0px;'>");
        ViewContext.Writer.Write(Html.Partial("OrderTypeByCustomer", Model));
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("<div class='col-lg-2 col-md-2 col-sm-2 custom-panel-ctrl-label form-group style='padding-bottom: 0px;'>");
        ViewContext.Writer.Write(Html.Partial("ChannelByCustomer", Model));
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("<div class='col-lg-2 col-md-2 col-sm-2 form-group style='padding-bottom: 0px;'>");
        ViewContext.Writer.Write(Html.Partial("JobStatusIdByCustomer", Model));
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("<div class='col-lg-12 col-md-12 col-sm-12 job-advance-report-form-row'>");
        ViewContext.Writer.Write("<div class='col-lg-2 col-md-2 col-sm-2 form-group style='padding-bottom: 0px;'>");
        ViewContext.Writer.Write(Html.Partial("DateTypeByCustomer", Model));
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("<div class='col-lg-2 col-md-2 col-sm-2 form-group style='padding-bottom: 0px;'>");
        ViewContext.Writer.Write(Html.EditorFor(t => t.Record.StartDate));
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("<div class='col-lg-2 col-md-2 col-sm-2 form-group style='padding-bottom: 0px;'>");
        ViewContext.Writer.Write(Html.EditorFor(t => t.Record.EndDate));
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("<div class='col-lg-2 col-md-2 col-sm-2 form-group style='padding-bottom: 0px;'>");
        ViewContext.Writer.Write(Html.EditorFor(t => t.Record.Search));
        ViewContext.Writer.Write("</div>");
        //ViewContext.Writer.Write("<div class='col-lg-2 col-md-2 col-sm-2 form-group style='padding-bottom: 0px;'>");
        //ViewContext.Writer.Write(string.Format(CssConstants.DivFormRowCls, CssConstants.ColFixed13, Html.EditorFor(m => m.Record.IsEnabledAddtionalfield, new { CheckedChanged = "M4PLCommon.AdvancedReport.IsExtrafieldCheckBoxEventChange(s,e);" }).ToHtmlString()));
        //ViewContext.Writer.Write("</div>");

        ViewContext.Writer.Write("<div class='col-lg-2 col-md-2 col-sm-2 form-group style='padding-bottom: 0px;'>");
        ViewContext.Writer.Write(Html.Partial("PackagingTypeByJob", Model));
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("<div class='col-lg-2 col-md-2 col-sm-2 form-group style='padding-bottom: 0px;'>");
        ViewContext.Writer.Write(Html.Action(MvcConstants.ActionDropDownViewTemplate, EntitiesAlias.Common.ToString(), new { Area = string.Empty, strDropDownViewModel = Newtonsoft.Json.JsonConvert.SerializeObject(crgoDropDownViewModel) }));
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("<div class='col-lg-12 col-md-12 col-sm-12 job-advance-report-form-row'>");
        //ViewContext.Writer.Write("<div class='col-lg-2 col-md-2 col-sm-2 form-group style='padding-bottom: 0px;'>");
        //ViewContext.Writer.Write(string.Format(CssConstants.DivFormRowCls, CssConstants.ColFixed13, Html.EditorFor(m => m.Record.Manifest).ToHtmlString()));
        //ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("<div class='col-lg-2 col-md-2 col-sm-2 custom-generate-report-btn form-group' style='padding: 7px;'>");
        ViewContext.Writer.Write(Html.DevExpress().Button(set =>
        {
            set.Name = "btn" + Model.CallBackRoute.Controller + "GetJobAdvanceReport";
            set.EnableTheming = true;
            set.Text = "Generate Report";
            set.AllowFocus = false;
            set.ControlStyle.CssClass = "form-btn";
            set.Width = 90;
            set.ClientSideEvents.Click = string.Format("function(s, e, rprtVwrCtrl, rprtVwrRoute) {{M4PLCommon.AdvancedReport.GetJobAdvanceReportByFilter(s, e, {0}, {1}); }}", "JobAdvanceReportGridView", Newtonsoft.Json.JsonConvert.SerializeObject(Model.ReportRoute));
        }).GetHtml());
        ViewContext.Writer.Write("</div>");
        ViewContext.Writer.Write("</div>");
        ////
    });
}).GetHtml()
@using (Html.BeginForm())
{
    @Html.Partial("JobAdvanceReportGridPartial")
}