@*Copyright (2016) Meridian Worldwide Transportation Group

    //====================================================================================================================================================
    //Program Title:                                Meridian 4th Party Logistics(M4PL)
    //Programmer:                                   KIRTY
    //Date Programmed:                              26/01/2020
    //Program Name:                                 JobAdvanceReportGridPartial
    //Purpose:                                      Provides view for the JobAdvanceReportGridPartial with advance search and filter
    //====================================================================================================================================================*@
@Html.DevExpress().CallbackPanel(settings =>
{
    settings.Name = "JobAdvanceReportCbPanel";
    settings.CallbackRouteValues = new
    {
        Controller = "JobAdvanceReport",
        Action = "DataView",
        Area = "Job",
        OwnerCbPanel = "JobAdvanceReportCbPanel"
    };
    settings.SetContent(() =>
    {
        ViewContext.Writer.Write("<div class='col-lg-12 col-md-12 col-sm-12 job-advance-report-form-row isDriverScrubreport'>");
        ViewContext.Writer.Write(Html.Action(MvcConstants.ActionDataView, M4PL.Entities.EntitiesAlias.JobAdvanceReport.ToString()));
        ViewContext.Writer.Write("</div>");
    });
}).GetHtml()