  update [M4PL_Test].[dbo].[SYSTM000Ref_UserSettings]
  set SysJsonSetting = '[{"Entity":70,"EntityName":"JobGateway","Name":"ItemNumber","Value":"AND JobGateway.GatewayTypeId=","ValueType":"int","IsOverWritable":true,"IsSysAdmin":false},{"Entity":70,"EntityName":"JobGateway","Name":"ItemNumber","Value":"AND JobGateway.GwyOrderType=","ValueType":"String","IsOverWritable":true,"IsSysAdmin":false},{"Entity":70,"EntityName":"JobGateway","Name":"ItemNumber","Value":"AND JobGateway.GwyShipmentType=","ValueType":"String","IsOverWritable":true,"IsSysAdmin":false},{"Entity":52,"EntityName":"PrgRefGatewayDefault","Name":"ItemNumber","Value":"AND PrgRefGatewayDefault.GatewayTypeId=","ValueType":"int","IsOverWritable":true,"IsSysAdmin":false},{"Entity":52,"EntityName":"PrgRefGatewayDefault","Name":"ItemNumber","Value":"AND PrgRefGatewayDefault.PgdOrderType=","ValueType":"String","IsOverWritable":true,"IsSysAdmin":false},{"Entity":52,"EntityName":"PrgRefGatewayDefault","Name":"ItemNumber","Value":"AND PrgRefGatewayDefault.PgdShipmentType=","ValueType":"String","IsOverWritable":true,"IsSysAdmin":false},{"Entity":69,"EntityName":"JobDocReference","Name":"ItemNumber","Value":"AND JobDocReference.DocTypeId =","ValueType":"int","IsOverWritable":true,"IsSysAdmin":false},{"Entity":131,"EntityName":"System","Name":"SysMainModuleId","Value":"10","ValueType":"Int","IsOverWritable":true,"IsSysAdmin":false},{"Entity":131,"EntityName":"System","Name":"SysDefaultAction","Value":"Dashboard","ValueType":"String","IsOverWritable":true,"IsSysAdmin":false},{"Entity":131,"EntityName":"System","Name":"SysStatusesIn","Value":"1,2","ValueType":"String","IsOverWritable":true,"IsSysAdmin":false},{"Entity":131,"EntityName":"System","Name":"SysGridViewPageSizes","Value":"30,50,100","ValueType":"String","IsOverWritable":true,"IsSysAdmin":false},{"Entity":131,"EntityName":"System","Name":"SysPageSize","Value":"30","ValueType":"Int","IsOverWritable":true,"IsSysAdmin":false},{"Entity":131,"EntityName":"System","Name":"SysComboBoxPageSize","Value":"10","ValueType":"Int","IsOverWritable":true,"IsSysAdmin":false},{"Entity":131,"EntityName":"System","Name":"SysThresholdPercentage","Value":"10","ValueType":"Int","IsOverWritable":true,"IsSysAdmin":false},{"Entity":131,"EntityName":"System","Name":"Theme","Value":"Office2010Black","ValueType":"String","IsOverWritable":true,"IsSysAdmin":false},{"Entity":131,"EntityName":"System","Name":"SysSessionTimeOut","Value":"60","ValueType":"Int","IsOverWritable":true,"IsSysAdmin":false},{"Entity":131,"EntityName":"System","Name":"SysWarningTime","Value":"2","ValueType":"Int","IsOverWritable":true,"IsSysAdmin":false},{"Entity":131,"EntityName":"System","Name":"SysDateFormat","Value":"MM/dd/yyyy","ValueType":"String","IsOverWritable":true,"IsSysAdmin":false},{"Entity":109,"EntityName":"DeliveryStatus","Name":"ReadOnlyRelationalEntity","Value":"OrganizationId","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":97,"EntityName":"SystemAccount","Name":"ReadOnlyRelationalEntity","Value":"SysOrgId","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":42,"EntityName":"VendDocReference","Name":"ReadOnlyRelationalEntity","Value":"VdrOrgID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":42,"EntityName":"VendDocReference","Name":"ReadOnlyRelationalEntity","Value":"VdrVendorID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":43,"EntityName":"VendFinancialCalendar","Name":"ReadOnlyRelationalEntity","Value":"OrgID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":43,"EntityName":"VendFinancialCalendar","Name":"ReadOnlyRelationalEntity","Value":"VendID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":37,"EntityName":"VendBusinessTerm","Name":"ReadOnlyRelationalEntity","Value":"VbtOrgID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":37,"EntityName":"VendBusinessTerm","Name":"ReadOnlyRelationalEntity","Value":"VbtVendorID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":38,"EntityName":"VendContact","Name":"ReadOnlyRelationalEntity","Value":"ConPrimaryRecordId","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":33,"EntityName":"CustDocReference","Name":"ReadOnlyRelationalEntity","Value":"CdrOrgID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":33,"EntityName":"CustDocReference","Name":"ReadOnlyRelationalEntity","Value":"CdrCustomerID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":34,"EntityName":"CustFinancialCalendar","Name":"ReadOnlyRelationalEntity","Value":"OrgID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":34,"EntityName":"CustFinancialCalendar","Name":"ReadOnlyRelationalEntity","Value":"CustID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":28,"EntityName":"CustBusinessTerm","Name":"ReadOnlyRelationalEntity","Value":"CbtOrgID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":28,"EntityName":"CustBusinessTerm","Name":"ReadOnlyRelationalEntity","Value":"CbtCustomerId","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":50,"EntityName":"PrgMvocRefQuestion","Name":"ReadOnlyRelationalEntity","Value":"MVOCID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":31,"EntityName":"CustDcLocation","Name":"ReadOnlyRelationalEntity","Value":"CdcCustomerID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":29,"EntityName":"CustContact","Name":"ReadOnlyRelationalEntity","Value":"ConPrimaryRecordId","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":36,"EntityName":"Vendor","Name":"ReadOnlyRelationalEntity","Value":"VendOrgID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":27,"EntityName":"Customer","Name":"ReadOnlyRelationalEntity","Value":"CustOrgId","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":23,"EntityName":"OrgPocContact","Name":"ReadOnlyRelationalEntity","Value":"OrgID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":19,"EntityName":"OrgCredential","Name":"ReadOnlyRelationalEntity","Value":"OrgID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":95,"EntityName":"SecurityByRole","Name":"ReadOnlyRelationalEntity","Value":"OrgId","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":2,"EntityName":"Contact","Name":"ReadOnlyRelationalEntity","Value":"ConOrgId","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":84,"EntityName":"ScrCatalogList","Name":"ReadOnlyRelationalEntity","Value":"CatalogProgramID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":64,"EntityName":"Job","Name":"ReadOnlyRelationalEntity","Value":"ProgramID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true}]'