@*Copyright (2016) Meridian Worldwide Transportation Group
    All Rights Reserved Worldwide
    ====================================================================================================================================================
    Program Title:                                Meridian 4th Party Logistics(M4PL)
    Programmer:                                   Deepika
    Date Programmed:                              4/4/2016
    Program Name:                                 _PivotGridPartial
    Purpose:                                      Provides view for Pivot Grid

    ====================================================================================================================================================*@ 

@using System.Web.UI.WebControls
<div class="container-fluid">   

    @*Pivot Grid*@
    @Html.DevExpress().PivotGrid(settings =>
{
    settings.Name = "PivotGrid";
    settings.CallbackRouteValues = new { Controller = "Home", Action = "PivotGridPartial" };
    settings.Width = Unit.Percentage(90);
    settings.Height = Unit.Percentage(50);

    settings.OptionsView.VerticalScrollingMode = PivotScrollingMode.Standard;

    settings.OptionsView.ShowColumnGrandTotals = false;
    settings.OptionsView.ShowRowGrandTotals = true;

    settings.Fields.Add(field =>
    {
        field.Area = PivotArea.FilterArea;
        field.FieldName = "OrderID";
        field.Caption = "OrderID";
    });
    settings.Fields.Add(field =>
    {
        field.Area = PivotArea.RowArea;
        field.FieldName = "ShipName";
        field.Caption = "Ship Name";
    });
    settings.Fields.Add(field =>
    {
        field.Area = PivotArea.FilterArea;
        field.FieldName = "OrderDate";
        field.Caption = "Order Date";

        field.ValueFormat.FormatType = DevExpress.Utils.FormatType.DateTime;
        field.ValueFormat.FormatString = "MMM/yyyy";
    });
    settings.Fields.Add(field =>
    {
        field.Area = PivotArea.ColumnArea;
        field.FieldName = "ShipCountry";
        field.Caption = "Ship Country";
    });
    settings.Fields.Add(field =>
    {
        field.Area = PivotArea.FilterArea;
        field.FieldName = "ShippedDate";
        field.Caption = "Shipped Date";
        field.ValueFormat.FormatType = DevExpress.Utils.FormatType.DateTime;
        field.ValueFormat.FormatString = "MMM/yyyy";
    });
    settings.Fields.Add(field =>
    {
        field.Area = PivotArea.DataArea;
        field.FieldName = "Quantity";
        field.Caption = "Quantity";
    });
    settings.Fields.Add(field =>
    {
        field.Area = PivotArea.DataArea;
        field.FieldName = "UnitPrice";
        field.Caption = "Unit Price";
    });

    settings.Fields.Add(field =>
    {
        field.Area = PivotArea.RowArea;
        field.FieldName = "TotalPrice";
        field.Caption = "Total Price";
    });
}).Bind(Model).GetHtml()
</div>
@*Pivot Grid*@