@using System.Web.UI.WebControls;
@model M4PL_API.Controllers.HomeModel

    @*<div class="col-md-6" style="float: left;">
        @Html.DevExpress().GridView(settings =>
        {
            settings.Name = "grid";
            settings.CallbackRouteValues = new { Controller = "Home", Action = "MasterDetailMasterPartial" };
            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            settings.Height = 300;

            settings.KeyFieldName = "EmployeeID";
            settings.Columns.Add("LastName");
            settings.Columns.Add("FirstName");
            settings.Columns.Add("Title");
            settings.Columns.Add("Country");

            settings.SettingsDetail.AllowOnlyOneMasterRowExpanded = false;
            settings.SettingsDetail.ShowDetailRow = true;

            settings.SetDetailRowTemplateContent(c =>
            {
                Html.RenderAction("MasterDetailDetailPartial", new { EmployeeID = DataBinder.Eval(c.DataItem, "EmployeeID") });
            });

            settings.PreRender = (sender, e) =>
            {
                ((MVCxGridView)sender).DetailRows.ExpandRow(0);
            };
        }).Bind(Model.GetCustomers).GetHtml()
    </div>*@
    <div class="col-md-12" style="float: left;">
        @Html.DevExpress().Scheduler(settings =>
        {
            settings.Name = "scheduler";
            settings.CallbackRouteValues = new { Controller = "Home", Action = "SchedulerPartial" };
            settings.Start = DateTime.Today;
            settings.OptionsView.ShowOnlyResourceAppointments = false;
            settings.GroupType = SchedulerGroupType.Resource;
            settings.ActiveViewType = SchedulerViewType.Month;
            settings.Views.TimelineView.Enabled = false;
            settings.Views.WorkWeekView.Enabled = false;
            settings.Storage.Appointments.Mappings.AppointmentId = "Id";
            settings.Storage.Appointments.Mappings.Subject = "Title";
            settings.Storage.Appointments.Mappings.Start = "Start";
            settings.Storage.Appointments.Mappings.End = "End";
            //settings.Storage.Appointments.Mappings.ResourceId = "ResourceId";

            //settings.Storage.Resources.Mappings.ResourceId = "Id";
            //settings.Storage.Resources.Mappings.Caption = "Title";

        }).Bind(Model.SchedulerModel.Appointments, Model.SchedulerModel.Resources).GetHtml()
    </div>



