@using System.Drawing;
@using System.Web.UI.WebControls;
@model M4PL_API.Controllers.HomeModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["PartialView"] = "HomePartial";
}

<h2>Welcome</h2>
<hr />

@*@section SectionViewStart{
    <div class="col-md-12">
    Start content will come here
</div>
}

@section SectionViewEnd{
    <div class="col-md-12">
        End content will come here
    </div>
}*@
