@using System.Drawing
@using System.Web.UI.WebControls
@using M4PL_Apln.Models
@{
    ViewBag.Title = "PivotGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Pivot Header Panel*@

<div class="container-fluid">

    @Html.DevExpress().Menu(settings =>
        {
            settings.Name = "Pivot Grid";
            settings.Width = Unit.Percentage(100);

            settings.Items.Add(item =>
            {
                item.Text = "Pivot Grid";
                item.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ReportsAddheader16x16;
               
            });
        }).GetHtml()

    <div class="form-group"></div>
    <div class="row">
        @Html.Action("PivotGridPartial")
    </div>
</div>

@*Pivot Header Panel *@