@using M4PL_Apln.Models
@{
    ViewBag.Title = "PivotGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    
    <h2>PivotGrid</h2>
    <div class="row">
        <div class="col-md-12">
            @Html.Action("PivotGridPartial")
        </div>
    </div>
</div>