@using M4PL.Utilities;
@model M4PL.APIClient.ViewModels.DropDownViewModel
@{
////Model.ValueChangedEvent = string.Format("function(s, e, ownerCbPanel, dropDownViewModel) {{M4PLCommon.CompanyCombobox.OnValueChanged(s, e, {0}, {1}); }}", string.Format("{0}CbPanel", Model.ControlName), Newtonsoft.Json.JsonConvert.SerializeObject(Model));
}
@Html.DevExpress().CallbackPanel(settings =>
{

    settings.Name = string.Format("{0}CbPanel", Model.ControlName);
    settings.CallbackRouteValues = new { Controller = M4PL.Entities.EntitiesAlias.Common, Action = MvcConstants.ActionCompanyComboBox, Area = string.Empty, selectedId = 0 };

    settings.SetContent(() =>
    {
        ////var companyRoute = new M4PL.Entities.Support.MvcRoute(M4PL.Entities.EntitiesAlias.Company, MvcConstants.ActionCompanyCardForm, M4PL.Entities.EntitiesAlias.Company.ToString());
        ////companyRoute.RecordId = Model.SelectedId == null ? 0 : Model.SelectedId.ToLong();
        ////companyRoute.IsPopup = true;
        ////companyRoute.OwnerCbPanel = string.Format("{0}CbPanel", Model.ControlName);
        ////companyRoute.ParentEntity = Model.ParentEntity;
        ViewContext.Writer.Write("<div class='admin-sys-acount form-row-group'>");
        ViewContext.Writer.Write("<div class='prog-contact'>");
        Html.RenderAction(MvcConstants.ActionDropDownViewTemplate, M4PL.Entities.EntitiesAlias.Common.ToString(), new { Area = string.Empty, strDropDownViewModel = Newtonsoft.Json.JsonConvert.SerializeObject(Model) });
        ViewContext.Writer.Write("</div>");

        ViewContext.Writer.Write("</div>");
    });
}).GetHtml()