<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" /> 
      <add key="CsvPath" value="C:\\xCBLService\\CSV"/> 
  </appSettings>


  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime executionTimeout="600"  targetFramework="4.5" maxRequestLength="51200" />
  </system.web>
  
  <system.serviceModel>
    <services>
      <service name="XCBL.WebService.MeridianService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="NewBinding0"
          contract="XCBL.WebService.IMeridianService" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <!-- <binding name="NewBinding0"  maxBufferSize="52428800" maxReceivedMessageSize="52428800"    >
                  <readerQuotas maxDepth="32" maxStringContentLength="52428800"
            maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384" /> maxBufferSize="10485760"  closeTimeout="00:50:00" openTimeout="00:50:00" sendTimeout="00:50:00" receiveTimeout="00:50:00" maxReceivedMessageSize="10485760" maxBufferPoolSize="10485760"> 
                <readerQuotas  maxDepth="10485760" maxStringContentLength="10485760" maxArrayLength="10485760" maxBytesPerRead="10485760" maxNameTableCharCount="10485760" />
                  <security  mode="Transport">
                     <transport clientCredentialType="None"   />
                      <message clientCredentialType="UserName" />
                  </security>
              </binding>-->
        <binding name="NewBinding0" closeTimeout="04:01:00"
   openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00"
   allowCookies="false" bypassProxyOnLocal="false"
   hostNameComparisonMode="StrongWildcard"

   maxReceivedMessageSize="2147483647"
   messageEncoding="Text" textEncoding="utf-8"

   useDefaultWebProxy="true">
          <readerQuotas maxDepth="128"
              maxStringContentLength="2147483647" maxArrayLength="2147483647"
              maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None"
                    proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>

        <!--<binding name="BasicHttpBinding_IService" maxBufferPoolSize="10485760" maxReceivedMessageSize="10485760" maxBufferSize="10485760">
          <readerQuotas maxDepth="200" maxStringContentLength="8388608" maxArrayLength="16384" maxBytesPerRead="10485760" maxNameTableCharCount="16384" />
        </binding>-->
      </wsHttpBinding>
    </bindings>




    <behaviors>
      <serviceBehaviors>
        <behavior >
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata  httpsGetEnabled="true"  />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="true"/>
          <dataContractSerializer maxItemsInObjectGraph="52428800"/>
        </behavior>
      </serviceBehaviors>
      <!--<endpointBehaviors>
        <behavior name="AjaxBehavior">
          <enableWebScript    />
        <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>-->

    </behaviors>
    <protocolMapping>
    
      <add binding="wsHttpBinding"  scheme="https" bindingConfiguration="NewBinding0" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
