SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Copyright (2018) Meridian Worldwide Transportation Group
   All Rights Reserved Worldwide */
-- =============================================        
-- Author:                    Akhil Chauhan         
-- Create date:               08/16/2018      
-- Description:               Get a contact
-- Execution:                 EXEC [dbo].[GetContact] 
-- Modified on:				  11/26/2018( Nikhil - Introduced roleId to support security)    
-- Modified Desc:  
-- ============================================= 
CREATE PROCEDURE [dbo].[GetContact] @userId BIGINT
	,@roleId BIGINT
	,@orgId BIGINT
	,@id BIGINT
AS
BEGIN TRY
	SET NOCOUNT ON;

	SELECT con.[Id]
		,con.[ConERPId]
		,org.[OrgTitle] AS ConCompany
		,con.[ConTitleId]
		,con.ConOrgId
		,con.[ConCompanyName]
		,con.[ConLastName]
		,con.[ConFirstName]
		,con.[ConMiddleName]
		,con.[ConEmailAddress]
		,con.[ConEmailAddress2]
		,con.[ConImage]
		,con.[ConJobTitle]
		,con.[ConBusinessPhone]
		,con.[ConBusinessPhoneExt]
		,con.[ConHomePhone]
		,con.[ConMobilePhone]
		,con.[ConFaxNumber]
		,con.[ConBusinessAddress1]
		,con.[ConBusinessAddress2]
		,con.[ConBusinessCity]
		,con.[ConBusinessStateId]
		,con.[ConBusinessZipPostal]
		,con.[ConBusinessCountryId]
		,con.[ConHomeAddress1]
		,con.[ConHomeAddress2]
		,con.[ConHomeCity]
		,con.[ConHomeStateId]
		,con.[ConHomeZipPostal]
		,con.[ConHomeCountryId]
		,con.[ConAttachments]
		,con.[ConWebPage]
		,con.[ConNotes]
		,con.[StatusId]
		,con.[ConTypeId]
		,con.[ConFullName]
		,con.[ConFileAs]
		,con.[ConOutlookId]
		,con.[ConUDF01]
		,states.StateAbbr AS [ConBusinessStateIdName]
		,country.SysOptionName AS [ConBusinessCountryIdName]
		,con.ConCompanyId
		,con.[DateEntered]
		,con.[EnteredBy]
		,con.[DateChanged]
		,con.[ChangedBy]
		,Comp.CompTableName AS CompanyType
	FROM [dbo].[CONTC000Master] con
	INNER JOIN [dbo].[ORGAN000Master] org ON org.ID = con.ConOrgId
	LEFT JOIN dbo.COMP000Master Comp ON Comp.Id = con.ConCompanyId
	LEFT JOIN [dbo].[SYSTM000Ref_Options] country ON con.ConBusinessCountryId = country.Id
	LEFT JOIN [dbo].[SYSTM000Ref_States] states ON con.ConBusinessStateId = states.Id
	WHERE con.[Id] = @id
END TRY

BEGIN CATCH
	DECLARE @ErrorMessage VARCHAR(MAX) = (
			SELECT ERROR_MESSAGE()
			)
		,@ErrorSeverity VARCHAR(MAX) = (
			SELECT ERROR_SEVERITY()
			)
		,@RelatedTo VARCHAR(100) = (
			SELECT OBJECT_NAME(@@PROCID)
			)

	EXEC [dbo].[ErrorLog_InsDetails] @RelatedTo
		,NULL
		,@ErrorMessage
		,NULL
		,NULL
		,@ErrorSeverity
END CATCH
GO
