SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Copyright (2018) Meridian Worldwide Transportation Group
-- All Rights Reserved Worldwide
-- Author:		Nathan Fujimoto
-- Create date: 4/3/2018
-- Description:	The stored procedure inserts the EDI orders from the flat file into the EDI856Manifest Header table.
-- =============================================
CREATE Procedure [dbo].[ediInsertEDI856Header]
	@TradingPartner varchar(20),
	@GroupControlNo bigint,	
	@MasterBOLNo varchar(30),	
	@OrderTotal varchar(10),
	@CustomerReferenceNo varchar(30),
	@BOLNo nvarchar(30),
	@LMSLocationID varchar(30),
	@ShipmentDestCode varchar(30),
	@OrderType varchar(30),
	@PurchaseOrderNo varchar(30),
	@LocationNumber varchar(30),
	@OriginalShipFromLocation varchar(30),
	@Latitude varchar(30),
	@Longitude varchar(30),
	@ShipDescription varchar(80),
	@PromisedDeliveryDate datetime2(7),
	@ScheduledDeliveryDate datetime2(7),	
	@OrderATGroup varchar(50),
	@ManifestNo varchar(30),
	@DateSent datetime2(7),
	@TimeSent datetime2(7),
	@ShippedDate datetime2(7),
	@EstimatedDeliveryDate datetime2(7),	
	@PackType varchar(10),
	@TotalQuantity bigint,
	@CommodityCode varchar(50),
	@LadingDescription varchar(50),	
	@TotalWeight decimal(18,2),
	@ItemWeight decimal(18,2),	
	@WeightQualifier varchar(10),
	@TotalVolume decimal(18,2),	
	@VolumeQualifier varchar(10),
	@VolumeUnitOfMeasure varchar(10),
	@OriginCarrier varchar(10),
	@CarrierSCAC varchar(80),	
	@TransportationMethod varchar(80),	
	@EquipmentInitials varchar(10),
	@EquipmentNumber varchar(10),
	@ConsigneeName varchar(60),	
	@ConsigneeAddress1 varchar(75),
	@ConsigneeAddress2 varchar(75),
	@ConsigneeCity varchar(75),
	@ConsigneeState varchar(25),
	@ConsigneePostalCode varchar(15),
	@ConsigneeCountryCode varchar(10),
	@ConsigneeContactName varchar(75),
	@ConsigneeContactNumber varchar(80),
	@ConsigneeAltContName varchar(75),
	@ConsigneeAltContNumber varchar(80),
	@InterConsigneeName varchar(60),	
	@InterConsigneeAddress1 varchar(75),
	@InterConsigneeAddress2 varchar(75),
	@InterConsigneeCity varchar(75),
	@InterConsigneeState varchar(25),
	@InterConsigneePostalCode varchar(15),
	@InterConsigneeCountryCode varchar(10),
	@InterConsigneeContactName varchar(75),
	@InterConsigneeContactNumber varchar(80),
	@InterConsigneeAltContName varchar(75),
	@InterConsigneeAltContNumber varchar(80),
	@ShipFromName varchar(60),	
	@ShipFromAddress1 varchar(75),
	@ShipFromAddress2 varchar(75),
	@ShipFromCity varchar(75),
	@ShipFromState varchar(25),
	@ShipFromPostalCode varchar(15),
	@ShipFromCountryCode varchar(10),
	@ShipFromContactName varchar(75),
	@ShipFromContactNumber varchar(80),
	@ShipFromAltContName varchar(75),
	@ShipFromAltContNumber varchar(80),
	@BillToName varchar(60),	
	@BillToAddress1 varchar(75),
	@BillToAddress2 varchar(75),
	@BillToCity varchar(75),
	@BillToState varchar(25),
	@BillToPostalCode varchar(15),
	@BillToCountryCode varchar(10),
	@BillToContactName varchar(75),
	@BillToContactNumber varchar(80),
	@BillToAltContName varchar(75),
	@BillToAltContNumber varchar(80),
	@TextData varchar(Max),
	@UDF01 varchar(30),
	@UDF02 varchar(30),
	@UDF03 varchar(30),
	@UDF04 varchar(30),
	@UDF05 varchar(30),
	@UDF06 varchar(30),
	@UDF07 varchar(30),
	@UDF08 varchar(30),
	@UDF09 varchar(30),
	@UDF10 varchar(30),
	@EnteredBy varchar(50)
As BEGIN

INSERT INTO dbo.EDI856ManifestHeader(
	emhTradingPartner, 
	emhGroupControlNo, 
	emhMasterBOLNo, 
	emhOrderTotal, 
	emhCustomerReferenceNo,
	emhBOLNo,
	emhLMSLocationID, 
	emhShipmentDestCode, 
	emhOrderType, 
	emhPurchaseOrderNo,
	emhLocationNumber, 
	emhOriginalShipFromLocation, 
	emhLatitude, 
	emhLongitude, 
	emhShipDescription,
	emhPromisedDeliveryDate, 
	emhScheduledDeliveryDate, 
	emhOrderATGroup, 
	emhManifestNo, 
	emhDateSent, 
	emhTimeSent, 
	emhShippedDate, 
	emhEstimatedDeliveryDate, 
	emhPackType, 
	emhTotalQuantity, 
	emhCommodityCode, 
	emhLadingDescription, 
	emhTotalWeight, 
	emhItemWeight, 
	emhWeightQualifier, 
	emhTotalVolume, 
	emhVolumeQualifier, 
	emhVolumeUnitOfMeasure, 
	emhOriginCarrier, 
	emhCarrierSCAC, 
	emhTransportationMethod, 
	emhEquipmentInitials, 
	emhEquipmentNumber,
	emhConsigneeName, 
	emhConsigneeAddress1, 
	emhConsigneeAddress2, 
	emhConsigneeCity, 
	emhConsigneeState, 
	emhConsigneePostalCode, 
	emhConsigneeCountryCode, 
	emhConsigneeContactName, 
	emhConsigneeContactNumber, 
	emhConsigneeAltContName, 
	emhConsigneeAltContNumber, 
	emhInterConsigneeName, 
	emhInterConsigneeAddress1, 
	emhInterConsigneeAddress2, 
	emhInterConsigneeCity, 
	emhInterConsigneeState, 
	emhInterConsigneePostalCode, 
	emhInterConsigneeCountryCode, 
	emhInterConsigneeContactName, 
	emhInterConsigneeContactNumber, 
	emhInterConsigneeAltContName, 
	emhInterConsigneeAltContNumber, 
	emhShipFromName, 
	emhShipFromAddress1, 
	emhShipFromAddress2, 
	emhShipFromCity, 
	emhShipFromState, 
	emhShipFromPostalCode, 
	emhShipFromCountryCode, 
	emhShipFromContactName, 
	emhShipFromContactNumber, 
	emhShipFromAltContName, 
	emhShipFromAltContNumber, 
	emhBillToName, 
	emhBillToAddress1, 
	emhBillToAddress2, 
	emhBillToCity, 
	emhBillToState, 
	emhBillToPostalCode, 
	emhBillToCountryCode, 
	emhBillToContactName, 
	emhBillToContactNumber, 
	emhBillToAltContName, 
	emhBillToAltContNumber,
	emhTextData,
	emhUDF01,
	emhUDF02,
	emhUDF03,
	emhUDF04,
	emhUDF05,
	emhUDF06,
	emhUDF07,
	emhUDF08,
	emhUDF09,
	emhUDF10,
	EnteredBy 
 ) VALUES (
	@TradingPartner, 
	@GroupControlNo, 
	@MasterBOLNo, 
	@OrderTotal, 
	@CustomerReferenceNo, 
	@BOLNo,
	@LMSLocationID, 
	@ShipmentDestCode, 
	@OrderType, 
	@PurchaseOrderNo,
	@LocationNumber, 
	@OriginalShipFromLocation, 
	@Latitude, 
	@Longitude, 
	@ShipDescription,
	@PromisedDeliveryDate, 
	@ScheduledDeliveryDate, 
	@OrderATGroup, 
	@ManifestNo, 
	@DateSent, 
	@TimeSent, 
	@ShippedDate, 
	@EstimatedDeliveryDate, 
	@PackType, 
	@TotalQuantity, 
	@CommodityCode, 
	@LadingDescription, 
	@TotalWeight, 
	@ItemWeight, 
	@WeightQualifier, 
	@TotalVolume, 
	@VolumeQualifier, 
	@VolumeUnitOfMeasure, 
	@OriginCarrier, 
	@CarrierSCAC, 
	@TransportationMethod, 
	@EquipmentInitials, 
	@EquipmentNumber,
	@ConsigneeName, 
	@ConsigneeAddress1, 
	@ConsigneeAddress2, 
	@ConsigneeCity, 
	@ConsigneeState, 
	@ConsigneePostalCode, 
	@ConsigneeCountryCode, 
	@ConsigneeContactName, 
	@ConsigneeContactNumber, 
	@ConsigneeAltContName, 
	@ConsigneeAltContNumber, 
	@InterConsigneeName, 
	@InterConsigneeAddress1, 
	@InterConsigneeAddress2, 
	@InterConsigneeCity, 
	@InterConsigneeState, 
	@InterConsigneePostalCode, 
	@InterConsigneeCountryCode, 
	@InterConsigneeContactName, 
	@InterConsigneeContactNumber, 
	@InterConsigneeAltContName, 
	@InterConsigneeAltContNumber, 
	@ShipFromName, 
	@ShipFromAddress1, 
	@ShipFromAddress2, 
	@ShipFromCity, 
	@ShipFromState, 
	@ShipFromPostalCode, 
	@ShipFromCountryCode, 
	@ShipFromContactName, 
	@ShipFromContactNumber, 
	@ShipFromAltContName, 
	@ShipFromAltContNumber, 
	@BillToName, 
	@BillToAddress1, 
	@BillToAddress2, 
	@BillToCity, 
	@BillToState, 
	@BillToPostalCode, 
	@BillToCountryCode, 
	@BillToContactName, 
	@BillToContactNumber, 
	@BillToAltContName, 
	@BillToAltContNumber,
	@TextData,
	@UDF01,
	@UDF02,
	@UDF03,
	@UDF04,
	@UDF05,
	@UDF06,
	@UDF07,
	@UDF08,
	@UDF09,
	@UDF10,
	@EnteredBy
	 ); Select SCOPE_IDENTITY();

END
GO
