SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:                    Prashant Aggarwal         
-- Create date:               10/04/2019      
-- Description:               Get Column List For Order
-- Execution:                [dbo].[GetDataForOrder] 'PurchaseOrderItem',26604
-- =============================================
CREATE PROCEDURE [dbo].[GetDataForOrder] (
	@EntityName NVARCHAR(150)
	,@JobId BIGINT
	)
AS
BEGIN TRY
	SET NOCOUNT ON;

	IF OBJECT_ID('tempdb..#SelectQueryTemp') IS NOT NULL
	BEGIN
		DROP TABLE #SelectQueryTemp
	END
	DECLARE @RateTypeId BIGINT
   SELECT @RateTypeId = [Id] FROM [dbo].[SYSTM000Ref_Options]
   Where [SysLookupCode] = 'RateType' AND SysOptionName = 'Expression(Delivery)'
	CREATE TABLE #SelectQueryTemp (SelectQuery NVARCHAR(Max))
	Declare @AddressType INT
    Select @AddressType = ID From SYSTM000Ref_Options Where SysLookupCode='AddressType' AND SysOptionName = 'Business'

	INSERT INTO #SelectQueryTemp
	EXEC [dbo].[GetColumnListForOrder] @EntityName

	DECLARE @SelectOrderQuery NVARCHAR(Max)

	SELECT @SelectOrderQuery = SelectQuery
	FROM #SelectQueryTemp
	IF(@EntityName = 'SalesOrder')
	BEGIN
	SET @SelectOrderQuery = 'Select ' + @SelectOrderQuery + ' From dbo.JOBDL000Master Job
               INNER JOIN dbo.PRGRM000Master Program ON Program.Id = Job.ProgramID
               INNER JOIN dbo.CUST000Master Customer ON Customer.Id = Program.PrgCustID 
			   INNER JOIN dbo.COMP000Master Company ON Company.CompPrimaryRecordId = Customer.Id AND Company.CompTableName = ''Customer''
			   LEFT JOIN dbo.COMPADD000Master CompanyAddress On CompanyAddress.AddCompId = Company.Id AND CompanyAddress.AddTypeId = ' + '' + CAST(@AddressType AS VARCHAR) + ''+
			   ' LEFT JOIN dbo.SYSTM000Ref_States State ON State.Id = CompanyAddress.StateId '+
			   ' LEFT JOIN dbo.CONTC000Master Contact ON Contact.Id = Customer.CustBusinessAddressId '+
              ' Where Job.Id=' + '' + CAST(@JobId AS VARCHAR) + ''
	END
	IF(@EntityName = 'ShippingItem')
	BEGIN
	SET @SelectOrderQuery = 'Select ' + @SelectOrderQuery + '  FROM [dbo].[JOBDL061BillableSheet] BillableSheet
                                             INNER JOIN dbo.JOBDL000Master Job ON Job.Id = BillableSheet.[JobID]
											 INNER JOIN dbo.NAV000JobOrderMapping JobOrderMapping ON JobOrderMapping.JobId = Job.Id
	Where BillableSheet.StatusId IN (1,2) AND Job.Id=' + '' + CAST(@JobId AS VARCHAR) + ''
	SET @SelectOrderQuery = REPLACE(@SelectOrderQuery, '@RateTypeId', @RateTypeId)
	END

	IF(@EntityName = 'ShipSalesOrderPart')
	BEGIN
	SET @SelectOrderQuery = 'Select ' + @SelectOrderQuery + ' From dbo.JOBDL000Master Job 
	Where Job.Id=' + '' + CAST(@JobId AS VARCHAR) + ''
	END

	IF(@EntityName = 'PurchaseOrder')
	BEGIN
	SET @SelectOrderQuery = 'Select ' + @SelectOrderQuery + ' From dbo.JOBDL000Master Job
	INNER JOIN dbo.PRGRM000Master Program ON Program.Id = Job.ProgramID
	INNER JOIN dbo.CUST000Master Customer ON Customer.Id = Program.PrgCustID 
	LEFT JOIN dbo.PRGRM051VendorLocations PVC ON PVC.PvlProgramID = Program.Id AND PVC.PvlLocationCode = Job.JobSiteCode 
	LEFT JOIN dbo.Vend000Master Vendor On Vendor.Id = PVC.PvlVendorId
	LEFT JOIN dbo.COMP000Master Company ON Company.CompPrimaryRecordId = Vendor.Id AND Company.CompTableName = ''VENDOR''
	LEFT JOIN dbo.COMPADD000Master CompanyAddress On CompanyAddress.AddCompId = Company.Id AND CompanyAddress.AddTypeId = ' + '' + CAST(@AddressType AS VARCHAR) + ''+
	' LEFT JOIN dbo.SYSTM000Ref_States State ON State.Id = CompanyAddress.StateId '+
	' LEFT JOIN dbo.CONTC000Master Contact ON Contact.Id = Vendor.VendBusinessAddressId '+
	'Where Job.Id=' + '' + CAST(@JobId AS VARCHAR) + ''
	END

	IF(@EntityName = 'PurchaseOrderItem')
	BEGIN
	SET @SelectOrderQuery = 'Select ' + @SelectOrderQuery + '  FROM [dbo].[JOBDL062CostSheet] CostSheet
                                             INNER JOIN dbo.JOBDL000Master Job ON Job.Id = CostSheet.[JobID]
											 INNER JOIN dbo.NAV000JobOrderMapping JobOrderMapping ON JobOrderMapping.JobId = Job.Id
	Where CostSheet.StatusId IN (1,2) AND Job.Id=' + '' + CAST(@JobId AS VARCHAR) + ''
	SET @SelectOrderQuery = REPLACE(@SelectOrderQuery, '@RateTypeId', @RateTypeId)
	END

	EXEC (@SelectOrderQuery)

	DROP TABLE #SelectQueryTemp
END TRY

BEGIN CATCH
	DECLARE @ErrorMessage VARCHAR(MAX) = (
			SELECT ERROR_MESSAGE()
			)
		,@ErrorSeverity VARCHAR(MAX) = (
			SELECT ERROR_SEVERITY()
			)
		,@RelatedTo VARCHAR(100) = (
			SELECT OBJECT_NAME(@@PROCID)
			)

	EXEC [dbo].[ErrorLog_InsDetails] @RelatedTo
		,NULL
		,@ErrorMessage
		,NULL
		,NULL
		,@ErrorSeverity
END CATCH


GO
