SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Copyright (2018) Meridian Worldwide Transportation Group
  All Rights Reserved Worldwide */
-- =============================================        
-- Author:                    Akhil Chauhan         
-- Create date:               05/08/2018      
-- Description:               Get user securities  
-- Execution:                 EXEC [dbo].[GetRefRoleSecurities]   
-- Modified on:				  11/26/2018( Nikhil - Introduced roleId to support security)   
-- Modified Desc:  
-- =============================================   
CREATE PROCEDURE  [dbo].[GetRefRoleSecurities]     
@userId BIGINT,    
@orgId BIGINT,    
@roleId BIGINT    
AS    
BEGIN TRY                    
SET NOCOUNT ON;  

 SELECT refRole.Id    
  ,refRole.[SecMainModuleId]    
  ,refRole.[SecMenuOptionLevelId]    
  ,refRole.[SecMenuAccessLevelId]    
FROM [dbo].[SYSTM000SecurityByRole] (NOLOCK) refRole  
WHERE refRole.OrgRefRoleId = @roleId  AND (ISNULL(refRole.StatusId, 1) =1)  
END TRY                    
BEGIN CATCH                    
DECLARE  @ErrorMessage VARCHAR(MAX) = (SELECT ERROR_MESSAGE())                    
  ,@ErrorSeverity VARCHAR(MAX) = (SELECT ERROR_SEVERITY())                    
  ,@RelatedTo VARCHAR(100) = (SELECT OBJECT_NAME(@@PROCID))                    
    
EXEC [dbo].[ErrorLog_InsDetails] @RelatedTo, NULL, @ErrorMessage, NULL, NULL, @ErrorSeverity                    
END CATCH
GO
