UPDATE [dbo].[SYSTM000Ref_UserSettings]
SET SysJsonSetting = '[{"Entity":82,"EntityName":"JobGateway","Name":"ItemNumber","Value":"AND JobGateway.GatewayTypeId=","ValueType":"int","IsOverWritable":true,"IsSysAdmin":false},{"Entity":82,"EntityName":"JobGateway","Name":"ItemNumber","Value":"AND JobGateway.GwyOrderType=","ValueType":"String","IsOverWritable":true,"IsSysAdmin":false},{"Entity":82,"EntityName":"JobGateway","Name":"ItemNumber","Value":"AND JobGateway.GwyShipmentType=","ValueType":"String","IsOverWritable":true,"IsSysAdmin":false},{"Entity":58,"EntityName":"PrgRefGatewayDefault","Name":"ItemNumber","Value":"AND PrgRefGatewayDefault.GatewayTypeId=","ValueType":"int","IsOverWritable":true,"IsSysAdmin":false},{"Entity":58,"EntityName":"PrgRefGatewayDefault","Name":"ItemNumber","Value":"AND PrgRefGatewayDefault.PgdOrderType=","ValueType":"String","IsOverWritable":true,"IsSysAdmin":false},{"Entity":58,"EntityName":"PrgRefGatewayDefault","Name":"ItemNumber","Value":"AND PrgRefGatewayDefault.PgdShipmentType=","ValueType":"String","IsOverWritable":true,"IsSysAdmin":false},{"Entity":81,"EntityName":"JobDocReference","Name":"ItemNumber","Value":"AND JobDocReference.DocTypeId =","ValueType":"int","IsOverWritable":true,"IsSysAdmin":false},{"Entity":145,"EntityName":"System","Name":"SysMainModuleId","Value":"10","ValueType":"Int","IsOverWritable":true,"IsSysAdmin":false},{"Entity":145,"EntityName":"System","Name":"SysDefaultAction","Value":"Dashboard","ValueType":"String","IsOverWritable":true,"IsSysAdmin":false},{"Entity":145,"EntityName":"System","Name":"SysStatusesIn","Value":"1,2","ValueType":"String","IsOverWritable":true,"IsSysAdmin":false},{"Entity":145,"EntityName":"System","Name":"SysGridViewPageSizes","Value":"30,50,100","ValueType":"String","IsOverWritable":true,"IsSysAdmin":false},{"Entity":145,"EntityName":"System","Name":"SysPageSize","Value":"50","ValueType":"Int","IsOverWritable":true,"IsSysAdmin":false},{"Entity":145,"EntityName":"System","Name":"SysComboBoxPageSize","Value":"10","ValueType":"Int","IsOverWritable":true,"IsSysAdmin":false},{"Entity":145,"EntityName":"System","Name":"SysThresholdPercentage","Value":"10","ValueType":"Int","IsOverWritable":true,"IsSysAdmin":false},{"Entity":145,"EntityName":"System","Name":"Theme","Value":"Office2010Black","ValueType":"String","IsOverWritable":true,"IsSysAdmin":false},{"Entity":145,"EntityName":"System","Name":"SysSessionTimeOut","Value":"60","ValueType":"Int","IsOverWritable":true,"IsSysAdmin":false},{"Entity":145,"EntityName":"System","Name":"SysWarningTime","Value":"2","ValueType":"Int","IsOverWritable":true,"IsSysAdmin":false},{"Entity":145,"EntityName":"System","Name":"SysDateFormat","Value":"MM/dd/yyyy","ValueType":"String","IsOverWritable":true,"IsSysAdmin":false},{"Entity":122,"EntityName":"DeliveryStatus","Name":"ReadOnlyRelationalEntity","Value":"OrganizationId","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":110,"EntityName":"SystemAccount","Name":"ReadOnlyRelationalEntity","Value":"SysOrgId","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":48,"EntityName":"VendDocReference","Name":"ReadOnlyRelationalEntity","Value":"VdrOrgID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":48,"EntityName":"VendDocReference","Name":"ReadOnlyRelationalEntity","Value":"VdrVendorID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":49,"EntityName":"VendFinancialCalendar","Name":"ReadOnlyRelationalEntity","Value":"OrgID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":49,"EntityName":"VendFinancialCalendar","Name":"ReadOnlyRelationalEntity","Value":"VendID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":43,"EntityName":"VendBusinessTerm","Name":"ReadOnlyRelationalEntity","Value":"VbtOrgID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":43,"EntityName":"VendBusinessTerm","Name":"ReadOnlyRelationalEntity","Value":"VbtVendorID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":44,"EntityName":"VendContact","Name":"ReadOnlyRelationalEntity","Value":"ConPrimaryRecordId","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":39,"EntityName":"CustDocReference","Name":"ReadOnlyRelationalEntity","Value":"CdrOrgID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":39,"EntityName":"CustDocReference","Name":"ReadOnlyRelationalEntity","Value":"CdrCustomerID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":40,"EntityName":"CustFinancialCalendar","Name":"ReadOnlyRelationalEntity","Value":"OrgID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":40,"EntityName":"CustFinancialCalendar","Name":"ReadOnlyRelationalEntity","Value":"CustID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":34,"EntityName":"CustBusinessTerm","Name":"ReadOnlyRelationalEntity","Value":"CbtOrgID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":34,"EntityName":"CustBusinessTerm","Name":"ReadOnlyRelationalEntity","Value":"CbtCustomerId","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":56,"EntityName":"PrgMvocRefQuestion","Name":"ReadOnlyRelationalEntity","Value":"MVOCID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":37,"EntityName":"CustDcLocation","Name":"ReadOnlyRelationalEntity","Value":"CdcCustomerID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":35,"EntityName":"CustContact","Name":"ReadOnlyRelationalEntity","Value":"ConPrimaryRecordId","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":42,"EntityName":"Vendor","Name":"ReadOnlyRelationalEntity","Value":"VendOrgID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":33,"EntityName":"Customer","Name":"ReadOnlyRelationalEntity","Value":"CustOrgId","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":25,"EntityName":"OrgPocContact","Name":"ReadOnlyRelationalEntity","Value":"OrgID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":21,"EntityName":"OrgCredential","Name":"ReadOnlyRelationalEntity","Value":"OrgID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":108,"EntityName":"SecurityByRole","Name":"ReadOnlyRelationalEntity","Value":"OrgId","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":2,"EntityName":"Contact","Name":"ReadOnlyRelationalEntity","Value":"ConOrgId","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":97,"EntityName":"ScrCatalogList","Name":"ReadOnlyRelationalEntity","Value":"CatalogProgramID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":76,"EntityName":"Job","Name":"ReadOnlyRelationalEntity","Value":"ProgramID","ValueType":"Bool","IsOverWritable":false,"IsSysAdmin":true},{"Entity":145,"EntityName":"System","Name":"Theme","Value":"Office2010Black","ValueType":"String","IsOverWritable":true,"IsSysAdmin":false},{"Entity":145,"EntityName":"System","Name":"SysPageSize","Value":"30","ValueType":"Int","IsOverWritable":true,"IsSysAdmin":false}]'
