<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="M4PBusinessConfiguration" type="M4PL.Business.M4PBusinessConfiguration, M4PL.Business"/>
  </configSections>
  <M4PBusinessConfiguration
    NavCustomerUrl="https://nav.meridianww.com:7048/DEV/ODataV4/Company"
		NavAPIUserName="DSrivastava"
	  NavAPIPassword = "Dream@1234"
  />
</configuration>