<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="M4PBusinessConfiguration" type="M4PL.Business.M4PBusinessConfiguration, M4PL.Business" />
  </configSections>
  <M4PBusinessConfiguration
    NavAPIUrl= "https://nav.meridianww.com:7048/DEV/ODataV4/Company"
		NavAPIUserName="DSrivastava"
	  NavAPIPassword = "Dream@1234"
    GetVOCJobURL="http://bizmobl1.meridianww.com/VOCWS/Service1.asmx/GetVOCJob"
    NavRateReadFromItem = "True"
    ElectroluxProgramId ="20099"
    ElectroluxCustomerId ="20047"
    AWCCustomerId ="10007"
    IsElectroluxDeliveryUpdateProduction ="False"
    IsFarEyeStatusUpdateProduction ="False"
    FarEyeUpdateProductionAPIURL = "https://api-staging.stagingfareyeconnect.com/connector/api"
    FarEyeUpdateTestAPIURL = "https://api-staging.stagingfareyeconnect.com/connector/api"
    FarEyeUpdateProductionAPIKey="5ffb13ec-5913-47a6-a76f-af813c4a14bc"
    FarEyeUpdateTestAPIKey="5ffb13ec-5913-47a6-a76f-af813c4a14bc"
    ElectroluxDeliveryUpdateProductionAPIUrl ="https://wsqa.electrolux-na.com:7083/integrations/edc/orderstatus"
    ElectroluxDeliveryUpdateTestAPIUrl ="https://wsqa.electrolux-na.com:7083/integrations/edc/orderstatus"
    ElectroluxDeliveryUpdateTestAPIUsername ="SVC-NA-IIB-U-MERDIAN"
    ElectroluxDeliveryUpdateTestAPIPassword ="*jXyDEPvh["
    ElectroluxDeliveryUpdateProductionAPIUsername="SVC-NA-IIB-P-MERDIAN"
    ElectroluxDeliveryUpdateProductionAPIPassword="TqUgurCI'!"
    XCBLEDTType ="2265"
    ServiceProvider="Meridian"
    M4PLApplicationURL ="https://m4pl.meridianww.com:1010/"
    CompletedTransitionStatusId ="3295,3297"
	JobStatusUpdateValidationHours ="48"/>
</configuration>