@*Copyright (2016) Meridian Worldwide Transportation Group

    //====================================================================================================================================================
    //Program Title:                                Meridian 4th Party Logistics(M4PL)
    //Programmer:                                   Prashant Aggarwal
    //Date Programmed:                              18/02/2020
    //Program Name:                                 JobEDIXcblView
    //Purpose:                                      Provides view for JobEDIXcbl's detail
    //====================================================================================================================================================*@
@using M4PL.Entities
@using System.Web.UI.WebControls
@using M4PL.Web.Providers
@model  M4PL.Web.Models.FormResult<M4PL.APIClient.ViewModels.Job.JobEDIXcblView>
@{
    ViewBag.Title = Model.PageName;

    Model.Record.JobId = Model.Record.ParentId;
}
@if (!Model.IsPopUp && (Model.Record.Id > 0))
{
    @Html.Partial(MvcConstants.NavigationPanePartial, Model.NavigationPane);
}
@using (Html.BeginForm(MvcConstants.ActionAddOrEdit, Model.CallBackRoute.Controller, FormMethod.Post, new { id = Model.FormId, @class = "col-lg-12 col-md-12" }))
{
    <div class="job-cargo-pnl-group">
        <div class="col-sm-12 col-md-12 no-padding-left EDIXcblPanel">
            @Html.DevExpress().RoundPanel(settings =>
       {
           settings.Name = "pnlJobEDIXcbl";
           settings.Width = Unit.Percentage(100);

           settings.AllowCollapsingByHeaderClick = true;
           settings.ShowCollapseButton = true;
           settings.HeaderText = "EDI/xCBL Transactions";
           settings.Collapsed = false;
           settings.ControlStyle.CssClass = "form-layout additional-info-panel";
           // settings.ControlStyle.CssClass = "form-layout date-panel";
           settings.SetContent(() =>
           {
               ViewContext.Writer.Write("<div class='row no-row-margin datafield'>");
               ViewContext.Writer.Write("<div class='full-width'>");
               ViewContext.Writer.Write("<div class='col-lg-10 col-md-10 no-padding'>");
               ViewContext.Writer.Write("<div class=' form-row-group custom-forgroup-job-container col-lg-2'>" + Html.EditorFor(m => m.Record.Id).ToHtmlString() + "</div>");
               ViewContext.Writer.Write("<div class='form-row-group custom-forgroup-job-container col-lg-2  iteminput-hide'>" + Html.EditorFor(m => m.Record.EdtTypeId).ToHtmlString() + "</div>");
               ViewContext.Writer.Write("<div class='form-row-group custom-forgroup-job-container col-lg-2'>" + Html.EditorFor(m => m.Record.EdtCode).ToHtmlString() + "</div>");
               ViewContext.Writer.Write("<div class='form-row-group custom-forgroup-job-container col-lg-3'>" + Html.EditorFor(m => m.Record.EdtTitle).ToHtmlString() + "</div>");
               ViewContext.Writer.Write("<div class='form-row-group custom-forgroup-job-container col-lg-3'>" + Html.EditorFor(m => m.Record.TransactionDate).ToHtmlString() + "</div>");
               ViewContext.Writer.Write("</div>");

               ViewContext.Writer.Write("<div class='col-lg-12 col-md-12 no-padding'>");
               ViewContext.Writer.Write("<div class='form-row-group  col-lg-8'>" + Html.EditorFor(m => m.Record.EdtData, "MultilineText").ToHtmlString() + "</div>");
               ViewContext.Writer.Write("</div>");
               ViewContext.Writer.Write("</div>");
               ViewContext.Writer.Write("</div>");
           });
       }).GetHtml()
        </div>
    </div>
}