CREATE TYPE [dbo].[uttCommonDriverScrubReport] AS TABLE(
	[QMSShippedOn] [nvarchar](1000) NULL,
	[QMSPSDisposition] [nvarchar](1000) NULL,
	[QMSStatusDescription] [nvarchar](1000) NULL,
	[FouthParty] [nvarchar](1000) NULL,
	[ThirdParty] [nvarchar](1000) NULL,
	[ActualControlId] [nvarchar](150) NULL,
	[QMSControlId] [nvarchar](150) NULL,
	[QRCGrouping] [nvarchar](150) NULL,
	[QRCDescription] [nvarchar](1000) NULL,
	[ProductCategory] [nvarchar](150) NULL,
	[ProductSubCategory] [nvarchar](150) NULL,
	[ProductSubCategory2] [nvarchar](150) NULL,
	[ModelName] [nvarchar](1000) NULL,
	[CustomerBusinessType] [nvarchar](1000) NULL,
	[ChannelCD] [nvarchar](1000) NULL,
	[NationalAccountName] [nvarchar](1000) NULL,
	[CustomerName] [nvarchar](1000) NULL,
	[ShipFromLocation] [nvarchar](150) NULL,
	[QMSRemark] [varchar](max) NULL,
	[DaysToAccept] [int] NULL,
	[QMSTotalUnit] [int] NULL,
	[QMSTotalPrice] [money] NULL,
	[ShipDate] [datetime2](7) NULL,
	[JobId] [bigint] NULL
)
GO
