CREATE TYPE [dbo].[uttNavCostCode] AS TABLE(
	[ItemId] [varchar](50) NULL,
	[VendorNo] [varchar](50) NULL,
	[StartDate] [varchar](50) NULL,
	[CurrencyCode] [varchar](50) NULL,
	[VariantCode] [varchar](50) NULL,
	[MeasureCodeUnit] [varchar](50) NULL,
	[MinimumQuantity] [varchar](50) NULL,
	[VendNoFilterCtrl] [varchar](50) NULL,
	[ItemNoFIlterCtrl] [varchar](50) NULL,
	[StartingDateFilter] [varchar](50) NULL,
	[DirectUnitCost] [varchar](50) NULL,
	[EndingDate] [varchar](50) NULL
)
GO
