CREATE TYPE [Xcbl].[UttUserDefinedField] AS TABLE(
	[SummaryHeaderId] [bigint] NOT NULL,
	[UDF01] [varchar](30) NULL,
	[UDF02] [varchar](30) NULL,
	[UDF03] [varchar](30) NULL,
	[UDF04] [varchar](30) NULL,
	[UDF05] [varchar](30) NULL,
	[UDF06] [varchar](30) NULL,
	[UDF07] [varchar](30) NULL,
	[UDF08] [varchar](30) NULL,
	[UDF09] [varchar](30) NULL,
	[UDF10] [varchar](30) NULL
)
GO
