CREATE TYPE [Xcbl].[UttCustomAttribute] AS TABLE(
	[SummaryHeaderId] [bigint] NOT NULL,
	[CustomAttribute01] [varchar](1) NULL,
	[CustomAttribute02] [varchar](1) NULL,
	[CustomAttribute03] [varchar](1) NULL,
	[CustomAttribute04] [varchar](1) NULL,
	[CustomAttribute05] [varchar](1) NULL,
	[CustomAttribute06] [varchar](1) NULL,
	[CustomAttribute07] [varchar](1) NULL,
	[CustomAttribute08] [varchar](1) NULL,
	[CustomAttribute09] [varchar](1) NULL,
	[CustomAttribute10] [varchar](1) NULL,
	[CustomAttribute11] [varchar](1) NULL,
	[CustomAttribute12] [varchar](1) NULL,
	[CustomAttribute13] [varchar](1) NULL,
	[CustomAttribute14] [varchar](1) NULL,
	[CustomAttribute15] [varchar](1) NULL,
	[CustomAttribute16] [varchar](1) NULL,
	[CustomAttribute17] [varchar](1) NULL,
	[CustomAttribute18] [varchar](1) NULL,
	[CustomAttribute19] [varchar](1) NULL,
	[CustomAttribute20] [varchar](1) NULL
)
GO
