@*Copyright (2016) Meridian Worldwide Transportation Group
    All Rights Reserved Worldwide
    ====================================================================================================================================================
    Program Title:                                Meridian 4th Party Logistics(M4PL)
    Programmer:                                   Deepika
    Date Programmed:                              21/3/2016
    Program Name:                                 Error
    Purpose:                                      Provides view for Error

    ====================================================================================================================================================*@
<link href="~/Content/Error.css" rel="stylesheet" />
@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<section class="error-404 not-found">
    <header class="page-header">
        <h1 class="page-title">Oops! That page can’t be found.</h1>
        <hr />
    </header><!-- .page-header -->

    <div class="row">
        <div class="col-lg-9 col-lg-push-3 col-md-9 col-md-push-3 col-sm-8 col-sm-push-4 col-xs-12">
            <div class="page-content">


            </div><!-- .page-content -->
        </div>
    </div>
</section>

