SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XcblSummaryHeader](
	[xcblHeaderID] [bigint] IDENTITY(1,1) NOT NULL,
	[xcblTradingPartner] [varchar](20) NULL,
	[xcblGroupControlNo] [bigint] NULL,
	[xcblBOLNo] [varchar](30) NULL,
	[xcblMasterBOLNo] [varchar](30) NULL,
	[xcblMethodOfPayment] [varchar](10) NULL,
	[xcblSetPurpose] [varchar](10) NULL,
	[xcblCustomerReferenceNo] [varchar](30) NULL,
	[xcblLocationId] [varchar](30) NULL,
	[xcblShipDescription] [varchar](30) NULL,
	[xcblOrderType] [varchar](30) NULL,
	[xcblPurchaseOrderNo] [varchar](30) NULL,
	[xcblLocationNumber] [varchar](30) NULL,
	[xcblShipDate] [datetime2](7) NULL,
	[xcblArrivalDate3PL] [datetime2](7) NULL,
	[xcblServiceMode] [nvarchar](30) NULL,
	[xcblProductType] [nvarchar](30) NULL,
	[xcblLatitude] [varchar](30) NULL,
	[xcblLongitude] [varchar](30) NULL,
	[xcblReasonCodeCancellation] [varchar](30) NULL,
	[xcblManifestNo] [varchar](30) NULL,
	[xcblTotalWeight] [decimal](18, 2) NULL,
	[xcblTotalCubicFeet] [decimal](18, 2) NULL,
	[xcblTotalPieces] [bigint] NULL,
	[xcblDeliveryCommitmentType] [varchar](30) NULL,
	[xcblScheduledPickupDate] [datetime2](7) NULL,
	[xcblScheduledDeliveryDate] [datetime2](7) NULL,
	[xcblSpecialNotes] [varchar](30) NULL,
	[xcblConsigneeName] [varchar](60) NULL,
	[xcblConsigneeNameID] [bigint] NULL,
	[xcblConsigneeAddress1] [varchar](75) NULL,
	[xcblConsigneeAddress2] [varchar](75) NULL,
	[xcblConsigneeCity] [varchar](75) NULL,
	[xcblConsigneeState] [varchar](25) NULL,
	[xcblConsigneePostalCode] [varchar](15) NULL,
	[xcblConsigneeCountryCode] [varchar](10) NULL,
	[xcblConsigneeContactName] [varchar](75) NULL,
	[xcblConsigneeContactNumber] [varchar](80) NULL,
	[xcblConsigneeAltContName] [varchar](75) NULL,
	[xcblConsigneeAltContNumber] [varchar](80) NULL,
	[xcblInterConsigneeName] [varchar](60) NULL,
	[xcblInterConsigneeNameID] [bigint] NULL,
	[xcblInterConsigneeAddress1] [varchar](75) NULL,
	[xcblInterConsigneeAddress2] [varchar](75) NULL,
	[xcblInterConsigneeCity] [varchar](75) NULL,
	[xcblInterConsigneeState] [varchar](25) NULL,
	[xcblInterConsigneePostalCode] [varchar](15) NULL,
	[xcblInterConsigneeCountryCode] [varchar](10) NULL,
	[xcblInterConsigneeContactName] [varchar](75) NULL,
	[xcblInterConsigneeContactNumber] [varchar](80) NULL,
	[xcblInterConsigneeAltContName] [varchar](75) NULL,
	[xcblInterConsigneeAltContNumber] [varchar](80) NULL,
	[xcblShipFromName] [varchar](60) NULL,
	[xcblShipFromNameID] [bigint] NULL,
	[xcblShipFromAddress1] [varchar](75) NULL,
	[xcblShipFromAddress2] [varchar](75) NULL,
	[xcblShipFromCity] [varchar](75) NULL,
	[xcblShipFromState] [varchar](25) NULL,
	[xcblShipFromPostalCode] [varchar](15) NULL,
	[xcblShipFromCountryCode] [varchar](10) NULL,
	[xcblShipFromContactName] [varchar](75) NULL,
	[xcblShipFromContactNumber] [varchar](80) NULL,
	[xcblShipFromAltContName] [varchar](75) NULL,
	[xcblShipFromAltContNumber] [varchar](80) NULL,
	[xcblBillToName] [varchar](60) NULL,
	[xcblBillToNameID] [bigint] NULL,
	[xcblBillToAddress1] [varchar](75) NULL,
	[xcblBillToAddress2] [varchar](75) NULL,
	[xcblBillToCity] [varchar](75) NULL,
	[xcblBillToState] [varchar](25) NULL,
	[xcblBillToPostalCode] [varchar](15) NULL,
	[xcblBillToCountryCode] [varchar](10) NULL,
	[xcblBillToContactName] [varchar](75) NULL,
	[xcblBillToContactNumber] [varchar](80) NULL,
	[xcblBillToAltContName] [varchar](75) NULL,
	[xcblBillToAltContNumber] [varchar](80) NULL,
	[xcblConsigneeStreetAddress3] [nvarchar](75) NULL,
	[xcblConsigneeStreetAddress4] [nvarchar](75) NULL,
	[xcblInterConsigneeStreetAddress3] [nvarchar](75) NULL,
	[xcblInterConsigneeStreetAddress4] [nvarchar](75) NULL,
	[xcblBillToStreetAddress3] [nvarchar](75) NULL,
	[xcblBillToStreetAddress4] [nvarchar](75) NULL,
	[xcblShipFromStreetAddress3] [nvarchar](75) NULL,
	[xcblShipFromStreetAddress4] [nvarchar](75) NULL,
	[xcblOrderedDate] [datetime2](7) NULL,
	[xcblTextData] [varchar](max) NULL,
	[isxcblAcceptanceRequired] [bit] NOT NULL,
	[isxcblProcessed] [bit] NOT NULL,
	[isxcblRejected] [bit] NOT NULL,
	[xcblProcessingDate] [datetime2](7) NULL,
	[xcblUDF01] [varchar](30) NULL,
	[xcblUDF02] [varchar](30) NULL,
	[xcblUDF03] [varchar](30) NULL,
	[xcblUDF04] [varchar](30) NULL,
	[xcblUDF05] [varchar](30) NULL,
	[xcblUDF06] [varchar](30) NULL,
	[xcblUDF07] [varchar](30) NULL,
	[xcblUDF08] [varchar](30) NULL,
	[xcblUDF09] [varchar](30) NULL,
	[xcblUDF10] [varchar](30) NULL,
	[ProFlags01] [varchar](1) NULL,
	[ProFlags02] [varchar](1) NULL,
	[ProFlags03] [varchar](1) NULL,
	[ProFlags04] [varchar](1) NULL,
	[ProFlags05] [varchar](1) NULL,
	[ProFlags06] [varchar](1) NULL,
	[ProFlags07] [varchar](1) NULL,
	[ProFlags08] [varchar](1) NULL,
	[ProFlags09] [varchar](1) NULL,
	[ProFlags10] [varchar](1) NULL,
	[ProFlags11] [varchar](1) NULL,
	[ProFlags12] [varchar](1) NULL,
	[ProFlags13] [varchar](1) NULL,
	[ProFlags14] [varchar](1) NULL,
	[ProFlags15] [varchar](1) NULL,
	[ProFlags16] [varchar](1) NULL,
	[ProFlags17] [varchar](1) NULL,
	[ProFlags18] [varchar](1) NULL,
	[ProFlags19] [varchar](1) NULL,
	[ProFlags20] [varchar](1) NULL,
	[DateEntered] [datetime2](7) NULL,
	[EnteredBy] [varchar](50) NULL,
	[DateChanged] [datetime2](7) NULL,
	[ChangedBy] [varchar](50) NULL,
 CONSTRAINT [PK_XcblSummaryHeader] PRIMARY KEY CLUSTERED 
(
	[xcblHeaderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[XcblSummaryHeader] ADD  CONSTRAINT [DF_XcblSummaryHeader_isxcblAcceptanceRequired]  DEFAULT ((0)) FOR [isxcblAcceptanceRequired]
GO
ALTER TABLE [dbo].[XcblSummaryHeader] ADD  CONSTRAINT [DF_XcblSummaryHeader_isxcblProcessed]  DEFAULT ((0)) FOR [isxcblProcessed]
GO
ALTER TABLE [dbo].[XcblSummaryHeader] ADD  CONSTRAINT [DF_XcblSummaryHeader_isxcblRejected]  DEFAULT ((0)) FOR [isxcblRejected]
GO
ALTER TABLE [dbo].[XcblSummaryHeader] ADD  CONSTRAINT [DF_XcblSummaryHeader_DateEntered]  DEFAULT (getutcdate()) FOR [DateEntered]
GO
