SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCN000Order](
	[JobID] [bigint] NOT NULL,
	[ProgramID] [bigint] NULL,
	[RouteID] [int] NULL,
	[DriverID] [bigint] NULL,
	[JobDeviceID] [nvarchar](30) NULL,
	[JobStop] [int] NULL,
	[JobOrderID] [nvarchar](30) NULL,
	[JobManifestID] [nvarchar](30) NULL,
	[JobCarrierID] [nvarchar](30) NULL,
	[JobReturnReasonID] [int] NULL,
	[JobStatusCD] [nvarchar](30) NULL,
	[JobOriginSiteCode] [nvarchar](30) NULL,
	[JobOriginSiteName] [nvarchar](50) NULL,
	[JobDeliverySitePOC] [nvarchar](75) NULL,
	[JobDeliverySitePOC2] [nvarchar](75) NULL,
	[JobDeliveryStreetAddress] [nvarchar](100) NULL,
	[JobDeliveryStreetAddress2] [nvarchar](100) NULL,
	[JobDeliveryCity] [nvarchar](50) NULL,
	[JobDeliveryStateProvince] [nvarchar](50) NULL,
	[JobDeliveryPostalCode] [nvarchar](50) NULL,
	[JobDeliveryCountry] [nvarchar](50) NULL,
	[JobDeliverySitePOCPhone] [nvarchar](50) NULL,
	[JobDeliverySitePOCPhone2] [nvarchar](50) NULL,
	[JobDeliveryPhoneHm] [nvarchar](50) NULL,
	[JobDeliverySitePOCEmail] [nvarchar](50) NULL,
	[JobDeliverySitePOCEmail2] [nvarchar](50) NULL,
	[JobOriginStreetAddress] [nvarchar](100) NULL,
	[JobOriginCity] [nvarchar](50) NULL,
	[JobOriginStateProvince] [nvarchar](50) NULL,
	[JobOriginPostalCode] [nvarchar](50) NULL,
	[JobOriginCountry] [nvarchar](50) NULL,
	[JobLongitude] [nvarchar](30) NULL,
	[JobLatitude] [nvarchar](30) NULL,
	[JobSignLongitude] [nvarchar](30) NULL,
	[JobSignLatitude] [nvarchar](30) NULL,
	[JobSignText] [nvarchar](50) NULL,
	[JobSignCapture] [image] NULL,
	[JobScheduledDate] [datetime2](7) NULL,
	[JobScheduledTime] [datetime2](7) NULL,
	[JobEstimatedDate] [datetime2](7) NULL,
	[JobEstimatedTime] [datetime2](7) NULL,
	[JobActualDate] [datetime2](7) NULL,
	[JobActualTime] [datetime2](7) NULL,
	[ColorCD] [int] NULL,
	[JobFor] [nvarchar](50) NULL,
	[JobFrom] [nvarchar](50) NULL,
	[WindowStartTime] [datetime2](7) NULL,
	[WindowEndTime] [datetime2](7) NULL,
	[JobFlag01] [nvarchar](1) NULL,
	[JobFlag02] [nvarchar](1) NULL,
	[JobFlag03] [nvarchar](1) NULL,
	[JobFlag04] [nvarchar](1) NULL,
	[JobFlag05] [nvarchar](1) NULL,
	[JobFlag06] [nvarchar](1) NULL,
	[JobFlag07] [nvarchar](1) NULL,
	[JobFlag08] [nvarchar](1) NULL,
	[JobFlag09] [nvarchar](1) NULL,
	[JobFlag10] [nvarchar](1) NULL,
	[JobFlag11] [nvarchar](1) NULL,
	[JobFlag12] [nvarchar](1) NULL,
	[JobFlag13] [nvarchar](1) NULL,
	[JobFlag14] [nvarchar](1) NULL,
	[JobFlag15] [nvarchar](1) NULL,
	[JobFlag16] [nvarchar](1) NULL,
	[JobFlag17] [nvarchar](1) NULL,
	[JobFlag18] [nvarchar](1) NULL,
	[JobFlag19] [nvarchar](1) NULL,
	[JobFlag20] [nvarchar](1) NULL,
	[JobFlag21] [int] NULL,
	[JobFlag22] [bigint] NULL,
	[JobFlag23] [int] NULL,
 CONSTRAINT [PK__tmp_ms_x__056690E2CDC5FE8A] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
