SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOBDL000MasterBackup](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[JobMITJobID] [bigint] NULL,
	[ProgramID] [bigint] NULL,
	[JobSiteCode] [nvarchar](30) NULL,
	[JobConsigneeCode] [nvarchar](30) NULL,
	[JobCustomerSalesOrder] [nvarchar](30) NULL,
	[JobBOL] [nvarchar](30) NULL,
	[JobBOLMaster] [nvarchar](30) NULL,
	[JobBOLChild] [nvarchar](30) NULL,
	[JobCustomerPurchaseOrder] [nvarchar](30) NULL,
	[JobCarrierContract] [nvarchar](30) NULL,
	[JobManifestNo] [varchar](30) NULL,
	[JobQtyOrdered] [int] NULL,
	[JobQtyActual] [int] NULL,
	[JobQtyUnitTypeId] [int] NULL,
	[JobPartsOrdered] [int] NULL,
	[JobPartsActual] [int] NULL,
	[JobTotalCubes] [decimal](18, 2) NULL,
	[JobServiceMode] [nvarchar](30) NULL,
	[JobChannel] [nvarchar](30) NULL,
	[JobProductType] [nvarchar](30) NULL,
	[JobGatewayStatus] [nvarchar](50) NULL,
	[StatusId] [int] NULL,
	[JobStatusedDate] [datetime2](7) NULL,
	[JobCompleted] [bit] NULL,
	[JobType] [nvarchar](20) NULL,
	[ShipmentType] [nvarchar](20) NULL,
	[JobDeliveryAnalystContactID] [bigint] NULL,
	[JobDeliveryResponsibleContactID] [bigint] NULL,
	[PlantIDCode] [nvarchar](30) NULL,
	[JobRouteId] [int] NULL,
	[JobDriverId] [bigint] NULL,
	[JobStop] [nvarchar](20) NULL,
	[CarrierID] [nvarchar](30) NULL,
	[JobSignText] [nvarchar](75) NULL,
	[JobSignLatitude] [nvarchar](50) NULL,
	[JobSignLongitude] [nvarchar](50) NULL,
	[WindowDelStartTime] [datetime2](7) NULL,
	[WindowDelEndTime] [datetime2](7) NULL,
	[WindowPckStartTime] [datetime2](7) NULL,
	[WindowPckEndTime] [datetime2](7) NULL,
	[JobDeliverySitePOC] [nvarchar](75) NULL,
	[JobDeliverySitePOCPhone] [nvarchar](50) NULL,
	[JobDeliverySitePOCEmail] [nvarchar](50) NULL,
	[JobDeliverySiteName] [nvarchar](50) NULL,
	[JobDeliveryStreetAddress] [nvarchar](100) NULL,
	[JobDeliveryStreetAddress2] [nvarchar](100) NULL,
	[JobDeliveryCity] [nvarchar](50) NULL,
	[JobDeliveryState] [nvarchar](50) NULL,
	[JobDeliveryPostalCode] [nvarchar](50) NULL,
	[JobDeliveryCountry] [nvarchar](50) NULL,
	[JobDeliveryTimeZone] [nvarchar](15) NULL,
	[JobDeliveryDateTimePlanned] [datetime2](7) NULL,
	[JobDeliveryDateTimeActual] [datetime2](7) NULL,
	[JobDeliveryDateTimeBaseline] [datetime2](7) NULL,
	[JobDeliveryComment] [varbinary](max) NULL,
	[JobDeliveryRecipientPhone] [nvarchar](50) NULL,
	[JobDeliveryRecipientEmail] [nvarchar](50) NULL,
	[JobLatitude] [nvarchar](50) NULL,
	[JobLongitude] [nvarchar](50) NULL,
	[JobOriginResponsibleContactID] [bigint] NULL,
	[JobOriginSiteCode] [nvarchar](50) NULL,
	[JobOriginSitePOC] [nvarchar](75) NULL,
	[JobOriginSitePOCPhone] [nvarchar](50) NULL,
	[JobOriginSitePOCEmail] [nvarchar](50) NULL,
	[JobOriginSiteName] [nvarchar](50) NULL,
	[JobOriginStreetAddress] [nvarchar](100) NULL,
	[JobOriginStreetAddress2] [nvarchar](100) NULL,
	[JobOriginCity] [nvarchar](50) NULL,
	[JobOriginState] [nvarchar](50) NULL,
	[JobOriginPostalCode] [nvarchar](50) NULL,
	[JobOriginCountry] [nvarchar](50) NULL,
	[JobOriginTimeZone] [nvarchar](15) NULL,
	[JobOriginDateTimePlanned] [datetime2](7) NULL,
	[JobOriginDateTimeActual] [datetime2](7) NULL,
	[JobOriginDateTimeBaseline] [datetime2](7) NULL,
	[JobProcessingFlags] [nvarchar](20) NULL,
	[JobDeliverySitePOC2] [nvarchar](75) NULL,
	[JobDeliverySitePOCPhone2] [nvarchar](50) NULL,
	[JobDeliverySitePOCEmail2] [nvarchar](50) NULL,
	[JobOriginSitePOC2] [nvarchar](75) NULL,
	[JobOriginSitePOCPhone2] [nvarchar](50) NULL,
	[JobOriginSitePOCEmail2] [nvarchar](50) NULL,
	[JobSellerCode] [nvarchar](20) NULL,
	[JobSellerSitePOC] [nvarchar](75) NULL,
	[JobSellerSitePOCPhone] [nvarchar](50) NULL,
	[JobSellerSitePOCEmail] [nvarchar](50) NULL,
	[JobSellerSitePOC2] [nvarchar](75) NULL,
	[JobSellerSitePOCPhone2] [nvarchar](50) NULL,
	[JobSellerSitePOCEmail2] [nvarchar](50) NULL,
	[JobSellerSiteName] [nvarchar](50) NULL,
	[JobSellerStreetAddress] [nvarchar](100) NULL,
	[JobSellerStreetAddress2] [nvarchar](100) NULL,
	[JobSellerCity] [nvarchar](50) NULL,
	[JobSellerState] [nvarchar](50) NULL,
	[JobSellerPostalCode] [nvarchar](50) NULL,
	[JobSellerCountry] [nvarchar](50) NULL,
	[JobUser01] [nvarchar](20) NULL,
	[JobUser02] [nvarchar](20) NULL,
	[JobUser03] [nvarchar](20) NULL,
	[JobUser04] [nvarchar](20) NULL,
	[JobUser05] [nvarchar](20) NULL,
	[JobStatusFlags] [nvarchar](20) NULL,
	[JobScannerFlags] [nvarchar](20) NULL,
	[ProFlags01] [nvarchar](1) NULL,
	[ProFlags02] [nvarchar](1) NULL,
	[ProFlags03] [nvarchar](1) NULL,
	[ProFlags04] [nvarchar](1) NULL,
	[ProFlags05] [nvarchar](1) NULL,
	[ProFlags06] [nvarchar](1) NULL,
	[ProFlags07] [nvarchar](1) NULL,
	[ProFlags08] [nvarchar](1) NULL,
	[ProFlags09] [nvarchar](1) NULL,
	[ProFlags10] [nvarchar](1) NULL,
	[ProFlags11] [nvarchar](1) NULL,
	[ProFlags12] [nvarchar](1) NULL,
	[ProFlags13] [nvarchar](1) NULL,
	[ProFlags14] [nvarchar](1) NULL,
	[ProFlags15] [nvarchar](1) NULL,
	[ProFlags16] [nvarchar](1) NULL,
	[ProFlags17] [nvarchar](1) NULL,
	[ProFlags18] [nvarchar](1) NULL,
	[ProFlags19] [nvarchar](1) NULL,
	[ProFlags20] [nvarchar](1) NULL,
	[EnteredBy] [nvarchar](50) NULL,
	[DateEntered] [datetime2](7) NULL,
	[ChangedBy] [nvarchar](50) NULL,
	[DateChanged] [datetime2](7) NULL,
	[JobOrderedDate] [datetime2](7) NULL,
	[JobShipmentDate] [datetime2](7) NULL,
	[JobInvoicedDate] [datetime2](7) NULL,
	[JobShipFromSiteName] [nvarchar](50) NULL,
	[JobShipFromStreetAddress] [nvarchar](100) NULL,
	[JobShipFromStreetAddress2] [nvarchar](100) NULL,
	[JobShipFromCity] [nvarchar](50) NULL,
	[JobShipFromState] [nvarchar](50) NULL,
	[JobShipFromPostalCode] [nvarchar](50) NULL,
	[JobShipFromCountry] [nvarchar](50) NULL,
	[JobShipFromSitePOC] [nvarchar](75) NULL,
	[JobShipFromSitePOCPhone] [nvarchar](50) NULL,
	[JobShipFromSitePOCEmail] [nvarchar](50) NULL,
	[JobShipFromSitePOC2] [nvarchar](75) NULL,
	[JobShipFromSitePOCPhone2] [nvarchar](50) NULL,
	[JobShipFromSitePOCEmail2] [nvarchar](50) NULL,
	[VendDCLocationId] [bigint] NULL,
	[JobElectronicInvoice] [bit] NOT NULL,
	[JobOriginStreetAddress3] [nvarchar](100) NULL,
	[JobOriginStreetAddress4] [nvarchar](100) NULL,
	[JobDeliveryStreetAddress3] [nvarchar](100) NULL,
	[JobDeliveryStreetAddress4] [nvarchar](100) NULL,
	[JobSellerStreetAddress3] [nvarchar](100) NULL,
	[JobSellerStreetAddress4] [nvarchar](100) NULL,
	[JobShipFromStreetAddress3] [nvarchar](100) NULL,
	[JobShipFromStreetAddress4] [nvarchar](100) NULL,
	[JobCubesUnitTypeId] [int] NULL,
	[JobWeightUnitTypeId] [int] NULL,
	[JobTotalWeight] [decimal](18, 2) NULL,
	[JobMileage] [decimal](18, 2) NOT NULL,
	[JobPreferredMethod] [int] NULL,
	[JobServiceOrder] [int] NULL,
	[JobServiceActual] [int] NULL,
	[IsCancelled] [bit] NULL,
	[IsJobVocSurvey] [bit] NULL,
	[JobTransitionStatusId] [int] NULL,
	[JobDriverAlert] [nvarchar](max) NULL,
	[JobIsSchedule] [bit] NULL,
	[JobSalesInvoiceNumber] [nvarchar](50) NULL,
	[JobPurchaseInvoiceNumber] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
