SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCR016GatewayList](
	[GatewayStatusID] [bigint] NOT NULL,
	[ProgramID] [bigint] NULL,
	[GatewayCode] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[GatewayStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
