SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSTM000KnowdlegeCategory](
	[CategoryId] [int] NOT NULL,
	[Name] [varchar](500) NULL,
	[DisplayName] [varchar](500) NULL,
	[CategoryTypeId] [int] NULL,
 CONSTRAINT [PK_SYSTM000VideoCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
