SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVYANS000Master](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SurveyUserId] [bigint] NOT NULL,
	[QuestionId] [bigint] NULL,
	[SelectedAnswer] [varchar](max) NULL,
	[DateEntered] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SVYANS000Master] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[SVYANS000Master] ADD  CONSTRAINT [DF_SVYANS000Master_DateEntered]  DEFAULT (getutcdate()) FOR [DateEntered]
GO
ALTER TABLE [dbo].[SVYANS000Master]  WITH CHECK ADD  CONSTRAINT [FK_SVYANS000Master_MVOC010Ref_Questions] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[MVOC010Ref_Questions] ([Id])
GO
ALTER TABLE [dbo].[SVYANS000Master] CHECK CONSTRAINT [FK_SVYANS000Master_MVOC010Ref_Questions]
GO
ALTER TABLE [dbo].[SVYANS000Master]  WITH CHECK ADD  CONSTRAINT [FK_SVYANS000Master_SVYUSER000Master_SurveyUserId] FOREIGN KEY([SurveyUserId])
REFERENCES [dbo].[SVYUSER000Master] ([Id])
GO
ALTER TABLE [dbo].[SVYANS000Master] CHECK CONSTRAINT [FK_SVYANS000Master_SVYUSER000Master_SurveyUserId]
GO
