SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DashboardType](
	[DashboardTypeId] [int] IDENTITY(1,1) NOT NULL,
	[DashboardName] [varchar](150) NULL,
	[DashboardDisplayName] [varchar](150) NULL,
 CONSTRAINT [PK_DashboardType] PRIMARY KEY CLUSTERED 
(
	[DashboardTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
