SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSTM000Ref_UserSettings](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OrganizationId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[LangCode] [nvarchar](10) NULL,
	[GlobalSetting] [bit] NOT NULL,
	[SysJsonSetting] [nvarchar](max) NULL,
 CONSTRAINT [PK_SYSTM000Ref_UserSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[SYSTM000Ref_UserSettings] ADD  CONSTRAINT [DF_SYSTM000Ref_UserSettings_GlobalSetting]  DEFAULT ((0)) FOR [GlobalSetting]
GO
ALTER TABLE [dbo].[SYSTM000Ref_UserSettings]  WITH NOCHECK ADD  CONSTRAINT [FK_SYSTM000Ref_UserSettings_ORGAN000Master] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[ORGAN000Master] ([Id])
GO
ALTER TABLE [dbo].[SYSTM000Ref_UserSettings] CHECK CONSTRAINT [FK_SYSTM000Ref_UserSettings_ORGAN000Master]
GO
ALTER TABLE [dbo].[SYSTM000Ref_UserSettings]  WITH NOCHECK ADD  CONSTRAINT [FK_SYSTM000Ref_UserSettings_SYSTM000OpnSezMe] FOREIGN KEY([UserId])
REFERENCES [dbo].[SYSTM000OpnSezMe] ([Id])
GO
ALTER TABLE [dbo].[SYSTM000Ref_UserSettings] CHECK CONSTRAINT [FK_SYSTM000Ref_UserSettings_SYSTM000OpnSezMe]
GO
