SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailProcessingLog](
	[EmailProcessingId] [bigint] IDENTITY(1,1) NOT NULL,
	[ScenarioTypeId] [int] NULL,
	[ExecutionDateTime] [datetime] NULL,
 CONSTRAINT [PK_EmailProcessingLog] PRIMARY KEY CLUSTERED 
(
	[EmailProcessingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
