SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TestJobGateway](
	[Id] [bigint] NOT NULL,
	[ProgramId] [bigint] NOT NULL,
	[GwyGatewaySortOrder] [int] NULL,
	[GwyGatewayCode] [nvarchar](20) NULL,
	[GwyGatewayTitle] [nvarchar](50) NULL,
	[GwyGatewayDescription] [varbinary](max) NULL,
	[GwyGatewayDuration] [decimal](18, 2) NULL,
	[GwyGatewayDefault] [bit] NULL,
	[GatewayTypeId] [int] NULL,
	[GwyGatewayAnalyst] [bigint] NULL,
	[GwyGatewayResponsible] [bigint] NULL,
	[GwyPerson] [nvarchar](50) NULL,
	[GwyPhone] [nvarchar](25) NULL,
	[GwyEmail] [nvarchar](25) NULL,
	[GwyTitle] [nvarchar](50) NULL,
	[GwyDDPCurrent] [datetime2](7) NULL,
	[GwyDDPNew] [datetime2](7) NULL,
	[GwyUprWindow] [decimal](18, 2) NULL,
	[GwyLwrWindow] [decimal](18, 2) NULL,
	[GwyUprDate] [datetime2](7) NULL,
	[GwyLwrDate] [datetime2](7) NULL,
	[GwyGatewayPCD] [datetime2](7) NULL,
	[GwyGatewayECD] [datetime2](7) NULL,
	[GwyGatewayACD] [datetime2](7) NULL,
	[GwyCompleted] [bit] NULL,
	[GatewayUnitId] [int] NULL,
	[GwyAttachments] [int] NULL,
	[GwyComment] [varbinary](max) NULL,
	[GwyProcessingFlags] [nvarchar](20) NULL,
	[GwyDateRefTypeId] [int] NULL,
	[Scanner] [bit] NULL,
	[GwyShipStatusReasonCode] [nvarchar](20) NULL,
	[GwyShipApptmtReasonCode] [nvarchar](20) NULL,
	[GwyOrderType] [nvarchar](20) NULL,
	[GwyShipmentType] [nvarchar](20) NULL,
	[StatusId] [int] NULL,
	[GwyUpdatedById] [int] NULL,
	[GwyClosedOn] [datetime2](7) NULL,
	[GwyClosedBy] [nvarchar](50) NULL,
	[ProFlags01] [nvarchar](1) NULL,
	[ProFlags02] [nvarchar](1) NULL,
	[ProFlags03] [nvarchar](1) NULL,
	[ProFlags04] [nvarchar](1) NULL,
	[ProFlags05] [nvarchar](1) NULL,
	[ProFlags06] [nvarchar](1) NULL,
	[ProFlags07] [nvarchar](1) NULL,
	[ProFlags08] [nvarchar](1) NULL,
	[ProFlags09] [nvarchar](1) NULL,
	[ProFlags10] [nvarchar](1) NULL,
	[ProFlags11] [nvarchar](1) NULL,
	[ProFlags12] [nvarchar](1) NULL,
	[ProFlags13] [nvarchar](1) NULL,
	[ProFlags14] [nvarchar](1) NULL,
	[ProFlags15] [nvarchar](1) NULL,
	[ProFlags16] [nvarchar](1) NULL,
	[ProFlags17] [nvarchar](1) NULL,
	[ProFlags18] [nvarchar](1) NULL,
	[ProFlags19] [nvarchar](1) NULL,
	[ProFlags20] [nvarchar](1) NULL,
	[DateEntered] [datetime2](7) NULL,
	[EnteredBy] [nvarchar](50) NULL,
	[DateChanged] [datetime2](7) NULL,
	[ChangedBy] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
