SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EDI856ManifestHeader](
	[emhHeaderID] [bigint] IDENTITY(1,1) NOT NULL,
	[emhTradingPartner] [varchar](20) NULL,
	[emhGroupControlNo] [bigint] NULL,
	[emhMasterBOLNo] [varchar](30) NULL,
	[emhOrderTotal] [varchar](10) NULL,
	[emhCustomerReferenceNo] [varchar](30) NULL,
	[emhLMSLocationID] [varchar](30) NULL,
	[emhShipmentDestCode] [varchar](30) NULL,
	[emhOrderType] [varchar](10) NULL,
	[emhPurchaseOrderNo] [varchar](30) NULL,
	[emhBOLNo] [varchar](30) NULL,
	[emhLocationNumber] [varchar](30) NULL,
	[emhOriginalShipFromLocation] [varchar](30) NULL,
	[emhLatitude] [varchar](30) NULL,
	[emhLongitude] [varchar](30) NULL,
	[emhShipDescription] [varchar](80) NULL,
	[emhPromisedDeliveryDate] [datetime2](7) NULL,
	[emhScheduledDeliveryDate] [datetime2](7) NULL,
	[emhOrderATGroup] [varchar](50) NULL,
	[emhManifestNo] [varchar](30) NULL,
	[emhDateSent] [datetime2](7) NULL,
	[emhTimeSent] [datetime2](7) NULL,
	[emhShippedDate] [datetime2](7) NULL,
	[emhEstimatedDeliveryDate] [datetime2](7) NULL,
	[emhPackType] [varchar](10) NULL,
	[emhTotalQuantity] [bigint] NULL,
	[emhCommodityCode] [varchar](50) NULL,
	[emhLadingDescription] [varchar](50) NULL,
	[emhTotalWeight] [decimal](18, 2) NULL,
	[emhItemWeight] [decimal](18, 2) NULL,
	[emhWeightQualifier] [varchar](10) NULL,
	[emhTotalVolume] [decimal](18, 2) NULL,
	[emhVolumeQualifier] [varchar](10) NULL,
	[emhVolumeUnitOfMeasure] [varchar](10) NULL,
	[emhOriginCarrier] [varchar](10) NULL,
	[emhCarrierSCAC] [varchar](80) NULL,
	[emhTransportationMethod] [varchar](80) NULL,
	[emhEquipmentInitials] [varchar](10) NULL,
	[emhEquipmentNumber] [varchar](10) NULL,
	[emhConsigneeName] [varchar](60) NULL,
	[emhConsigneeAddress1] [varchar](75) NULL,
	[emhConsigneeAddress2] [varchar](75) NULL,
	[emhConsigneeCity] [varchar](75) NULL,
	[emhConsigneeState] [varchar](25) NULL,
	[emhConsigneePostalCode] [varchar](15) NULL,
	[emhConsigneeCountryCode] [varchar](10) NULL,
	[emhConsigneeContactName] [varchar](75) NULL,
	[emhConsigneeContactNumber] [varchar](80) NULL,
	[emhConsigneeAltContName] [varchar](75) NULL,
	[emhConsigneeAltContNumber] [varchar](80) NULL,
	[emhInterConsigneeName] [varchar](60) NULL,
	[emhInterConsigneeAddress1] [varchar](75) NULL,
	[emhInterConsigneeAddress2] [varchar](75) NULL,
	[emhInterConsigneeCity] [varchar](75) NULL,
	[emhInterConsigneeState] [varchar](25) NULL,
	[emhInterConsigneePostalCode] [varchar](15) NULL,
	[emhInterConsigneeCountryCode] [varchar](10) NULL,
	[emhInterConsigneeContactName] [varchar](75) NULL,
	[emhInterConsigneeContactNumber] [varchar](80) NULL,
	[emhInterConsigneeAltContName] [varchar](75) NULL,
	[emhInterConsigneeAltContNumber] [varchar](80) NULL,
	[emhShipFromName] [varchar](60) NULL,
	[emhShipFromAddress1] [varchar](75) NULL,
	[emhShipFromAddress2] [varchar](75) NULL,
	[emhShipFromCity] [varchar](75) NULL,
	[emhShipFromState] [varchar](25) NULL,
	[emhShipFromPostalCode] [varchar](15) NULL,
	[emhShipFromCountryCode] [varchar](10) NULL,
	[emhShipFromContactName] [varchar](75) NULL,
	[emhShipFromContactNumber] [varchar](80) NULL,
	[emhShipFromAltContName] [varchar](75) NULL,
	[emhShipFromAltContNumber] [varchar](80) NULL,
	[emhBillToName] [varchar](60) NULL,
	[emhBillToAddress1] [varchar](75) NULL,
	[emhBillToAddress2] [varchar](75) NULL,
	[emhBillToCity] [varchar](75) NULL,
	[emhBillToState] [varchar](25) NULL,
	[emhBillToPostalCode] [varchar](15) NULL,
	[emhBillToCountryCode] [varchar](10) NULL,
	[emhBillToContactName] [varchar](75) NULL,
	[emhBillToContactNumber] [varchar](80) NULL,
	[emhBillToAltContName] [varchar](75) NULL,
	[emhBillToAltContNumber] [varchar](80) NULL,
	[emhTextData] [varchar](max) NULL,
	[emhUDF01] [varchar](30) NULL,
	[emhUDF02] [varchar](30) NULL,
	[emhUDF03] [varchar](30) NULL,
	[emhUDF04] [varchar](30) NULL,
	[emhUDF05] [varchar](30) NULL,
	[emhUDF06] [varchar](30) NULL,
	[emhUDF07] [varchar](30) NULL,
	[emhUDF08] [varchar](30) NULL,
	[emhUDF09] [varchar](30) NULL,
	[emhUDF10] [varchar](30) NULL,
	[ProFlags01] [varchar](1) NULL,
	[ProFlags02] [varchar](1) NULL,
	[ProFlags03] [varchar](1) NULL,
	[ProFlags04] [varchar](1) NULL,
	[ProFlags05] [varchar](1) NULL,
	[ProFlags06] [varchar](1) NULL,
	[ProFlags07] [varchar](1) NULL,
	[ProFlags08] [varchar](1) NULL,
	[ProFlags09] [varchar](1) NULL,
	[ProFlags10] [varchar](1) NULL,
	[ProFlags11] [varchar](1) NULL,
	[ProFlags12] [varchar](1) NULL,
	[ProFlags13] [varchar](1) NULL,
	[ProFlags14] [varchar](1) NULL,
	[ProFlags15] [varchar](1) NULL,
	[ProFlags16] [varchar](1) NULL,
	[ProFlags17] [varchar](1) NULL,
	[ProFlags18] [varchar](1) NULL,
	[ProFlags19] [varchar](1) NULL,
	[ProFlags20] [varchar](1) NULL,
	[DateEntered] [datetime2](7) NULL,
	[EnteredBy] [varchar](50) NULL,
	[DateChanged] [datetime2](7) NULL,
	[ChangedBy] [varchar](50) NULL,
	[emhConsigneeStreetAddress3] [nvarchar](75) NULL,
	[emhConsigneeStreetAddress4] [nvarchar](75) NULL,
	[emhInterConsigneeStreetAddress3] [nvarchar](75) NULL,
	[emhInterConsigneeStreetAddress4] [nvarchar](75) NULL,
	[emhBillToStreetAddress3] [nvarchar](75) NULL,
	[emhBillToStreetAddress4] [nvarchar](75) NULL,
	[emhShipFromStreetAddress3] [nvarchar](75) NULL,
	[emhShipFromStreetAddress4] [nvarchar](75) NULL,
 CONSTRAINT [PK_EDI856ManifestHeader] PRIMARY KEY CLUSTERED 
(
	[emhHeaderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[EDI856ManifestHeader] ADD  CONSTRAINT [DF_EDI856ManifestHeader_DateEntered]  DEFAULT (getutcdate()) FOR [DateEntered]
GO
