SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Security].[AUTH030_LoginProvider](
	[LoginProvider] [varchar](50) NOT NULL,
	[ProviderKey] [varchar](128) NOT NULL,
	[UserId] [bigint] NOT NULL,
 CONSTRAINT [PK_AUTH030_LoginProvider] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [Security].[AUTH030_LoginProvider]  WITH NOCHECK ADD  CONSTRAINT [FK_AUTH030_LoginProvider_SYSTM000OpnSezMe] FOREIGN KEY([UserId])
REFERENCES [dbo].[SYSTM000OpnSezMe] ([Id])
GO
ALTER TABLE [Security].[AUTH030_LoginProvider] CHECK CONSTRAINT [FK_AUTH030_LoginProvider_SYSTM000OpnSezMe]
GO
