@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <h2>Users</h2>
    <hr />
    <div class="row">
        <div class="col-md-6 form-group">
            <input id="btnAddNew" type="button" value="Add User" class="btn btn-group" onclick="@("window.location.href='" + @Url.Action("Create", "User") + "'");" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.Action("UsersGridPartial")
        </div>
    </div>
</div>


@section Scripts{
    <script>
        webUrl = '@Url.Action("Index", "User")';
        //$(window).load(function () {
        //    $("#tblUsers").load();
        //});
    </script>
}
