@*Copyright (2016) Meridian Worldwide Transportation Group
    All Rights Reserved Worldwide
    ====================================================================================================================================================
    Program Title:                                Meridian 4th Party Logistics(M4PL)
    Programmer:                                   Deepika
    Date Programmed:                              2/5/2016
    Program Name:                                 Create
    Purpose:                                      Provides view for User header panel,grid,messages and buttons

    ====================================================================================================================================================*@ 

@using System.Web.UI.WebControls
@model M4PL_API_CommonUtils.Response<M4PL.Entities.User>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*User Header Panel with grid,buttons*@
<div class="container-fluid">
    @Html.DevExpress().Menu(settings =>
        {
            settings.Name = "Users";
            settings.Width = Unit.Percentage(100);

            settings.Items.Add(item =>
            {
                item.Text = "Users";
                item.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ViewEmployees16x16devav;
            });
        }).GetHtml()
    <div class="form-group"></div>
    @Html.Partial("_Messages", Model)
    <div class="row">
        <div class="col-md-6 form-group">

            @Html.DevExpress().Button(settings =>
                {
                    settings.Name = "btnCancel";
                    settings.Text = "Add User";
                    settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsAddfile16x16office2013;
                    settings.UseSubmitBehavior = false;
                    settings.ControlStyle.CssClass = "btn btn-default";
                    settings.RouteValues = Url.Action("Create", "User");
                }).GetHtml()
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Action("UsersGridPartial")
        </div>
    </div>
</div>
@*User Header Panel with grid,buttons*@