@*Copyright (2016) Meridian Worldwide Transportation Group
    All Rights Reserved Worldwide
    ====================================================================================================================================================
    Program Title:                                Meridian 4th Party Logistics(M4PL)
    Programmer:                                   Deepika
    Date Programmed:                              27/3/2016
    Program Name:                                 Index
    Purpose:                                      Provides view for Login Page

    ====================================================================================================================================================*@
<link href="~/Content/Login.css" rel="stylesheet" />
@model M4PL.Entities.Login
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
<link href="~/Content/Common.css" rel="stylesheet" />
<style>
    html {
        overflow-y: auto;
    }
</style>

@section Scripts{
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/mdb.min.js"></script>
    <script src="~/Scripts/App/login.js"></script>
}
@*LOGIN*@

<div class="col-lg-12 col-md-12 col-sm-12">
    <!--Navigation-->
    <nav class="navbar navbar-fixed-top z-depth-5" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand waves-effect waves-light" href="#"><img src="~/Images/logo.png" class="meridian_width" /></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#" class="waves-effect waves-light">Who We Are <span class="sr-only">(current)</span></a></li>
                    <li><a href="#" class="waves-effect waves-light">Services</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Technology
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Meridian Technology</a></li>
                            <li><a href="#">Overall System OverView</a></li>
                            <li><a href="#">Coming Updates</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="waves-effect waves-light">Contact Us</a></li>
                    <li><a href="#" class="waves-effect waves-light">Call Us at (800)262-7030</a></li>

                    <li class="dropdown pull-right">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Login
                            <b class="caret"></b>
                        </a>

                    </li>
                </ul>
                <div class="navbar-form navbar-right" role="search">
                    <div class="form-group waves-effect waves-light">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>

                </div>

            </div>
        </div>
    </nav>
    <!--/.Navigation-->
</div>

<img src="http://meridianww.com/wp-content/uploads/meridian_assets_headerimages_services_01.jpg" class="img-responsive bckgrndImg_width" />

<div class="carousel slide" data-ride="carousel">
    <a href="/contact-meridian-worldwide-transpotation/" class="contact">c<br>o<br>n<br>t<br>a<br>c<br>t</a>

</div>

@*Client Login Panel*@

<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">


            <h1 class="text-center">Client Login</h1>

            <hr />
            <div class="well">
                <form method="post" action='@Url.Action("Login", "Login")'>
                    <div class="form-group">
                        <div class="row">
                            <center><img src="~/Images/M4plLogo.png" class="img-responsive mfpl_HeiWid" /></center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 form-group">
                            <div class="row-fluid">
                                <div class="row">
                                    <div class="input-field col-md-12">
                                        <i class="material-icons prefix">email</i>
                                        @Html.TextBoxFor(model => model.Email, new { @class = "validate" })
                                        <label for="emailId" class="validate">Email ID</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col-md-12">
                                        <i class="material-icons prefix">lock</i>
                                        @Html.PasswordFor(model => model.Password, new { @class = "validate" })
                                        <label for="password" class="validate">Password</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-md-offset-0">
                            <div class="checkbox">
                                <label class="remem_ColorFont">
                                    <input type="checkbox">Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <a href="#" class="pull-right forgot_ColorMartop">Forgot password?</a>
                        </div>
                    </div>
                    <button type="submit" id="btnsubmit" class="btn btn-primary">Login</button>
                    <div class="form-group"><a href="#" class="regis_ColorFont">Register to use the Meridian Transportation System</a></div>

                    <div class="text-center uppercase tag_color">MERIDIAN 4<sup>TH</sup> PARTY LOGISTICS (M4PL<sup>TM</sup>)</div>
                    <div class="text-center uppercase tag_color">COPYRIGHT © 2016 MERIDIAN WORLDWIDE TRANSPORTATION GROUP</div>
                    <div class="text-center uppercase tag_color">ALL RIGHTS RESERVED WORLD WIDE</div>


                </form>

            </div>
        </div>

    </div>
</div>

@*Client Login Panel*@

@*Footer section*@

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Site map</h3>
                <ul class="footer-nav">
                    <li>
                        <a href="/about/">Who We Are</a>
                        <ul>
                            <li><a href="/about/the-meridian-edge/">The Meridian Edge</a></li>
                            <li><a href="/about/company-history/">Company History</a></li>
                            <li><a href="/about/management-team/">Management Team</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/logistic-services/">Services</a>
                        <ul>
                            <li><a href="/logistic-services/home-delivery/">Home Delivery</a></li>
                            <li><a href="/logistic-services/business-delivery/">Business Delivery</a></li>
                            <li><a href="/logistic-services/logistics-program/">Logistics Program Development</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"></a>
                        <ul>
                            <li><a href="/logistic-services/technology-services/">Technology Services</a></li>
                            <li><a href="/logistic-services/truckload-less-than-truckload/">Truckload/Less-Than-Truckload</a></li>
                            <li><a href="/logistic-services/airfreight-international-delivery/">Air Freight and International</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/technology/">Technology</a>
                        <ul>
                            <li><a href="/technology/system-overview/">Overall System Overview</a></li>
                            <li><a href="/coming-updates/">Coming Updates</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/category/news/">News</a>
                        <ul>
                            <li><a href="/category/news/">News Articles</a></li>
                            <li><a href="/category/articles/">Blogs</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact-meridian-worldwide-transpotation/">Contact Us</a></li>
                </ul>
                <!-- social networks -->
                <ul class="social-networks">
                    <li class="facebook"><a target="_blank" rel="nofollow" href="https://www.facebook.com/MeridianWorldWideTransportationGroup"><i class="fa fa-facebook"></i></a></li>
                    <li class="google"><a target="_blank" href="https://plus.google.com/b/107655365774788008892/107655365774788008892/posts"><i class="fa fa-google-plus"></i></a></li>
                    <li class="linkedin"><a target="_blank" rel="nofollow" href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li class="youtube"><a target="_blank" rel="nofollow" href="https://www.youtube.com/channel/UCAaU3rGNua2E0vrFT0twN9g"><i class="fa fa-youtube-play"></i></a></li>
                    <li class="yelp"><a target="_blank" rel="nofollow" href="http://www.yelp.com/biz/meridian-worldwide-transportation-group-corona"><i class="fa icon-yelp"></i></a></li>
                    <li class="share"><a target="_blank" rel="nofollow" class="st_sharethis_custom" st_url="http://meridian-ww.com/" st_processed="yes"><i class="fa fa-share-alt"></i></a></li>
                </ul>

                <p class="copyryt_MarLeft">© 2016 Meridian Worldwide Transportation Group. All Rights Reserved. </p>
            </div>
        </div>
    </div>
</footer>

@*Footer section*@


@*LOGIN*@