<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="WebAPIURL" value="http://localhost:2451/api/"/>
    <!--<add key="WebAPIURL" value="http://70.96.87.92:1111/api/" />-->
    <add key="PageSize" value="10"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="GoogleMapAuthURL" value="https://maps.googleapis.com/maps/api/js?key="/>
    <add key="GoogleMapAuthDistanceURL" value="https://maps.googleapis.com/maps/api/distancematrix/xml?units=imperial"/>
    <add key="GoogleMapAuthKey" value="AIzaSyC__gkF-_5NnFeTyedm7stvTKkmJu5mHI8"/>
    <add key="GoogleMapDistanceMatrixAuthKey" value="AIzaSyA-6bRkoLfeHwymuDvqYCyUdq8_ol4jnUM"/>
    <add key="GoogleMapgeocodeURL" value="https://maps.googleapis.com/maps/api/geocode/xml?address="/>
    <add key="JobCardViewSchedulerTimeInterval" value="600000"/>
    <add key="IsBundlingEnable" value="0"/>
    <add key="DayLightSavingStartDate" value="03/08/2020"/>
    <add key="DayLightSavingEndDate" value="11/01/2020"/>
    <add key="NavRateUploadColumns" value="Location,Code,CustomerCode,VendorCode,EffectiveDate,Title,BillableElectronicInvoice,CostElectronicInvoice,Category"/>
    <add key="GatewayUploadColumns" value="Code,Title,Units,Default,Type,DateReference,StatusReasonCode,AppointmentReasonCode,OrderType,ShipmentType,GatewayStatusCode,NextGateway,IsDefaultComplete,InstallStatus,TransitionStatus,IsStartGateway"/>
    <add key="ReasonCodeUploadColumns" value="PscShipReasonCode,PscShipInternalCode,PscShipPriorityCode,PscShipTitle,Description,Comment,PscShipCategoryCode,PscShipUser01Code,PscShipUser02Code,PscShipUser03Code,PscShipUser04Code,PscShipUser05Code"/>
    <add key="AppointmentCodeUploadColumns" value="PacApptReasonCode,PacApptInternalCode,PacApptPriorityCode,PacApptTitle,Description,Comment,PacApptCategoryCode,PacApptUser01Code,PacApptUser02Code,PacApptUser03Code,PacApptUser04Code,PacApptUser05Code"/>
    <add key="VendorProfileUploadColumns" value="PostalCode,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,FanRun,VendorCode"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=172.30.255.47\MSSQLSERVER2019,1443;Database=M4PL_Dev;User ID=M4PL_Admin;Password=Orbit+987*;" providerName="System.Data.SqlClient"/>
    <add name="ESignConnection" connectionString="Server=172.30.255.47\MSSQLSERVER2019,1443;Database=M4PL_Dev;User ID=M4PL_Admin;Password=Orbit+987*;" providerName="System.Data.SqlClient"/>
    <add name="XcblConnection" connectionString="server=172.30.255.47\MSSQLSERVER2019,1443;Database=M4PL_Dev;User ID=M4PL_Admin;Password=Orbit+987*;" providerName="system.data.sqlclient"/>
    <!--<add name="DefaultConnection" connectionString="Server=172.30.255.47\MSSQLSERVER2019,1443;Database=M4PL_Test;User ID=M4PL_Admin;Password=Orbit+987*;" providerName="System.Data.SqlClient" />
    <add name="ESignConnection" connectionString="Server=172.30.255.47\MSSQLSERVER2019,1443;Database=M4PL_Test;User ID=M4PL_Admin;Password=Orbit+987*;" providerName="System.Data.SqlClient" />
    <add name="XcblConnection" connectionString="server=172.30.255.47\MSSQLSERVER2019,1443;Database=M4PL_Test;User ID=M4PL_Admin;Password=Orbit+987*;" providerName="system.data.sqlclient" />-->
    <!--<add name="DefaultConnection" connectionString="Server=70.96.87.92\SQLDEV01,1433;Database=M4PL_Production;User ID=sa;Password=Mer!d!anIT2020;" providerName="System.Data.SqlClient" />
    <add name="ESignConnection" connectionString="Server=70.96.87.92\SQLDEV01,1433;Database=M4PL_Production;User ID=sa;Password=Mer!d!anIT2020;" providerName="System.Data.SqlClient" />
    <add name="XcblConnection" connectionString="Server=70.96.87.92\SQLDEV01,1433;Database=M4PL_Production;User ID=sa;Password=Mer!d!anIT2020;"  providerName="system.data.sqlclient" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="DevExpress.Utils.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Data.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxThemes.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.RichEdit.v19.2.Core, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Printing.v19.2.Core, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.Mvc5.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxSpellChecker.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.SpellChecker.v19.2.Core, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxHtmlEditor.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxRichEdit.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Charts.v19.2.Core, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraCharts.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraCharts.v19.2.Web, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.Resources.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraReports.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraReports.v19.2.Web, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraReports.v19.2.Web.WebForms, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxTreeList.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxGantt.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Dashboard.v19.2.Core, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Dashboard.v19.2.Web, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Dashboard.v19.2.Web.WebForms, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Dashboard.v19.2.Web.Mvc5, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxPivotGrid.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraPivotGrid.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.PivotGrid.v19.2.Core, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Spreadsheet.v19.2.Core, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxSpreadsheet.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraScheduler.v19.2.Core, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxScheduler.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.DataAccess.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Pdf.v19.2.Core, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.CodeParser.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Office.v19.2.Core, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Sparkline.v19.2.Core, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Xpo.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraGauges.v19.2.Core, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.TreeMap.v19.2.Core, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Map.v19.2.Core, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraTreeMap.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraGauges.v19.2.Presets, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraGauges.v19.2.Win, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraMap.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraEditors.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraPrinting.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
      </assemblies>
    </compilation>
    <!--upgraded upto 2gb restriction for file upload given-->
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" requestValidationMode="4.0" executionTimeout="1600" requestLengthDiskThreshold="2147483647"/>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false"/>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false"/>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXRD.axd" validate="false"/>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXRDV.axd" validate="false"/>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXQB.axd" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </httpModules>
    <globalization culture="" uiCulture=""/>
    <pages validateRequest="true" clientIDMode="AutoID">
      <namespaces>
        <add namespace="DevExpress.Utils"/>
        <add namespace="DevExpress.Web.ASPxThemes"/>
        <add namespace="DevExpress.Web"/>
        <add namespace="DevExpress.Web.Mvc"/>
        <add namespace="DevExpress.Web.Mvc.UI"/>
        <add namespace="DevExpress.Web.ASPxHtmlEditor"/>
        <add namespace="DevExpress.Web.ASPxRichEdit"/>
        <add namespace="DevExpress.XtraCharts"/>
        <add namespace="DevExpress.XtraCharts.Web"/>
        <add namespace="DevExpress.XtraReports"/>
        <add namespace="DevExpress.XtraReports.UI"/>
        <add namespace="DevExpress.XtraReports.Web"/>
        <add namespace="DevExpress.XtraReports.Web.DocumentViewer"/>
        <add namespace="DevExpress.Web.ASPxTreeList"/>
        <add namespace="DevExpress.DashboardWeb.Mvc"/>
        <add namespace="DevExpress.Web.ASPxPivotGrid"/>
        <add namespace="DevExpress.XtraPivotGrid"/>
        <add namespace="DevExpress.Data.PivotGrid"/>
        <add namespace="DevExpress.Web.ASPxSpreadsheet"/>
        <add namespace="DevExpress.XtraScheduler"/>
        <add namespace="DevExpress.Web.ASPxScheduler"/>
        <add namespace="DevExpress.Web.ASPxScheduler.Controls"/>
        <add namespace="DevExpress.Web.ASPxScheduler.Reporting"/>
      </namespaces>
    </pages>
  </system.web>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode"/>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXRD.axd" name="ASPxReportDesignerHandlerModule" preCondition="integratedMode"/>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXRDV.axd" name="ASPxWebDocumentViewerHandlerModule" preCondition="integratedMode"/>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXQB.axd" name="ASPxQueryBuilderDesignerHandlerModule" preCondition="integratedMode"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <modules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="Default" customThemeAssemblies=""/>
    <compression enableHtmlCompression="true" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
    <settings accessibilityCompliant="false" doctypeMode="Html5" rightToLeft="false" embedRequiredClientLibraries="true" checkReferencesToExternalScripts="true" ieCompatibilityVersion="11"/>
    <!--<errors callbackErrorRedirectUrl="MvcBase/CallBackError" />-->
  </devExpress>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>