@using M4PL.Web.Providers;
@using Newtonsoft.Json;
@model M4PL.Entities.Support.MvcRoute
@{
    List<long> jobIds = new List<long>();
    Model.JobIds.ForEach(t => { if (!string.IsNullOrEmpty(t)) jobIds.Add(Convert.ToInt64(t)); });
    long parentRecordId = ViewBag.ParentRecordId;
}
<div class="row form-btns-block" style="height:165px;">
    <div class="col-md-12">
        @Html.DevExpress().RoundPanel(set =>
       {
           set.Name = "pnlMultiGateway";
           set.AllowCollapsingByHeaderClick = true;
           set.ShowCollapseButton = false;
           set.Enabled = false;
           set.Collapsed = false;
           set.ShowHeader = false;
           set.Width = 300;
           set.SetContent(() =>
           {
               if (jobIds != null && jobIds.Count() > 0 && ViewData["MultiGatewayComboBox"] != null)
               {
                   ViewContext.Writer.Write("<div class='form-row-group col-md-6'>");
                   ViewContext.Writer.Write("<strong>Gateway</strong>");
                   Html.DevExpress().ComboBox(settings =>
                   {
                       settings.Name = "MultiGatewayComboBox";
                       settings.Width = 180;
                       settings.SelectedIndex = 0;
                       settings.CallbackRouteValues = new { Controller = "JobGateway", Action = "AddMultiAction", Area = "Job" };
                       settings.Properties.CallbackPageSize = 15;
                       settings.Properties.TextField = "GwyGatewayCode";
                       settings.Properties.ValueField = "GwyGatewayCode";
                       settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
                   }).BindList((List<M4PL.Entities.Job.JobGatewayDetails>)ViewData["MultiGatewayComboBox"]).GetHtml();
                   ViewContext.Writer.Write("</div>");
                   ViewContext.Writer.Write("<div class='col-md-12' style='padding-top:10px;text-align:right;'>"); Html.DevExpress().Button(settings =>
                   {
                       settings.Name = "BtnSubmitMultiGateway";
                       settings.Text = "ADD GATEWAY";
                       settings.Width = 120;
                       settings.ClientVisible = true;
                       settings.GroupName = "FakeGroup";
                       settings.ClientSideEvents.CheckedChanged = string.Format("function(s, e, strRoute){{ M4PLCommon.JobMultiSelect.BtnSubmitMultiGateway(s, e, '{0}'); }}", JsonConvert.SerializeObject(Model));
                   }).GetHtml();
                   ViewContext.Writer.Write("</div>");
               }
               else
               {
                   ViewContext.Writer.Write("<div class='col-md-12'>");
                   ViewContext.Writer.Write("<strong class='danger' style='color:red;'>" + ViewBag.Message + "</strong>");
                   ViewContext.Writer.Write("</div>");
               }

           });
       }).GetHtml()
    </div>
</div>
