@*Copyright (2016) Meridian Worldwide Transportation Group
    
    //====================================================================================================================================================
    //Program Title:                                Meridian 4th Party Logistics(M4PL)
    //Programmer:                                   Kirty Anurag
    //Date Programmed:                              13/10/2017
    //Program Name:                                 JobGatewayFormView
    //Purpose:                                      Provides view for Job's gateway
    //====================================================================================================================================================*@

@using M4PL.Entities
@using System.Web.UI.WebControls
@using M4PL.Web.Providers
@model  M4PL.Web.Models.FormResult<M4PL.Entities.Support.JobGatewayComplete>
@{
    ViewBag.Title = Model.PageName;
    Model.Record.JobID = Model.Record.ParentId;
    Model.ControlNameSuffix = Model.CallBackRoute.Action;
    ViewData[MvcConstants.NameSuffix] = Model.ControlNameSuffix;
    var appointmentDropDownViewModel = Model.Record.GwyShipApptmtReasonCode.GetStringDropDown(EntitiesAlias.PrgShipApptmtReasonCode, "PacApptReasonCode", "GwyShipApptmtReasonCode", Model.ColumnSettings.FirstOrDefault("GwyShipApptmtReasonCode").ColAliasName, Model.ColumnSettings.FirstOrDefault("GwyShipApptmtReasonCode").IsRequired, Model.IsPopUp, string.Empty, Model.Permission, Model.Record.ProgramID.GetValueOrDefault());
    var reasonDropDownViewModel = Model.Record.GwyShipStatusReasonCode.GetStringDropDown(EntitiesAlias.PrgShipStatusReasonCode, "PscShipReasonCode", "GwyShipStatusReasonCode", Model.ColumnSettings.FirstOrDefault("GwyShipStatusReasonCode").ColAliasName, Model.ColumnSettings.FirstOrDefault("GwyShipStatusReasonCode").IsRequired, Model.IsPopUp, string.Empty, Model.Permission, Model.Record.ProgramID.GetValueOrDefault());
    appointmentDropDownViewModel.NameSuffix = reasonDropDownViewModel.NameSuffix = Model.ControlNameSuffix;
}

@using (Html.BeginForm(MvcConstants.ActionAddOrEditJobGatewayComplete, Model.CallBackRoute.Controller, FormMethod.Post, new { id = Model.FormId }))
{

    <div class="col-md-12 no-padding job-gtw-complete">
        @Html.DevExpress().RoundPanel(settings =>
       {
           settings.Name = "pnlJobGatewayComplete";
           settings.Width = Unit.Percentage(100);
           settings.AllowCollapsingByHeaderClick = true;
           settings.ShowCollapseButton = true;
           settings.HeaderText = "Gateway Detail";
           settings.Collapsed = false;
           settings.ControlStyle.CssClass = "form-layout";
           settings.SetContent(() =>
           {
               ViewContext.Writer.Write(Html.HiddenFor(m => m.Record.Id, new { Name = "Id" }).ToHtmlString());
               ViewContext.Writer.Write("<div class='form-row-group col-fixed-20'>" + Html.EditorFor(m => m.Record.GwyGatewayCode).ToHtmlString() + "</div>");
               ViewContext.Writer.Write("<div class='form-row-group col-fixed-50'>" + Html.EditorFor(m => m.Record.GwyGatewayTitle).ToHtmlString() + "</div>");
               ViewContext.Writer.Write("<div class='form-row-group col-fixed-20'>" + Html.Action(MvcConstants.ActionDropDownViewTemplate, EntitiesAlias.Common.ToString(), new { Area = string.Empty, strDropDownViewModel = Newtonsoft.Json.JsonConvert.SerializeObject(reasonDropDownViewModel) }) + "</div>");
               ViewContext.Writer.Write("<div class='form-row-group col-fixed-20'>" + Html.Action(MvcConstants.ActionDropDownViewTemplate, EntitiesAlias.Common.ToString(), new { Area = string.Empty, strDropDownViewModel = Newtonsoft.Json.JsonConvert.SerializeObject(appointmentDropDownViewModel) }) + "</div>");
           });
       }).GetHtml()
    </div>




    <div class="form-btns-block">
        <div class="half-width">
            @Html.DevExpress().Button(settings =>
           {
               settings.Name = "btn" + Model.CallBackRoute.Controller + "Save";//The name standard dependent on Ribbon's 'Save' functionality.Please make changes BaseController 'Ribbon' region 'Save' action
               settings.EnableTheming = true;
               settings.Text = Convert.ToString(ViewData[MvcConstants.OkLangName]);
               settings.AllowFocus = false;
               settings.ControlStyle.CssClass = "form-btn pull-right";
               settings.Enabled = (Model.Record.Id > 0) ? !(Model.Permission < Permission.EditAll) : !(Model.Permission < Permission.AddEdit);
               settings.ClientSideEvents.Click = "function(s, e){ " + string.Format(JsConstants.JobGatewayCompleteRecordPopupSubmitClick, string.Concat(Model.CallBackRoute.Action, Model.CallBackRoute.Controller, "Form"), WebApplicationConstants.PopupSuffix + Model.CallBackRoute.Action.ToString(), Newtonsoft.Json.JsonConvert.SerializeObject(Model.CallBackRoute), false) + "}";
               settings.Images.Image.Url = WebExtension.ConvertByteToString(Model.Operations[(Model.Record.Id > 0) ? OperationTypeEnum.Edit : OperationTypeEnum.New].Icon);

           }).GetHtml()
        </div>
        <div class="half-width">
            @Html.DevExpress().Button(settings =>
       {
           settings.Name = "btn" + Model.CallBackRoute.Controller + "Cancel";
           settings.EnableTheming = true;
           settings.Text = Model.Operations[OperationTypeEnum.Cancel].LangName;
           settings.AllowFocus = false;
           settings.ControlStyle.CssClass = "form-btn pull-left";
           settings.ClientSideEvents.Click = "function(s, e){" + JsConstants.RecordPopupCancelClick + " }";
           settings.Images.Image.Url = WebExtension.ConvertByteToString(Model.Operations[OperationTypeEnum.Cancel].Icon);

       }).GetHtml()
        </div>
    </div>
}